<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Gastreet Admin Panel</title>
        {loadscript file='/js/plugins/chosen/chosen.min.css' type='css'}
        <!-- Bootstrap Core CSS -->
        {loadscript file='/css/bootstrap.min.css' type='css'}
        <!-- Custom CSS -->
        {loadscript file='/css/sb-admin.css' type='css'}
        <!-- Morris Charts CSS -->
        {loadscript file='/css/plugins/morris.css' type='css'}
        <!-- Custom Fonts -->
        {loadscript file='/css/font-awesome.min.css' type='css'}

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- jQuery -->
        {loadscript file='/js/jquery.js' type='js'}
        {loadscript file="/js/plugins/chosen/chosen.jquery.min.js" type="js"}
        <!-- Bootstrap Core JavaScript -->
        {loadscript file='/js/bootstrap.min.js' type='js'}
        <!-- Morris Charts JavaScript -->
        {loadscript file='/js/plugins/morris/raphael.min.js' type='js'}
    </head>
    <body>
        <div id="wrapper">
            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Переключатель</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand dropdown-toggle" type="button" id="dropdownMenuAdmin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Gastreet Admin Panel <b class="caret"></b></a>
                    <div class="navbar-admin dropdown-menu" aria-labelledby="dropdownMenuAdmin">
                        {component name="Adminkamenu"}
                    </div>
                </div>
                <!-- Top Menu Items -->
                <ul class="nav navbar-right top-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {$actor->name} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{alink show=operatorpassword}"><i class="fa fa-fw fa-unlock-alt"></i> Сменить пароль оператора</a></li>
                            <li><a href="{alink show=manageoperators}"><i class="fa fa-fw fa-users"></i> Операторы</a></li>
                            <li><a href="{alink show=masterpassword}"><i class="fa fa-fw fa-shield"></i> Сменить мастер-пароль</a></li>
                            <hr/>
                            <li><a href="{alink do=operatorlogout}"><i class="fa fa-fw fa-power-off"></i> Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            {displayerror}
                            {include file=$CURRENT_CONTROL_TEMPLATE}
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /#page-wrapper -->
        </div>
        <!-- /#wrapper -->
        {literal}
        <script type="text/javascript">
            $(document).ready(function() {
                $("select.chosen-select").chosen();
            });

            $(window).keydown(function(event) {
                let saveBtn = $("input[type=submit][value=Сохранить]");
                if (saveBtn.length) {
                    let keyCode = event.keyCode;
                    if (event.ctrlKey && keyCode === 83) {
                        saveBtn.click();
                        return false
                    }
                }
            });
        </script>
        {/literal}
    </body>
</html>