<!DOCTYPE html>
<html lang="ru">
    {formrestore id="operator-login"}
    <head>
        <title>{$pageTitle} {revision}</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">
        {loadscript file='/css/adminka.css' type='css'}
        {loadscript file='/js/plugins/chosen/chosen.min.css' type='css'}
        {loadscript file='/css/adminkalogin.css' type='css'}
        {loadscript file="/js/jquery.js" type="js"}
        {loadscript file="/js/plugins/chosen/chosen.jquery.min.js" type="js"}
    </head>
    <body>
        {displayerror}
        <div id="login">
            <form name="form-login" id="operator-login" action="{alink do=operatorlogin}" method="post">
                <span><i class="fa fa-user" aria-hidden="true"></i></span>
                <input type="text" id="email" name="email" placeholder="Email">
                <span><i class="fa fa-lock" aria-hidden="true"></i></span>
                <input type="password" name="password" id="password" placeholder="Password">
                <input type="submit" value="Войти">
            </form>
        </div>
        {include file=$CURRENT_CONTROL_TEMPLATE}
    </body>
</html>