<!DOCTYPE html>
<html class="no-js" lang="{$lang}">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>{if $pageTitle}{$pageTitle}{/if}{if $p > 1} - ##page## {$p}{/if}</title>
        <meta name="description" content="{$pageDesc}"/>
        <meta name="keywords" content=""/>
        <meta name="robots" content="index,follow,noodp,noydir"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />

        <link href="/js/bootstrap.modal/bootstrap-modal.min.css" rel="stylesheet"/>
        <link href="/js/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet"/>
        <link href="/js/lightgallery/css/lightgallery.min.css" rel="stylesheet"/>

        <link href="/css/modal-window.css" rel="stylesheet">

        <link href="/css/gss/bootstrap.min.css" rel="stylesheet">
        <link href="/css/docs.min.css" rel="stylesheet">
        <link href="/css/half-slider.css" rel="stylesheet">

        <link href="/css/gss/styles-new.css" rel="stylesheet"/>
        <link href="/css/style.css" rel="stylesheet"/>
        <link href="/css/style-gss.css" rel="stylesheet"/>
        <link href="/css/font-awesome.min.css" rel="stylesheet">

        <script>
            var message = '{displaynotification}';
        </script>
        <link rel="manifest" href="/manifest.json">
        <script src="https://cdn.viapush.com/cdn/v1/sdks/viapush.js" async="" charset="UTF-8"></script>
        {literal}
        <script>
            var ViaPush = window.ViaPush || [];
            ViaPush.push(["init", { appId: "b58fa8ab-cf0e-8196-4952-9be21bc2b1f6" }]);
        </script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159058716-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-159058716-1');
        </script>

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5PLBL8S');</script>
        <!-- End Google Tag Manager -->
        <script>
            !function (w, d, t) {
                w.TiktokAnalyticsObject=t;var ttq=w[t]=w[t]||[];ttq.methods=["page","track","identify","instances","debug","on","off","once","ready","alias","group","enableCookie","disableCookie"],ttq.setAndDefer=function(t,e){t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var i=0;i<ttq.methods.length;i++)ttq.setAndDefer(ttq,ttq.methods[i]);ttq.instance=function(t){for(var e=ttq._i[t]||[],n=0;n<ttq.methods.length;n++)ttq.setAndDefer(e,ttq.methods[n]);return e},ttq.load=function(e,n){var i="https://analytics.tiktok.com/i18n/pixel/events.js";ttq._i=ttq._i||{},ttq._i[e]=[],ttq._i[e]._u=i,ttq._t=ttq._t||{},ttq._t[e]=+new Date,ttq._o=ttq._o||{},ttq._o[e]=n||{};var o=document.createElement("script");o.type="text/javascript",o.async=!0,o.src=i+"?sdkid="+e+"&lib="+t;var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(o,a)};
                ttq.load('C11ODPNMJ1JP7306FPO0');
                ttq.page();
            }(window, document, 'ttq');
        </script>
        {/literal}
    </head>
    <body>
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5PLBL8S" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <div class="l-site">
            {component name="Topmenu"}
            <div class="l-container">
                <div class="page-container" id="page-container">
                    <div class="l-row">
                        <div class="l-col-lgm-6">
                            <div class="page-container-image" id="page-container-image">
                                <picture>
                                    <source srcset="content/performances.jpg" media="(min-width: 1200px)"><img src="content/performances-m.jpg">
                                </picture>
                            </div>
                        </div>
                        <div class="l-col-lgm-6">
                            <div class="page-container-inner" id="page-container-inner">
                                {include file=$CURRENT_CONTROL_TEMPLATE}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="stick-to-footer l-container">
                <div class="instagram-gallery">
                    <div class="gallery-col"><img src="/content/instagram.png"><img src="/images/collages/perf1.jpg"></div>
                    <div class="gallery-col"><img src="/images/collages/perf7.jpg">
                        <div class="gallery-row">
                            <div class="gallery-col-1of2"><img src="/images/collages/perf3.jpg">
                            </div>
                            <div class="gallery-col-1of2"><img src="/images/collages/perf4.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="gallery-col"><img src="/images/collages/perf5.jpg">
                        <div class="gallery-row">
                            <div class="gallery-col-1of2"><img src="/images/collages/perf6.jpg">
                            </div>
                            <div class="gallery-col-1of2"><img src="/images/collages/perf2.jpg">
                            </div>
                        </div>
                        <img src="/images/collages/perf8.jpg">
                    </div>
                </div>
            </div>
            <div class="l-container gss-tag">#gastreetshow</div>

            {control name=Age}

            {control name=Footer}
        </div>
        {control name=Webstat}
        {control name=Avatarlink}

        {if $jivoSite == 1}
            <script src="/js/jivosite.js"></script>
        {/if}
        
        <script src="/js/jquery.min.js" type="text/javascript"></script>
        <script src="/js/modernizr/modernizr.js"></script>
        <script src="/js/viewport-size/viewportSize-min.js"></script>
        <script src="/js/bootstrap.js"></script>
        <script src="/js/owl.carousel/owl.carousel.min.js"></script>
        <script src="/js/lightgallery/js/lightgallery.min.js"></script>
        <script src="/js/lightgallery/js/lg-video.min.js"></script>
        <script src="/js/isotope/isotope.pkgd.min.js"></script>

        <script src="/js/jquery.cookie.js"></script>

        <script src="/js/jquery.capSlide.js"></script>
        <script src="/js/app/layout.js"></script>
        <script src="/js/app/app.js"></script>

        <script src="/js/vkpixel.js"></script>
        <script src="/js/fbpixel.js"></script>
        {$includedJS}
    </body>
</html>