<!DOCTYPE html>
<html class="no-js" lang="{$lang}">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>{if $pageTitle}{$pageTitle}{/if}{if $p > 1} - ##page## {$p}{/if}</title>
        <meta name="description" content="{$pageDesc}"/>
        <meta name="keywords" content=""/>
        <meta name="robots" content="index,follow,noodp,noydir"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
        <meta name="yandex-verification" content="41ad686aace54a72" />
        <meta property="og:image" content="{$pageImg}">

        {loadscript file='/css/modal-window.css' type='css'}
        {loadscript file='/js/owl.carousel/assets/owl.carousel.min.css' type='css'}
        {loadscript file='/js/lightgallery/css/lightgallery.min.css' type='css'}

        {loadscript file='/css/bootstrap4/css/bootstrap.min.css' type='css'}
        {loadscript file='/css/docs.min.css' type='css'}
        {loadscript file='/css/half-slider.css' type='css'}

        {loadscript file='/css/gss/styles-new.css' type='css'}
        {loadscript file='/css/style.css' type='css'}
        {loadscript file='/css/style-gss.css' type='css'}
        {loadscript file='/css/font-awesome.min.css' type='css'}

        <script>
            let message = '{displaynotification}';
        </script>
        <link rel="manifest" href="/manifest.json">
        <script src="https://cdn.viapush.com/cdn/v1/sdks/viapush.js" async="" charset="UTF-8"></script>
        {literal}
        <script>
            var ViaPush = window.ViaPush || [];
            ViaPush.push(["init", { appId: "b58fa8ab-cf0e-8196-4952-9be21bc2b1f6" }]);
        </script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159058716-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-159058716-1');
        </script>

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5PLBL8S');</script>
        <!-- End Google Tag Manager -->
        {/literal}
    </head>
    <body class="d-flex flex-column h-100 main-page">
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5PLBL8S" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        {component name="Topmenu"}
		
        <main role="main" class="flex-shrink-0 pb-4">
            <div class="modal fade" id="video-modal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="##close##"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="videoModalLabel">##videoModalLabel##</h4>
                        </div>
                        <div class="modal-body">
                            <iframe allowfullscreen="" height="400" src="" style="width:100%"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <section class="l-site">
                <section class="main-slider_may">
                    <img src="/images/main/mart/slider_mainstreet_bg_may.jpg" class="img-fluid" alt="" style="width: 100%;">
                </section>
                <div class="gss-mainpage-statistics container mt-md-3">
                    <div class="row align-items-center">
                        <div class="col-md-6 mb-3 mb-md-0">
                            <div class="gss-mainpage-statistics-col1">
                                <span class="gss-mainpage-statistics-digits" style="color: #0088d4;">31 мая — 4 июня 2021</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="social-icons text-md-right">
                                <a href="https://www.instagram.com/gastreetshow" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="https://www.instagram.com/explore/tags/gastreetshow/" target="_blank">#</a>
                                <a href="https://www.facebook.com/gastreetshow" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="{link show=avatar}" target="_blank">Сделать аватар</a>
                            </div>
                        </div>
                    </div>
                </div>
                <section class="page-section mt-4">
                    <div class="container">
                        <div class="about-event">
                            <div class="row">
                                <div class="col-md-12" style="color: #000">
                                    <iframe class="main_video" width="100%" height="400" src="https://www.youtube.com/embed/wWgzx9H9wUw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                                    <h2 class="section-headline mt-5 text-center">Уважаемые клиенты!</h2>
                                    <p>С 31 марта 2020 г. на территории Краснодарского края введен режим повышенной
                                    готовности. Согласно данному режиму приостановлено проведение любых (в том числе
                                    развлекательных, зрелищных, культурных, деловых, просветительских) мероприятий с очным
                                    присутствием граждан. Проведение мероприятия Gastreet International Restaurant Show также
                                    подпадает под временный запрет государственных органов согласно Постановлению №178
                                    Губернатора Краснодарского края Кондратьева В.И. от 30 марта 2020г. Деятельность объектов
                                    массового отдыха, в том числе курорта «Красная Поляна» (далее Курорта) также
                                    приостановлена. Курорт является основной площадкой проведения мероприятия Gastreet
                                    International Restaurant Show. Режим повышенной готовности в настоящий момент продлен до 11
                                    мая 2020 года (согласно Постановлению Губернатора Краснодарского края № 255 от 30.04.2020
                                    г.) и с большой долей вероятности будет продлен далее. Курорт приостановил свою работу с 28
                                    марта до 1 июня 2020 года в соответствии с поручением Председателя Правительства Российской
                                    Федерации от 27 марта 2020 г.</p>
                                    <p>Организатор, согласно законодательству РФ, обязан предоставить паспорт безопасности
                                    на проведение массового мероприятия минимум за 45 дней до начала мероприятия в МВД и
                                    Администрацию города. В связи с динамикой распространения COVID-19 подписание данного
                                    документа и получение разрешения на проведение мероприятия с 1 по 5 июня 2020 является
                                    невозможным.</p>
                                    <p>В связи со всем вышеперечисленным, принято решение о переносе Gastreet International
                                    Restaurant Show с 31 мая по 4 июня 2021г.</p>
                                    <p>Средства, оплаченные за билеты на Gastreet International Restaurant Show, будут
                                    возвращены в полном объеме на лицевой счет в вашем личном кабинете на сайтe
                                    www.gastreet.com. Этими средствами можно будет воспользоваться на следующих мероприятиях
                                    Gastreet International Restaurant Show в 2021 или 2022 годах на ваш выбор, с сохранением
                                    категории билета вне зависимости от его стоимости.</p>
                                    <p><a href="/pdf/regulation_178.pdf" download>Скачать «Постановление 178»</a></p>
                                    <p><a href="/pdf/transfer_notification.pdf" download>Скачать «Уведомление о переносе»</a></p>

                                    {if $fmList}
                                    <div class="accordion mt-5" id="accordionFaq">
                                        <!-- loop start -->
                                        {foreach item=faq from=$fmList}
                                        <div class="card">
                                            <div class="card-header" id="heading{$faq->id}">
                                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse{$faq->id}" aria-expanded="false" aria-controls="collapse{$faq->id}">
                                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                                    <div><b>{if $lang == 'en'}{$faq->question_en}{else}{$faq->question}{/if}</b></div>
                                                </button>
                                            </div>
                                            <div id="collapse{$faq->id}" class="collapse" aria-labelledby="heading{$faq->id}" data-parent="#accordionFaq">
                                                <div class="card-body">
                                                    {if $lang == 'en'}{$faq->answer_en|dbtexttohtml}{else}{$faq->answer|dbtexttohtml}{/if}
                                                </div>
                                            </div>
                                        </div>
                                        {/foreach}
                                        <!-- loop end -->
                                    </div>
                                    {/if}
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                {control name=Age}
            </section>
            <section class="page-section d-none">
                <div class="container text-center">
                    <a class="more-link" target="_blank" href="/pdf/gastreet19_partners.pdf"><span>Каталог партнеров</span></a>
                </div>
            </section>
        </main>
        {control name=Footer}
        {control name=Webstat}
        {control name=Avatarlink}

        {if $jivoSite == 1}
            {loadscript file='/js/jivosite.js' type='js'}
        {/if}
        {loadscript file='/js/jquery.min.js' type='js'}
        {loadscript file='/js/modernizr/modernizr.js' type='js'}
        {loadscript file='/js/viewport-size/viewportSize-min.js' type='js'}
        {loadscript file='/css/bootstrap4/js/popper.min.js' type='js'}
        {loadscript file='/css/bootstrap4/js/bootstrap.js' type='js'}
        {loadscript file='/js/owl.carousel/owl.carousel.min.js' type='js'}
        {loadscript file='/js/lightgallery/js/lightgallery.min.js' type='js'}
        {loadscript file='/js/lightgallery/js/lg-video.min.js' type='js'}
        {loadscript file='/js/isotope/isotope.pkgd.min.js' type='js'}

        {loadscript file='/js/jquery.cookie.js' type='js'}

        {loadscript file='/js/jquery.capSlide.js' type='js'}
        {loadscript file='/js/app/layout.js' type='js'}
        {loadscript file='/js/app/app.js' type='js'}
        {loadscript file='/js/pages/catalog.js' type='js'}
        {loadscript file='/js/vkpixel.js' type='js'}
        {loadscript file='/js/fbpixel.js' type='js'}

        {$includedJS}
    </body>
</html>