<!DOCTYPE html>
<html lang="{$lang}">
    <head>
        <meta charset="utf-8">
        <title>{$pageTitle}</title>
        <base href="//{$host}/"/>
        <meta property="og:title" content="{$pageTitle}"/>
        <meta name="keywords" content=""/>
        <meta name="description" content="{$pageDesc}"/>
        <meta property="og:description" content="{$pageDesc}"/>
        <meta property="og:image" content="https://gastreet.com/images/fb_share_6.jpg">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
        <link rel="shortcut icon" href="/images/favicon.ico"/>
        <link rel="apple-touch-icon" href="/images/touch-icon-iphone.png"/>
        <link rel="apple-touch-icon" sizes="152x152" href="/images/touch-icon-ipad.png"/>
        <link rel="apple-touch-icon" sizes="180x180" href="/images/touch-icon-iphone-retina.png"/>
        <link rel="apple-touch-icon" sizes="167x167" href="/images/touch-icon-ipad-retina.png"/>

        <link rel="stylesheet" type="text/css" href="/js/owl.carousel/assets/owl.carousel.min.css"/>
        <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="/css/ticket.css"/>
        
        <script>
            var message = '{displaynotification}';
        </script>
        <link rel="manifest" href="/manifest.json">
        <script src="https://cdn.viapush.com/cdn/v1/sdks/viapush.js" async="" charset="UTF-8"></script>
        {literal}
        <script>
            var ViaPush = window.ViaPush || [];
            ViaPush.push(["init", { appId: "b58fa8ab-cf0e-8196-4952-9be21bc2b1f6" }]);
        </script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159058716-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-159058716-1');
        </script>

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5PLBL8S');</script>
        <!-- End Google Tag Manager -->
        {/literal}
    </head>
    <body class="page d-flex flex-column h-100">
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5PLBL8S" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        {component name="Topmenu"}
        <main role="main" class="flex-shrink-0 pb-4">
            {include file=$CURRENT_CONTROL_TEMPLATE}
        </main>
        {control name=Webstat}
        {control name=Avatarlink}

        {if $jivoSite == 1}
            <script src="/js/jivosite.js"></script>
        {/if}
        
        <script src="/js/jquery.min.js" type="text/javascript"></script>
        <script src="/js/jquery.inputmask.min.js"></script>
        <script src="/js/inputmask/phone-codes/phone.min.js"></script>
        <script src="/js/owl.carousel/owl.carousel.min.js"></script>
        <script src="/js/bootstrap.js"></script>
        <script src="/js/pages/catalog.js"></script>
        <script src="/js/jquery.cookie.js"></script>
        <script src="/js/app/app.js"></script>
        <script src="/js/pages/ticket.js"></script>
        {$includedJS}
    </body>
</html>
