{assign var=this value=$BuyerControl}
{assign var=status value=$this.user->status}
{assign var=userTypeId value=$this.user->typeId}

<h2>Данные пользователя</h2>
<table class="table table-striped table-bordered table-hover" cellspacing="0" cellpadding="0">
    <tr>
        <td>ID:</td>
        <td>{$this.user->id}</td>
    </tr>
    <tr>
        <td>Тип пользователя:</td>
        <td>{if !$userTypeId}Покупатель{else}{$this.userTypes.$userTypeId}{/if}</td>
    </tr>
    <tr>
        <td>Номер мобильного:</td>
        <td>{$this.user->phone}</td>
    </tr>
    <tr>
        <td>E-Mail:</td>
        <td>{if $this.user->confirmedEmail}{$this.user->confirmedEmail}{else}{$this.user->email}{/if}</td>
    </tr>
    <tr>
        <td>Статус:</td>
        <td>{$this.userStatuses.$status}</td>
    </tr>
    <tr>
        <td>Баланс на авансовом счёте:</td>
        <td>
            <form action="{alink do=adminsavenewbalance}" method="post" class="form-inline">
                <input type="hidden" name="id" value="{$this.user->id}" />
                <input class="form-control" type="text" name="balance" value="{if $this.user->ulBalance}{$this.user->ulBalance|round0}{else}0{/if}"/>
                <input class="btn btn-default" type="submit" value="Обновить" />
            </form>
        </td>
    </tr>
    <tr>
        <td>Дата создания:</td>
        <td>{if $this.user->tsCreated}{$this.user->tsCreated|dateformat:'d.m.Y, в H:i'}{else}-{/if}</td>
    </tr>
    {if $this.user->status == 'STATUS_REGISTERED'}
    <tr>
        <td>Дата регистрации:</td>
        <td>{if $this.user->tsRegister}{$this.user->tsRegister|dateformat:'d.m.Y, в H:i'}{else}-{/if}</td>
    </tr>
    {/if}
    <tr>
        <td>Был на сайте:</td>
        <td>{if $this.user->tsOnline}{$this.user->tsOnline|dateformat:'d.m.Y, в H:i'}{else}-{/if}</td>
    </tr>
    {if $this.user->youAboutUs}<tr>
        <td>Как узнал:</td>
        <td>{$this.user->youAboutUs}</td>
    </tr>{/if}
</table>

{if $this.dmList}
<h4>Купоны на скидку:</h4>
<table class="table table-striped table-bordered table-hover" cellspacing="0" cellpadding="0">
    <tr>
        <th>Код</th>
        <th>Скидка</th>
        <th>Тип</th>
        <th>Статус</th>
    </tr>
    {foreach from=$this.dmList item=discount}
    {assign var=discountType value=$discount->type}
    {assign var=discountStatus value=$discount->status}
    <tr>
        <td>{$discount->code}</td>
        <td>{$discount->percent}%</td>
        <td>{$this.discountTypes.$discountType}</td>
        <td>{$this.discountStatuses.$discountStatus}</td>
    </tr>
    {/foreach}
</table>
{/if}

<button class="btn btn-primary" onclick="window.location.href='/adminka/index.php?show=editdiscount&userId={$this.user->id}'; return false;">Добавить купон на скидку</button><br/>

{if $this.udmObj}
<h2>Реквизиты:</h2>
<table class="table table-striped table-bordered table-hover" cellspacing="0" cellpadding="0">
    <tr>
        <td>Компания:</td>
        <td>{$this.udmObj->company}</td>
    </tr>
    {if $this.udmObj->countryName}<tr>
    <td>Страна:</td>
    <td>{$this.udmObj->countryName}</td>
</tr>{/if}
    {if $this.udmObj->cityName}<tr>
    <td>Город:</td>
    <td>{$this.udmObj->cityName}</td>
</tr>{/if}
    {if $this.udmObj->inn}<tr>
    <td>ИНН:</td>
    <td>{$this.udmObj->inn}</td>
</tr>{/if}
    {if $this.udmObj->kpp}<tr>
    <td>КПП:</td>
    <td>{$this.udmObj->kpp}</td>
</tr>{/if}
    {if $this.udmObj->rs}<tr>
    <td>р/с:</td>
    <td>{$this.udmObj->rs}</td>
</tr>{/if}
    {if $this.udmObj->bank}<tr>
    <td>Банк:</td>
    <td>{$this.udmObj->bank}</td>
</tr>{/if}
    {if $this.udmObj->corr}<tr>
    <td>к/с:</td>
    <td>{$this.udmObj->corr}</td>
</tr>{/if}
    {if $this.udmObj->bik}<tr>
    <td>БИК:</td>
    <td>{$this.udmObj->bik}</td>
</tr>{/if}
    {if $this.udmObj->director}<tr>
    <td>Директор:</td>
    <td>{$this.udmObj->director}</td>
</tr>{/if}
    {if $this.udmObj->buh}<tr>
    <td>Гл. бухгалтер:</td>
    <td>{$this.udmObj->buh}</td>
</tr>{/if}
</table>
{/if}

{if $this.qrmObj}
<h2>QR код:</h2>
<img src="/qr/code.php?code={$this.qrmObj->code}" /><br/>
{/if}

<!-- бронирования -->
{if $this.bookings}
<br/><h4>Бронирования:</h4>
<table class="table table-striped table-bordered table-hover" cellspacing="0" cellpadding="0">
    <tr>
        <th>ID</th>
        <th>Создано</th>
        <th>Оплачено</th>
        <th>До ...</th>
        <th>Сумма</th>
        <th>ID операции в Moneta.ru</th>
        <th>Статус</th>
    </tr>
    {foreach from=$this.bookings item=booking}
    <tr>
        <td>{$booking->id}</td>
        <td>{$booking->tsCreate|dateformat:'d.m.Y, в H:i'}</td>
        <td>{if $booking->tsPay}{$booking->tsPay|dateformat:'d.m.Y, в H:i'}{else}-{/if}</td>
        <td>{if $booking->tsFinish}{if $booking->tsFinish > $this.ts}<b>{/if}{$booking->tsFinish|dateformat:'d.m.Y, в H:i'}{if $booking->tsFinish > $this.ts}</b>{/if}{else}-{/if}</td>
        <td>{if $booking->payAmount}{$booking->payAmount|round0}{else}-{/if}</td>
        <td>{if $booking->monetaOperationId}{$booking->monetaOperationId}{else}-{/if}</td>
        <td>{if $booking->status == 'STATUS_PAID'}оплачено{else}-{/if}</td>
    </tr>
    {/foreach}
</table>
{/if}

{if $this.parentObj}
{assign var=parentstatus value=$this.parentObj->status}
<h2>Родитель</h2>
<table class="table table-striped table-bordered table-hover" cellspacing="0" cellpadding="0">
    <tr>
        <td>ID:</td>
        <td>{$this.parentObj->id}</td>
    </tr>
    <tr>
        <td>Номер мобильного:</td>
        <td>{$this.parentObj->phone}</td>
    </tr>
    <tr>
        <td>E-Mail:</td>
        <td>{if $this.parentObj->confirmedEmail}{$this.parentObj->confirmedEmail}{else}{$this.parentObj->email}{/if}</td>
    </tr>
    <tr>
        <td>Статус:</td>
        <td>{$this.userStatuses.$parentstatus}</td>
    </tr>
    <tr>
        <td>Дата создания:</td>
        <td>{if $this.parentObj->tsCreated}{$this.parentObj->tsCreated|dateformat:'d.m.Y, в H:i'}{else}-{/if}</td>
    </tr>
    {if $this.parentObj->status == 'STATUS_REGISTERED'}
    <tr>
        <td>Дата регистрации:</td> 
        <td>{if $this.parentObj->tsRegister}{$this.parentObj->tsRegister|dateformat:'d.m.Y, в H:i'}{else}-{/if}</td>
    </tr>
    {/if}
    <tr>
        <td>Был на сайте:</td>
        <td>{if $this.parentObj->tsOnline}{$this.parentObj->tsOnline|dateformat:'d.m.Y, в H:i'}{else}-{/if}</td>
    </tr>
    {if $this.parentObj->youAboutUs}<tr>
        <td>Как узнал:</td>
        <td>{$this.parentObj->youAboutUs}</td>
    </tr>{/if}
</table><br/>
<a class="btn btn-default" href="{alink show=buyer id=$this.parentObj->id}">Перейти в карточку покупок родителя</a><br/>
{/if}

{if $this.parentDetailsObj}
<h2>Реквизиты родителя:</h2>
<table class="table table-striped table-bordered table-hover" cellspacing="0" cellpadding="0">
    <tr>
        <td>Компания:</td>
        <td>{$this.parentDetailsObj->company}</td>
    </tr>
    {if $this.parentDetailsObj->countryName}<tr>
    <td>Страна:</td>
    <td>{$this.parentDetailsObj->countryName}</td>
</tr>{/if}
    {if $this.parentDetailsObj->cityName}<tr>
    <td>Город:</td>
    <td>{$this.parentDetailsObj->cityName}</td>
</tr>{/if}
    {if $this.parentDetailsObj->inn}<tr>
    <td>ИНН:</td>
    <td>{$this.parentDetailsObj->inn}</td>
</tr>{/if}
    {if $this.parentDetailsObj->kpp}<tr>
    <td>КПП:</td>
    <td>{$this.parentDetailsObj->kpp}</td>
</tr>{/if}
    {if $this.parentDetailsObj->rs}<tr>
    <td>р/с:</td>
    <td>{$this.parentDetailsObj->rs}</td>
</tr>{/if}
    {if $this.parentDetailsObj->bank}<tr>
    <td>Банк:</td>
    <td>{$this.parentDetailsObj->bank}</td>
</tr>{/if}
    {if $this.parentDetailsObj->corr}<tr>
    <td>к/с:</td>
    <td>{$this.parentDetailsObj->corr}</td>
</tr>{/if}
    {if $this.parentDetailsObj->bik}<tr>
    <td>БИК:</td>
    <td>{$this.parentDetailsObj->bik}</td>
</tr>{/if}
    {if $this.parentDetailsObj->director}<tr>
    <td>Директор:</td>
    <td>{$this.parentDetailsObj->director}</td>
</tr>{/if}
    {if $this.parentDetailsObj->buh}<tr>
    <td>Гл. бухгалтер:</td>
    <td>{$this.parentDetailsObj->buh}</td>
</tr>{/if}
</table>
{/if}

{if $this.tickets}
<h2>Купленные на пользователя билеты</h2>
<table class="table table-striped table-bordered table-hover" cellspacing="0" cellpadding="0">
    <tr>
        <th>Билет</th>
        <th>Цена</th>
        <th>Оплачено</th>
        <th>Скидка</th>
        <th>Промо-код</th>
        <th>% скидки</th>
        <th>ID транзакции</th>
    </tr>
    {foreach from=$this.tickets item=ticket}
    {assign var=basketId value=$ticket.id}
    <tr>
        <td>{$ticket.baseTicketName}{if $this.includedProducts} (Включено: {foreach from=$this.includedProducts item=includedProduct name=inclproducts}{$includedProduct->name}{if !$smarty.foreach.inclproducts.last}, {/if}{/foreach}){/if}{if $ticket.childId}{assign var=childid value=$ticket.childId} <i>для {$this.children.$childid}</i>{/if}</td>
        <td>{$ticket.needAmount|round0}</td>
        <td>
            {if $ticket.payAmount+$ticket.ulAmount-$ticket.returnedAmount > $ticket.needAmount-$ticket.discountAmount}<b>{$ticket.payAmount+$ticket.ulAmount-$ticket.returnedAmount}</b>{else}{$ticket.payAmount+$ticket.ulAmount-$ticket.returnedAmount}{/if}
            {if $ticket.tsPay}, дата: {$ticket.tsPay|dateformat:'d.m.Y, в H:i'}{/if}
        </td>
        <td>{if $ticket.discountAmount}{$ticket.discountAmount|round0}{else}-{/if}</td>
        <td>{if $ticket.discountCode}{$ticket.discountCode}{else}-{/if}</td>
        <td>{if $ticket.discountPercent}{$ticket.discountPercent}%{else}-{/if}</td>
        <td>{if $ticket.monetaOperationId}{$ticket.monetaOperationId}{else}-{/if}</td>
    </tr>
    {/foreach}
</table>
{/if}

{if $this.products}
<h2>Купленные на пользователя мастер-классы</h2>
<table class="table table-striped table-bordered table-hover" cellspacing="0" cellpadding="0">
    <tr>
        <th>Дата / время</th>
        <th>Наименование</th>
        <th>Цена</th>
        <th>Оплачено</th>
        <th>Скидка</th>
        <th>Промо-код</th>
        <th>% скидки</th>
        <th>ID транзакции</th>
    </tr>
    {foreach from=$this.products item=product}
    {assign var=basketProductId value=$product.id}
    <tr>
        <td>{$product.eventTsStart|dateformat:'d M'} {$product.eventTsStart|dateformat:'H:i'}-{$product.eventTsFinish|dateformat:'H:i'}</td>
        <td>{$product.productName}{if $product.childId}{assign var=childid value=$product.childId} <i>для {$this.children.$childid}</i>{/if}</td>
        <td>{$product.needAmount|round0}</td>
        <td>
            {if $product.payAmount+$product.ulAmount-$product.returnedAmount > $product.needAmount-$product.discountAmount}<b>{$product.payAmount+$product.ulAmount-$product.returnedAmount}</b>{else}{$product.payAmount+$product.ulAmount-$product.returnedAmount}{/if}
            {if $product.tsPay}, дата: {$product.tsPay|dateformat:'d.m.Y, в H:i'}{/if}
        </td>
        <td>{if $product.discountAmount}{$product.discountAmount|round0}{else}-{/if}</td>
        <td>{if $product.discountCode}{$product.discountCode}{else}-{/if}</td>
        <td>{if $product.discountPercent}{$product.discountPercent}%{else}-{/if}</td>
        <td>{if $product.monetaOperationId}{$product.monetaOperationId}{else}-{/if}</td>
    </tr>
    {/foreach}
</table>
{/if}


{if $this.payments}
<h2>Оплаты пользователя</h2>
<table class="table table-striped table-bordered table-hover" cellspacing="0" cellpadding="0">
    <tr>
        <th>ID</th>
        <th>Тип оплаты</th>
        <th>Сумма оплачено</th>
        <th>Дата оплаты</th>
        <th>Скидка</th>
        <th>ID транзакции в РФИ</th>
    </tr>
    {foreach from=$this.payments item=payment}
    {assign var=paymentType value=$payment->type}
    <tr>
        <td>{$payment->id}</td>
        <td>{$this.paymentTypes.$paymentType}</td>
        <td>{$payment->payAmount|round0}</td>
        <td>{$payment->tsUpdated|dateformat:'d.m.Y, в H:i'}</td>
        <td>
            {if $payment->discountId}
                {assign var=discountType value=$payment->discountType}
                {assign var=discountStatus value=$payment->discountStatus}
                {$payment->discountCode}, {$payment->discountPercent}%, {$this.discountTypes.$discountType}, {$this.discountStatuses.$discountStatus}
            {else}
                -
            {/if}
        </td>
        <td>{if $payment->monetaOperationId}{$payment->monetaOperationId}{else}-{/if}</td>
    </tr>
    {/foreach}
</table>
{/if}

<br/>
<p>&nbsp;</p>