{assign var=this value=$EditPrizesControl}
{formrestore id="form"}

{loadscript file='/js/jquery.placeholder.min.js' type='js'}

{loadscript file='/js/fckeditor/jquery.FCKEditor.js' type='js'}
{loadscript file='/js/fckeditor/jquery.form.js' type='js'}

{loadscript file='/js/md5.js' type='js'}
{loadscript file='/js/caretaker.js' type='js'}

{literal}
<script>
    $().ready(function() {
        $('input').placeholder();
        $('#description').fck({path: '/fckeditor/'});
        $('#description_en').fck({path: '/fckeditor/'});
    });
</script>
{/literal}

<h2>{if $this.news}Редактирование новости/ништяка{else}Создание новости/ништяка{/if}</h2>
<form id="form" action="{alink do=saveprizes}" method="post" enctype="multipart/form-data" onsubmit="ignoreSnapshot();">
    <div class="row">
        <div class="col-md-8">
            <input type="hidden" name="id" value="{$this.prize->id}" />
            <div class="form-group">
                <label>Статус:</label>
                <select class="form-control" name="status" id="status">
                    {html_options options=$this.prizeStatuses selected=$this.prize->status}
                </select>
            </div>
            <div class="form-group">
                <label>Тип:</label>
                <select class="form-control" name="type" id="type">
                    {html_options options=$this.typeList selected=$this.prize->type}
                </select>
            </div>
            <div class="form-group">
                <label>Заголовок:</label>
                <input type="text" class="form-control" name="name" maxlength="255" value="{$this.prize->name}"/>
            </div>
            <div class="form-group">
                <label>Заголовок (eng):</label>
                <input type="text" class="form-control" name="name_en" maxlength="255" value="{$this.prize->name_en}"/>
            </div>
            <div class="form-group">
                <label>Аннотация:</label>
                <textarea class="form-control" name="annotation" id="annotation" rows="8" cols="50">{$this.prize->annotation}</textarea>
            </div>
            <div class="form-group">
                <label>Аннотация (eng):</label>
                <textarea class="form-control" name="annotation_en" id="annotation_en" rows="8" cols="50">{$this.prize->annotation_en}</textarea>
            </div>
            <div class="form-group">
                <label>Текст:</label>
                <textarea class="form-control" name="description" id="description" rows="8" cols="50">{$this.prize->description}</textarea>
            </div>
            <div class="form-group">
                <label>Текст (eng):</label>
                <textarea class="form-control" name="description_en" id="description_en" rows="8" cols="50">{$this.prize->description_en}</textarea>
            </div>
            <div class="form-group">
                <label>Ссылка на YouTube:</label>
                <input class="form-control" type="text" name="youtube" id="youtube" value="{$this.prize->youtube}" />
            </div>
            <div class="form-group">
                <label>{if $this.prizeImg}Заменить картинку:{else}Загрузить картинку:{/if}</label>
                <input class="form-control" name="file1" type="file" />
            </div>
            <div class="form-group">
                <input id="submitPrizes" class="btn btn-success" type="submit" value="Сохранить"/>
            </div>
        </div>
        <div class="col-md-4">
            {if $this.prizeImg}
            <label>Картинка:</label>
            <img class="img-responsive" src="/images/prizes/resized/{$this.prizeImg}?v={$this.prize->tsUpdate}" />
            {/if}
        </div>
    </div>
</form>