{assign var=this value=$EditAreaControl}
{formrestore id="form"}

{loadscript file='/js/fckeditor/jquery.FCKEditor.js' type='js'}
{loadscript file='/js/fckeditor/jquery.form.js' type='js'}

{loadscript file='/js/md5.js' type='js'}
{loadscript file='/js/caretaker.js' type='js'}

{loadscript file='/js/pages/adminkaeditarea.js' type='js'}


<h2>{if $this.area}Редактирование {else}Создание {/if} программы</h2>
<form id="form" action="{alink do=savearea}" method="post" enctype="multipart/form-data" onsubmit="ignoreSnapshot();">
    <input type="hidden" name="id" value="{$this.area->id}" />
    <div class="row">
        <div class="col-md-3 form-group">
            <label>Статус:</label>
            <select class="form-control" name="status" id="status">
                {html_options options=$this.statusList selected=$this.area->status}
            </select>
        </div>
        <div class="col-md-3 form-group">
            <label>Тип программы:</label>
            <select class="form-control" name="areaTypeId" id="areaTypeId">
                {html_options options=$this.areaTypes selected=$this.area->areaTypeId}
            </select>
        </div>
        <div class="col-md-3 form-group">
            <label>Цвет (hex: #e3e3e3):</label>
            <input class="form-control" type="text" name="color" id="color" value="{$this.area->color}"/>
        </div>
        <div class="col-md-3 form-group">
            <label>Сортировка:</label>
            <input class="form-control" type="text" name="sortOrder" id="sortOrder" value="{$this.area->sortOrder}"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <label>Название:</label>
            <input class="form-control" type="text" name="name" id="name" value="{$this.area->name}"/>
        </div>
        <div class="col-md-6 form-group">
            <label>Название (англ):</label>
            <input class="form-control" type="text" name="name_en" id="name_en" value="{$this.area->name_en}"/>
        </div>
    </div>
    <div class="form-group">
        <label>Описание:</label>
        <textarea class="form-control" name="description" rows="12" id="description">{$this.area->description}</textarea>
    </div>
    <div class="form-group">
        <label>Описание (англ):</label>
        <textarea class="form-control" name="description_en" rows="12" id="description_en">{$this.area->description_en}</textarea>
    </div>
    <div class="form-group">
        <label>Описание фото:</label>
        <textarea class="form-control" rows="8" name="photoDescription">{$this.area->photoDescription}</textarea>
    </div>
    <div class="form-group">
        <label>Аннотация:</label>
        <textarea class="form-control" rows="8" name="annotation">{$this.area->annotation}</textarea>
    </div>
    <div class="form-group">
        <label>Ссылка на страницу:</label>
        <input class="form-control" name="url" id="url" value="{$this.area->url}"/>
    </div>

    {if $this.areaImg1}
        <div class="form-group">
            <label>Картинка №1 (600x300):</label>
            <img class="img-responsive" src="/images/areas/resized/{$this.areaImg1}?v={$this.area->tsUpdated}" />
        </div>
    {/if}
    <div class="form-group" id="file-dl1">
        <label id="file-dt1">{if $this.areaImg1}Заменить{else}Загрузить{/if} картинку №1 (600x300):</label>
        <div id="file-dd1">
            <input class="u-file form-control" name="file1" type="file" />
	    </div>
    </div>

    {if $this.areaImg2}
        <div class="form-group">
            <label>Картинка №2 (218x220):</label>
            <img class="img-responsive" src="/images/areas/resized/{$this.areaImg2}?v={$this.area->tsUpdated}" />
	    </div>
    {/if}
    <div class="form-group" id="file-dl2">
        <label id="file-dt2">{if $this.areaImg2}Заменить{else}Загрузить{/if} картинку №2 (218x220):</label>
        <div id="file-dd2">
            <input class="u-file form-control" name="file2" type="file" />
        </div>
    </div>

    {if $this.areaImg3}
        <div class="form-group">
            <label>Картинка №3 (800x960):</label>
            <img class="img-responsive" src="/images/areas/resized/{$this.areaImg3}?v={$this.area->tsUpdated}" />
        </div>
    {/if}
    
    <div class="form-group" id="file-dl3">
        <label id="file-dt3">{if $this.areaImg3}Заменить{else}Загрузить{/if} картинку №3 (800x960):</label>
        <div id="file-dd3">
            <input class="u-file form-control" name="file3" type="file" />
        </div>
    </div>

    <div class="form-group">
        <input class="btn btn-success" id="submitArea" type="submit" value="Сохранить"/>
    </div>
</form>

<br/><br/>&nbsp;