{assign var=this value=$EditParthnerControl}
{formrestore id="form"}

{loadscript file='/js/md5.js' type='js'}
{loadscript file='/js/caretaker.js' type='js'}

{loadscript file='/js/pages/adminkaeditparthner.js' type='js'}


<h2>{if $this.ticket}Редактирование {else}Создание {/if} партнера</h2>
<form id="form" action="{alink do=saveparthner}" method="post" enctype="multipart/form-data" onsubmit="ignoreSnapshot();" style="max-width: 400px;">
    <input type="hidden" name="id" value="{$this.parthner->id}" />
    <div class="form-group">
        <label>Порядок сортировки:</label>
        <input class="form-control" type="text" name="sortOrder" id="sortOrder" value="{$this.parthner->sortOrder}"/>
    </div>
    <div class="form-group">
        <label>Статус:</label>
        <select class="form-control" name="status" id="status">
            {html_options options=$this.statusList selected=$this.parthner->status}
        </select>
    </div>
    <div class="form-group">
        <label>Тип партнера:</label>
        <select class="form-control" name="parthnerTypeId" id="parthnerTypeId">
            {html_options options=$this.parthnerTypes selected=$this.parthner->parthnerTypeId}
        </select>
    </div>
    <div class="form-group">
        <label>Название:</label>
        <input class="form-control" type="text" name="name" id="name" value="{$this.parthner->name}"/>
    </div>
    <div class="form-group">
        <label>Заголовок на главной:</label>
        <input class="form-control" type="text" name="title" id="title" value="{$this.parthner->title}"/>
    </div>
    <div class="form-group">
        <label>Ссылка:</label>
        <input class="form-control" type="text" name="url" id="url" value="{$this.parthner->url}"/>
    </div>
    <div class="form-group" id="file-dl">
        <label id="file-dt">{if $this.parthnerImg}Заменить картинку:{else}Загрузить картинку:{/if}</label>
        <div id="file-dd">
            <input class="u-file form-control" name="file1" type="file" />
        </div>
    </div>
    <div class="form-group">
        <input class="btn btn-success" id="submitParthner" type="submit" value="Сохранить"/>
    </div>
</form>

{if $this.parthnerImg}
    <h4>Картинка:</h4>
    <img src="/images/parthners/resized/{$this.parthnerImg}?v={$this.parthner->tsUpdate}" style="background-color: #aaa;" />
{/if}

<br/><br/>&nbsp;