{assign var=this value=$EditDiscountControl}
{formrestore id="form"}

{loadscript file='/css/ketchup/jquery.ketchup.css' type='css'}
{loadscript file='/js/ketchup/jquery.ketchup.all.min.js' type='js'}

{loadscript file='/js/jquery.placeholder.min.js' type='js'}

{loadscript file='/js/md5.js' type='js'}
{loadscript file='/js/caretaker.js' type='js'}

{loadscript file='/js/pages/editdiscount.js' type='js'}


<h2>{if $this.discount}Редактирование промо-кода на скидку{else}Создание промо-кода на скидку{/if}</h2>
<form id="form" action="{alink do=savediscount}" method="post" onsubmit="ignoreSnapshot();">
    <input type="hidden" id="baseTicketIds" name="baseTicketIds" value="{$this.discountBaseTicketsListString}" />
    <input type="hidden" id="areaIds" name="areaIds" value="{$this.discountAreasListString}" />
    <input type="hidden" name="id" value="{$this.discount->id}" />
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Код (буквы, цифры) (Не более 100 символов):</label>
                <input class="form-control" type="text" id="code" name="code" maxlength="100" value="{$this.discount->code}" data-validate="validate(required, maxlength(100))"/>
            </div>
        </div>
        {if !$this.discount->id}
        <div class="col-md-6">
            <div class="form-group">
                 <label>повторов:</label> <input class="form-control" type="text" id="repeate" name="repeate" maxlength="20" value="" data-validate="validate(maxlength(20))"/>
            </div>
        </div>
        {/if}
        <div class="col-md-6">
            <div class="form-group">
                <label>Процент скидки (от 1 до 100%):</label>
                <input class="form-control" type="text" id="percent" name="percent" maxlength="5" value="{$this.discount->percent}" data-validate="validate(required, range(1, 100)))"/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Тип:</label>
                <select class="form-control" name="type">
                    {html_options options=$this.types selected=$this.discount->type}
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Статус:</label>
                <select class="form-control" name="status">
                    {html_options options=$this.statuses selected=$this.discount->status}
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Установить тип пользователя при применении промо-кода:</label>
                <select class="form-control" name="userTypeId">
                    {html_options options=$this.userTypes selected=$this.discount->userTypeId}
                </select>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label style="display:block;padding-left:15px;">Купон сработает на следующих основных билетах:</label>
        <div class="col-md-6" id="basetickets-left-panel">
            <select class="form-control" id="basetickets-left-select" name="choosenBaseTickets" size="8">
                {if $this.baseTicketArray}
                    {foreach from=$this.baseTicketArray item=baseTicket}
                        <option value="{$baseTicket->id}">{$baseTicket->name}</option>
                    {/foreach}
                {/if}
            </select>
            <button style="width:100%" class="btn btn-default" id="baseticket-remove-from-discount">>></button>
        </div>
        <div class="col-md-6" id="basetickets-right-panel">
            <select class="form-control" id="basetickets-right-select" name="allBaseTickets" size="8">
                {if $this.allBaseTickets}
                    {foreach from=$this.allBaseTickets item=baseTicket}
                        <option value="{$baseTicket->id}">{$baseTicket->name}</option>
                    {/foreach}
                {/if}
            </select>
            <button style="width:100%" class="btn btn-default" id="baseticket-add-to-discount"><<</button>
        </div>
    </div>
    <div class="form-group row">
        <label style="display:block;padding-left:15px;">Купон сработает на мастер-классы следующих программ:</label>
        <div class="col-md-6" id="areas-left-panel">
            <select id="areas-left-select" name="choosenAreas" size="8">
                {if $this.areaArray}
                    {foreach from=$this.areaArray item=area}
                        <option value="{$area->id}">{$area->name}</option>
                    {/foreach}
                {/if}
            </select>
            <button style="width: 100%" class="btn btn-default" id="area-remove-from-discount">>></button>
        </div>
        <div class="col-md-6" id="areas-right-panel">
            <select id="areas-right-select" name="allAreas" size="8">
                {if $this.allAreas}
                    {foreach from=$this.allAreas item=area}
                        <option value="{$area->id}">{$area->name}</option>
                    {/foreach}
                {/if}
            </select>
            <button style="width: 100%" class="btn btn-default" id="area-add-to-discount"><<</button>
	</div>
    </div>
    <div class="form-group">
        <input class="btn btn-success" id="submit" type="submit" value="Сохранить"/>
    </div>
</form>
