{assign var=this value=$EditBroadcastTemplateControl}
{formrestore id="form"}

{loadscript file='/js/fckeditor/jquery.FCKEditor.js' type='js'}
{loadscript file='/js/fckeditor/jquery.form.js' type='js'}

{loadscript file='/js/md5.js' type='js'}
{loadscript file='/js/caretaker.js' type='js'}

<h2>{$pageTitle}</h2>
<form id="form" action="{alink do=savebroadcasttemplate}" method="post" enctype="multipart/form-data" onsubmit="ignoreSnapshot();">
    <input type="hidden" name="id" value="{$this.broadcastTemplate->id}" />
    <div class="form-group">
        <label>Статус:</label>
        <select class="form-control" name="status" id="status">
            {html_options options=$this.statusList selected=$this.broadcastTemplate->status}
        </select>
    </div>
    <div class="form-group">
        <label>Редактирование:</label>
        <select class="form-control" name="editType" id="editType">
            {html_options options=$this.editType selected=$this.broadcastTemplate->editType}
        </select>
    </div>
    <div class="form-group">
        <label>Тип уведомления:</label>
        <select class="form-control" name="sendType" id="sendType">
            {html_options options=$this.sendType selected=$this.broadcastTemplate->sendType}
        </select>
    </div>
    <div class="form-group">
        <label>Тип тригера:</label>
        <select class="form-control" name="triggerType" id="triggerType">
            {html_options options=$this.triggerType selected=$this.broadcastTemplate->triggerType}
        </select>
    </div>
    <div class="form-group" id="messageEl">
        <label>Текст уведомления:</label>
        <textarea class="form-control" name="message" id="message" rows="8">{$this.broadcastTemplate->message}</textarea>
    </div>
    <div class="form-group">
        <input class="btn btn-success" id="submitPlace" type="submit" value="Сохранить"/>
    </div>
</form>