{assign var=this value=$MainpageControl}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Статистика</h2>
            <table class="table table-condensed">
                <tr><td>Всего регистраций</td><td>{$this.registeredUsers} (шт)</td></tr>
                <tr><td>Регистраций за день</td><td>{$this.registeredToday} (шт)</td></tr>
                <tr><td>Регистраций за текущую неделю</td><td>{$this.registeredWeek} (шт)</td></tr>
                <tr><td>Подано заявок на «ReBro»</td><td>{$this.requestRebro} (шт)</td></tr>
            </table>
            <h4>Корзина участников:</h4>
            <table class="table table-condensed" style="margin-bottom: .5rem">
                <tr>
                    <td>Наименование</td>
                    <td>План</td>
                    <td>Факт</td>
                    <td>[&nbsp;%&nbsp;]</td>
                    <td>В корзине</td>
                    <td>Оплачено</td>
                    <td>Cкидка 1-99</td>
                    <td>Cкидка 100%</td>
                </tr>
                <tr>
                    <td><b>Всего</b></td>
                    <td><b style="color: #0FC700;">{$this.planTotal}</b></td>
                    <td><b>{$this.basketPayCount+$this.basketPayWDiscountCount}</b></td>
                    <td><b>{$this.baseTicketPlan}</b></td>
                    <td><b>{$this.basketCount}</b></td>
                    <td><b>{$this.basketPayCount}</b></td>
                    <td><b>{$this.basketPayWDiscountCount}</b></td>
                    <td><b>{$this.basketWDiscountCount}</b></td>
                </tr>
                {foreach from=$this.ticketTotal key=id item=ticket}
                    <tr>
                        <td>{$ticket.name}</td>
                        <td style="color: #0FC700;">{$ticket.plan}</td>
                        <td>{$ticket.pay+$ticket.payDiscount}</td>
                        <td>{$ticket.percent}</td>
                        <td>{$ticket.all} <span style="color: #f00;">({$ticket.all-$ticket.pay-$ticket.payDiscount-$ticket.discount})*</span></td>
                        <td>{$ticket.pay}</td>
                        <td>{$ticket.payDiscount}</td>
                        <td>{$ticket.discount}</td>
                    </tr>
                {/foreach}
            </table>
            <p style="color: #f00;font-size: 12px;margin-bottom: 2rem;">* Неоплаченные билеты в корзине</p>
            <h4>Список продуктов:</h4>
            <table class="table table-condensed">
                <tr>
                    <td>Наименование</td>
                    <td>План</td>
                    <td>Факт</td>
                    <td>[&nbsp;%&nbsp;]</td>
                    <td>В&nbsp;корзине</td>
                </tr>
                <tr>
                    <td><b>Всего</b></td>
                    <td><b style="color: #0FC700;">{$this.planProductTotal}</b></td>
                    <td><b>{$this.productPayCount}</b></td>
                    <td><b>{$this.productPlan}</b></td>
                    <td><b>{$this.productCount}</b></td>
                </tr>
                {assign var=prod_id value=0}
                {foreach from=$this.productTotal key=id item=product}
                    {if $prod_id != $product.areaId}
                        <tr>
                            <td>
                                <b>
                                {if $product.areaId == 4}POP-UP SHOW{/if}
                                {if $product.areaId == 6}БИЗНЕС-ШКОЛА{/if}
                                {if $product.areaId == 14}FUCKUP STORIES{/if}
                                </b>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        {assign var=prod_id value=$product.areaId}
                    {/if}
                    <tr>
                        <td>{$product.name} ({$product.eventTsStart|dateformat:'d F'})</td>
                        <td style="color: #0FC700;">{$product.plan}</td>
                        <td>{$product.pay}</td>
                        <td>{$product.percent}</td>
                        <td>{$product.all}</td>
                    </tr>
                {/foreach}
            </table>
            <table class="table table-condensed">
                <tr><td>Общий приход по билетам</td><td>{$this.basketPayAmount|round0|numberformat} ₽</td></tr>
                <tr><td>Общий приход по бронированию билетов</td><td>{$this.basketBronAmount|round0|numberformat} ₽</td></tr>
                <tr><td>Общий приход по продуктам</td><td>{$this.productPayAmount|round0|numberformat} ₽</td></tr>
                <tr><td>Деньги на балансе участников</td><td>{$this.balanceAmount|round0|numberformat} ₽</td></tr>
                <tr><td><b>Общее поступление денег</b></td><td><b>{$this.payAmount|round0|numberformat} ₽</b></td></tr>
                <tr><td>Поступление денег (предыдущая неделя)</td><td>{$this.prevWeekPayAmount|round0|numberformat} ₽</td></tr>
                <tr><td>Поступление денег (текущая неделя)</td><td>{$this.weekPayAmount|round0|numberformat} ₽</td></tr>
            </table>
        </div>
    </div>
</div>