{assign var=this value=$ManageSyncControl}

<h2>Система ручной синхронизации данных с приложением и 1-Бит</h2>

<div class="row">
    <div class="col-md-4">
        <h4>Приложение</h4>
        <a class="btn btn-primary" href="{alink do=appsync task=users}">Выгрузить участников</a><br><br>
        <a class="btn btn-primary" href="{alink do=appsync task=speakers}">Выгрузить спикеров</a><br><br>
        <a class="btn btn-primary" href="{alink do=appsync task=places}">Выгрузить локации</a>&nbsp;<a class="btn btn-danger" href="{alink do=appsync task=delPlaces}">Удалить локации</a><br><br>
        <a class="btn btn-primary" href="{alink do=appsync task=areas}">Выгрузить программы (темы)</a>&nbsp;<a class="btn btn-danger" href="{alink do=appsync task=delAreas}">Удалить программы (темы)</a><br><br>
        <a class="btn btn-primary" href="{alink do=appsync task=products}">Выгрузить МК</a>&nbsp;<a class="btn btn-danger" href="{alink do=appsync task=delProducts}">Удалить МК</a><br><br>
        <a class="btn btn-danger" href="{alink do=appsync task=groups}">Выгрузить группы (билеты)</a>
        <a class="btn btn-danger" href="{alink do=appsync task=productLinks}">Выгрузить ссылки на МК</a>
    </div>
    <div class="col-md-4">
        <h4>Первый БИТ</h4>
        <a class="btn btn-primary" href="{alink do=bitsync task=users}">Статус выгрузки участников</a><br><br>
        <a class="btn btn-primary" href="{alink do=bitsync task=products}">Выгрузить мастер-классы</a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <br><br>
        <a class="btn btn-primary" href="{alink do=bitsync task=rfiFix}">Фиксим покупки</a>
        <br><br>
    </div>
</div>