{assign var=this value=$ManagePrizesControl}

<h2>Управление новостями и ништяками</h2>

<div class="create">
    <input class="btn btn-primary" type="button" onclick="window.location = '{alink show=editprizes}'" value="Создать новость" />
</div>
<br/>

<table class="table table-striped table-bordered table-hover" cellspacing="0" cellpadding="0">
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Аннотация</th>
        <th>Статус</th>
        <th>Действия</th>
    </tr>
    {if $this.prizes}
    {foreach item=prize from=$this.prizes}
    {assign var=prizestatus value=$prize->status}
    <tr class="{cycle values='color,'}">
        <td>{$prize->id}</td>
        <td><a href="{alink show=editprizes id=$prize->id}" title="Редактировать">{$prize->name}</a></td>
        <td>{$prize->annotation}</td>
        <td>{$this.prizeStatuses.$prizestatus}</td>
        <td class="text-center">
            <a onclick="return confirm('Удалить?');" href="{alink do=deleteprize id=$prize->id}" class="glyphicon glyphicon-trash" title="Удалить" aria-hidden="true"></a>
        </td>
    </tr>
    {/foreach}
    {else}

    {/if}
</table>

{if $this.prizes}
{pager total=$this.total per=$this.perPage}
{/if}