{assign var=this value=$ManageReportsControl}

<h2>Отчеты, статистика</h2><br/>

<p><a href="{alink show=managereport}">Отчёт о покупателях</a></p>

<p><a href="{alink show=reportregistrations}">Конверсия регистраций</a></p>

<p><a href="{alink show=reportpurchases}">Конверсия покупок</a></p>

<p><a href="{alink show=reportfewproducts}">Малый остаток товаров</a></p>

<p><a href="{alink show=reportlotsproducts}">Большой остаток товаров</a></p>

<p><a href="{alink show=reportcountproducts}">Остаток товаров</a></p>

<p><a href="{alink show=reportpayproduct}">Выгрузка купленных МК</a></p>