{assign var=this value=$ManagePlacesControl}

<h2>Локации / отели</h2>

<div class="create">
    <a class="btn btn-primary" href="{alink show=editplace}">Добавить локацию</a>
</div>

{if $this.placesList}
<br/>
<table class="table table-striped table-bordered table-hover" cellspacing="0" cellpadding="0">
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Уровень</th>
        <th>ID видео</th>
        <th>Статус</th>
    </tr>
    {foreach item=place from=$this.placesList}
    {assign var=status value=$place->status}
    <tr class="{cycle values='color,'}">
        <td>{$place->id}</td>
        <td><a href="{alink show=editplace id=$place->id}">{$place->name|dbtexttohtml}</a></td>
        <td>{$place->level}</td>
        <td>{if $place->videoUrl}<a href="https://www.youtube.com/watch?v={$place->videoUrl}" title="Просмотреть видео на YouTube" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i> {$place->videoUrl}</a>{/if}</td>
        <td>{$this.statusDesc.$status}</td>
    </tr>
    {/foreach}
</table>
{/if}
