{assign var=this value=$ManageUserTypeControl}

<h2>Типы пользователей</h2>

<div class="create">
    <input type="button" onclick="window.location='{alink show=editusertype}'" class="btn btn-primary" value="Создать тип пользователя" />
</div>

{if $this.userTypeList}
<br/>
<table class="table table-striped table-bordered table-hover" cellspacing="0" cellpadding="0">
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Название (eng)</th>
    </tr>
    {foreach item=userType from=$this.userTypeList}
        <tr class="{cycle values='color,'}">
            <td>{$userType->id}</td>
            <td><a href="{alink show=editusertype id=$userType->id}">{$userType->name}</a></td>
            <td>{$userType->name_en}</td>
        </tr>
    {/foreach}
</table>
{/if}
