{assign var=this value=$ManageGazControl}

<h2>Чемпионат GAZ</h2>

{if $this.gaz_users}
    <br/>
    <table class="table table-striped table-bordered table-hover" cellspacing="0" cellpadding="0">
        <tr>
            <th>ID</th>
            <th>ФИО (Почта, Телефон)</th>
            <th>Компания, Должность</th>
            <th>Город</th>
            <th>Дата</th>
            <th>Команда</th>
            <th>&nbsp;</th>
        </tr>
        {foreach item=gaz_user from=$this.gaz_users}
        <tr class="{$status|lower}">
            <td>{$gaz_user.id}</td>
            <td>{$gaz_user.name} {$gaz_user.lastname}<br><small>{$gaz_user.email}, {$gaz_user.phone}, Билет: {$gaz_user.baseTicketName}</small></td>
            <td>{$gaz_user.company}, {$gaz_user.position}</td>
            <td>{$gaz_user.cityName}</td>
            <td>{$gaz_user.tsCreated|dateformat:'d-m-Y H:i'}</td>
            <td>{$gaz_user.team}</td>
            <td class="text-center"><a href="{alink do=delGaz id=$gaz_user.id}" onclick="return confirm('Вы уверены что хотите удалить?');"><i class="fa fa-trash-o" title="Удалить" aria-hidden="true"></i></a></td>
        </tr>
        {/foreach}
    </table>
{/if}