{assign var=this value=$ManageBuyersControl}
{formrestore id="buyers-filter"}

<h2>Покупатели и покупки</h2>

<a role="button" data-toggle="collapse" href="#collapseFilter" aria-expanded="true" aria-controls="collapseFilter"><h4>Фильтр для поиска <span class="caret"></span></h4></a>
<div class="collapse in" id="collapseFilter">
    <div class="well" style="max-width: 400px;">
        <form id="buyers-filter" method="post" action="">
            <input type="hidden" name="show" value="managebuyers"/>
            <input type="hidden" name="isalive" value="1"/>
            <div class="filter-buyers">
                <div class="form-group">
                    <label>ID:</label>
                    <input class="form-control" type="text" name="userid" id="userid" />
                </div>
                <div class="form-group">
                    <label>Фамилия:</label>
                    <input class="form-control" type="text" name="lastname" id="lastname" />
                </div>
                <div class="form-group">
                    <label>Имя:</label>
                    <input class="form-control" type="text" name="name" id="name" />
                </div>
                <div class="form-group">
                    <label>Номер мобильного:</label>
                    <input class="form-control" type="text" name="phone" id="phone" />
                </div>
                <div class="form-group">
                    <label>E-Mail:</label>
                    <input class="form-control" type="text" name="email" id="email" />
                </div>
                <div class="form-group">
                    <input class="btn btn-info" type="submit" id="submit" value="Показать список отбора"/>
                </div>
            </div>
        </form>
    </div>
</div>

<table class="table table-striped table-bordered table-hover" cellspacing="0" cellpadding="0">
    <tr>
        <th>ID</th>
        <th>Номер мобильного</th>
        <th>ФИО</th>
        <th>E-Mail</th>
        <th>Статус</th>
        <th>Был на сайте</th>
        <th>Сумма покупок</th>
        <th>Действия</th>
    </tr>
    {if $this.userList}
        {foreach item=user from=$this.userList}
            {assign var=status value=$user->status}
            {assign var=userid value=$user->id}
            {assign var=parentid value=$user->parentUserId}
            <tr class="{cycle values='color,'}">
                <td>{$user->id}</td>
                <td>{$user->phone}</td>
                <td>{$user->lastname} {$user->name}</td>
                <td>{if $user->confirmedEmail}{$user->confirmedEmail}{else}{$user->email}{/if}</td>
                <td>{if $parentid}<i>добавлен от</i> {$this.parentList.$parentid}{else}{$this.userStatuses.$status}{/if}</td>
                <td>{if $user->tsOnline}{$user->tsOnline|dateformat:'d.m.Y, в H:i'}{else}-{/if}</td>
                <td align="right">{$this.userAmountArray.$userid}</td>
                <td><a href="{alink show=buyer id=$user->id}">Покупки</a></td>
            </tr>
        {/foreach}
    {else}
        <tr class="{cycle values='color,'}">
            <td colspan="8" class="text-center">Список пуст</td>
        </tr>
    {/if}
</table>

{if $this.total}
    {pager total=$this.total per=$this.perPage}
{/if}