{assign var=this value=$ManageVolunteerControl}
{formrestore id="volunteer-filter"}

<h2>Работа с волонтерами</h2>

<a role="button" data-toggle="collapse" href="#collapseFilter" aria-expanded="true" aria-controls="collapseFilter"><h4>Фильтр для поиска <span class="caret"></span></h4></a>
<div class="collapse in" id="collapseFilter">
    <div class="well" style="max-width: 400px;">
        <form id="volunteer-filter" method="post" action="">
            <input type="hidden" name="show" value="managevolunteer"/>
            <input type="hidden" name="isalive" value="1"/>
            <div class="filter-volunteer">
                <div class="form-group">
                    <label>ID:</label>
                    <input type="text" name="volunteerid" id="volunteerid" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Фамилия:</label>
                    <input type="text" name="lastname" id="lastname" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Имя:</label>
                    <input type="text" name="name" id="name" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Номер мобильного:</label>
                    <input type="text" name="phone" id="phone" class="form-control" />
                </div>
                <div class="form-group">
                    <label>E-Mail:</label>
                    <input type="text" name="email" id="email" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" id="submit" value="Показать список отбора" class="btn btn-info"/>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="create">
    <a href="{alink show=editvolunteer}" class="btn btn-primary">Добавить волонтера</a>
</div>
{if $this.volunteerList}
    <br>
    <table class="table table-striped table-bordered table-hover" cellspacing="0" cellpadding="0">
        <tr>
            <th>ID</th><th>ФИО</th><th>Телефон</th><th>E-Mail</th><th>Статус</th><th>&nbsp;</th>
        </tr>
	{foreach item=volunteer from=$this.volunteerList}
            {assign var=status value=$volunteer->status}
            {assign var=volunteerid value=$volunteer->id}
            <tr class="{cycle values='color,'}">
                <td><a href="{alink show=editvolunteer id=$volunteer->id}">{$volunteer->id}</a></td>
                <td><a href="{alink show=editvolunteer id=$volunteer->id}">{$volunteer->lastname} {$volunteer->name}</a></td>
		<td>{$volunteer->phone}</td>
                <td>{$volunteer->email}</td>
                <td>{$this.volunteerStatuses.$status}</td>
                <td class="text-center">
                    <a href="{alink do=delvolunteer id=$volunteer->id}" title="Удалить" onclick="return confirm('Точно удалить?');">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
	{/foreach}
    </table>
    {if $this.total}
        {pager total=$this.total per=$this.perPage}
    {/if}
{/if}
