{assign var=this value=$OperatorpasswordControl}
{formrestore id="edit-hint"}

{loadscript file='/css/ketchup/jquery.ketchup.css' type='css'}
{loadscript file='/js/ketchup/jquery.ketchup.all.min.js' type='js'}
{loadscript file='/js/pages/adminkaoperatorpassword.js' type='js'}

<h2>Смена пароля оператора</h2>

<form id="edit-hint" method="post" action="{alink do=saveoperpass}" style="max-width: 400px;">
	<div class="form-group">
		<label>Новый пароль:</label>
                <input class="form-control" type="text" data-validate="validate(required, maxlength(255))" name="newpass"/>
	</div>
	<input class="btn btn-primary" id="submitHint" type="submit" value="Сохранить"/>
</form>