{assign var=this value=$ReportPurchasesControl}
{formrestore id="report-purchases"}

{loadscript file='/css/morris.css' type='css'}
{loadscript file='/js/morris.min.js' type='js'}
{loadscript file='/js/jquery.placeholder.min.js' type='js'}
{loadscript file='/js/pages/adminkreportpurchases.js' type='js'}

<h2>Конверсия покупок</h2>
<form name="report-purchases" method="post" action="" style="max-width: 400px;">
    <div class="well">
        <input type="hidden" name="isalive" value="1" />
        <div class="filter-buyers form-group form-inline">
            <label style="display: block;">Дата с:</label>
            <input class="form-control" type="text" name="startDay" value="{$this.startDay}" placeholder="дд" style="width:44px" /> - 
            <input class="form-control" type="text" name="startMonth" value="{$this.startMonth}" placeholder="мм" style="width:44px" /> - 
            <input class="form-control" type="text" name="startYear" value="{$this.startYear}" placeholder="гггг" style="width:60px" />
        </div>
        <div class="form-group form-inline">
            <label style="display: block;">Дата по:</label>
            <input class="form-control" type="text" name="finishDay" value="{$this.finishDay}" placeholder="дд" style="width:44px" /> - 
            <input class="form-control" type="text" name="finishMonth" value="{$this.finishMonth}" placeholder="мм" style="width:44px" /> - 
            <input class="form-control" type="text" name="finishYear" value="{$this.finishYear}" placeholder="гггг" style="width:60px" />
        </div>
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Показать" />
        </div>
    </div>
</form>
<br/>

<div id="reportdatanewpurchases" style="display: none;">{$this.newBaskets}</div>
<div id="reportdataregisterpurchases" style="display: none;">{$this.paidBaskets}</div>
<div id="reportdatasummarypurchases" style="display: none;">{$this.summaryBaskets}</div>
<div id="myfirstchart" style="height: 400px;"></div>

{if $this.conversion}
<h4>Положено в корзины за период:</h4>
<p>{$this.summNewBaskets}</p>

<h4>Оплачено за период:</h4>
<p>{$this.summPaidBaskets}</p>

<h4>Конверсия за период:</h4>
<p>{$this.conversion}</p>
{/if}