{assign var=this value=$SettingsManagerControl}
{formrestore id="st_edit"}

{loadscript file='/js/md5.js' type='js'}
{loadscript file='/js/caretaker.js' type='js'}


<h2>Редактирование настроек сайта</h2>
<form id="st_edit" action="{alink do=savesettings}" method="post" onsubmit="ignoreSnapshot();">
{foreach item=oneitem from=$this.settingslist}
    <div class="form-group">
        <label>{$oneitem.description}</label>
        {if $oneitem.type == 'TYPE_TEXT'}
            <input class="form-control" type="text" name="{$oneitem.name}" value="{$oneitem.value}" />
        {/if}
        {if $oneitem.type == 'TYPE_CHECKBOX'}
            {if $oneitem.value == 'on'}
                <input class="form-control" type="checkbox" name="{$oneitem.name}" checked="checked" />
            {else}
                <input class="form-control" type="checkbox" name="{$oneitem.name}" />
            {/if}
        {/if}
    </div>
{/foreach}
<dl>
    <dd>
        <input id="send_data_button" type="submit" class="btn btn-success" value="Сохранить"/>
    </dd>
</dl>
</form>