{assign var=this value=$UserControl}
{assign var=status value=$this.user->status}
{assign var=userTypeId value=$this.user->typeId}

<h2>
    <span style="float:right;font-size:12px;font-weight:200;margin:-5px 0 0 0;">
        <a class="btn btn-default" href="{alink show=adminkaedituser id=$this.user->id}">Редактировать</a>
    </span>
    <span style="float:right;font-size:12px;font-weight:200;margin:-5px 15px 0 0;">
        <a class="btn btn-success" href="{alink do=updatebit id=$this.user->id}">Обновить данные в БИТ</a>
    </span>
    <span style="float:right;font-size:12px;font-weight:200;margin:-5px 15px 0 0;">
        <a class="btn btn-success" href="{alink do=updateapp id=$this.user->id}">Обновить данные в App</a>
    </span>
    <span>Данные пользователя</span>
</h2>
<table class="table table-striped table-bordered table-hover" cellspacing="0" cellpadding="0">
    <tr>
        <td>ID:</td>
        <td>{$this.user->id}</td>
    </tr>
    <tr>
        <td>Тип пользователя:</td>
        <td>{if !$userTypeId}—{else}{$this.userTypes.$userTypeId}{/if}</td>
    </tr>
    <tr>
        <td>ФИО:</td>
        <td>{$this.user->lastname} {$this.user->name}</td>
    </tr>
    <tr>
        <td>Страна:</td>
        <td>
            {assign var=countryName value=$this.user->countryName}
            {$this.country.$countryName}
        </td>
    </tr>
    <tr>
        <td>Город:</td>
        <td>{$this.user->cityName}</td>
    </tr>
    <tr>
        <td>Компания:</td>
        <td>{$this.user->company}</td>
    </tr>
    <tr>
        <td>Должность:</td>
        <td>{$this.user->position}</td>
    </tr>
    <tr>
        <td>Номер мобильного:</td>
        <td>{$this.user->phone}</td>
    </tr>
    <tr>
        <td>E-Mail:</td>
        <td>{if $this.user->confirmedEmail}{$this.user->confirmedEmail}{else}{$this.user->email}{/if} <span class="unsub_check"></span></td>
    </tr>
    <tr>
        <td>Статус:</td>
        <td>{$this.userStatuses.$status}</td>
    </tr>
    <tr>
        <td>Баланс на авансовом счёте:</td>
        <td>
            <form action="{alink do=adminsavenewbalance}" method="post" class="form-inline">
                <input type="hidden" name="id" value="{$this.user->id}" />
                <input type="text" class="form-control" name="balance" value="{if $this.user->ulBalance}{$this.user->ulBalance|round0}{else}0{/if}"/>
                <input type="submit" class="btn btn-default" value="Обновить" />
            </form>
        </td>
    </tr>
    <tr>
        <td>Дата создания:</td>
        <td>{if $this.user->tsCreated}{$this.user->tsCreated|dateformat:'d.m.Y, в H:i'}{else}-{/if}</td>
    </tr>
    {if $this.user->status == 'STATUS_REGISTERED'}
    <tr>
        <td>Дата регистрации:</td>
        <td>{if $this.user->tsRegister}{$this.user->tsRegister|dateformat:'d.m.Y, в H:i'}{else}-{/if}</td>
    </tr>
    {/if}
    <tr>
        <td>Был на сайте:</td>
        <td>{if $this.user->tsOnline}{$this.user->tsOnline|dateformat:'d.m.Y, в H:i'}{else}-{/if}</td>
    </tr>
    {if $this.user->youAboutUs}
    <tr>
        <td>Как узнал:</td>
        <td>{$this.user->youAboutUs}</td>
    </tr>
    {/if}
    <tr>
        <td>UTM метки:</td>
        <td>{if $this.user->utm}{$this.user->utm}{else}—{/if}</td>
    </tr>
</table>

<!-- перенести в группу -->
<form action="{alink do=adminsetusertype}" method="post" class="form-inline">
    <input type="hidden" name="id" value="{$this.user->id}" />
    <dl>
        <dt>Перенести участника в группу:</dt>
        <dd>
            <select name="userTypeId" class="form-control">
                <option value="0">Покупатель</option>
                {html_options options=$this.userTypes selected=$this.user->typeId}
            </select>
            <input id="submit" type="submit" value="Перенести" class="btn btn-success"/>
        </dd>
    </dl>
</form><br/>


{if $this.dmList}
    <h4>Купоны на скидку:</h4>
    <table class="table table-striped table-bordered table-hover" cellspacing="0" cellpadding="0">
        <tr>
            <th>Код</th>
            <th>Скидка</th>
            <th>Тип</th>
            <th>Статус</th>
        </tr>
        {foreach from=$this.dmList item=discount}
        {assign var=discountType value=$discount->type}
        {assign var=discountStatus value=$discount->status}
        <tr>
            <td>{$discount->code}</td>
            <td>{$discount->percent}%</td>
            <td>{$this.discountTypes.$discountType}</td>
            <td>{$this.discountStatuses.$discountStatus}</td>
        </tr>
        {/foreach}
    </table>
{/if}

<a href="/adminka/index.php?show=editdiscount&userId={$this.user->id}" class="btn btn-primary">Добавить купон на скидку</a><br/>

{if $this.udmObj}
<span style="float:right;font-size:12px;font-weight:200;margin-top:-5px;">
    <a class="btn btn-default" href="{alink show=edituserdetails id=$this.udmObj->id}">Редактировать</a>
</span>
<h2>Реквизиты:</h2>
<table class="table table-striped table-bordered table-hover" cellspacing="0" cellpadding="0">
    <tr>
        <td>Юридический статус:</td>
        <td>
        {if $this.udmObj->company_type == 2}Юридическое лицо{/if}
        {if $this.udmObj->company_type == 3}Индивидуальный предприниматель{/if}
        </td>
    </tr>
    <tr>
        <td>Компания:</td><td>{$this.udmObj->company}</td>
    </tr>
    {if $this.udmObj->countryName}
    <tr>
        <td>Страна:</td><td>{$this.udmObj->countryName}</td>
    </tr>{/if}
    {if $this.udmObj->cityName}
    <tr>
        <td>Город:</td><td>{$this.udmObj->cityName}</td>
    </tr>{/if}
    {if $this.udmObj->inn}
    <tr>
        <td>ИНН:</td><td>{$this.udmObj->inn}</td>
    </tr>{/if}
    {if $this.udmObj->kpp}
    <tr>
        <td>КПП:</td><td>{$this.udmObj->kpp}</td>
    </tr>{/if}
    {if $this.udmObj->rs}
    <tr>
        <td>р/с:</td><td>{$this.udmObj->rs}</td>
    </tr>{/if}
    {if $this.udmObj->bank}
    <tr>
        <td>Банк:</td><td>{$this.udmObj->bank}</td>
    </tr>{/if}
    {if $this.udmObj->corr}
    <tr>
        <td>к/с:</td><td>{$this.udmObj->corr}</td>
    </tr>{/if}
    {if $this.udmObj->bik}
    <tr>
        <td>БИК:</td><td>{$this.udmObj->bik}</td>
    </tr>{/if}
    {if $this.udmObj->director}
    <tr>
        <td>Директор:</td><td>{$this.udmObj->director}</td>
    </tr>{/if}
    {if $this.udmObj->buh}
    <tr>
        <td>Гл. бухгалтер:</td><td>{$this.udmObj->buh}</td>
    </tr>{/if}
    {if $this.udmObj->address}
    <tr>
        <td>Адрес:</td><td>{$this.udmObj->address}</td>
    </tr>{/if}
</table>
{/if}

{if $this.qrmObj}
<h2>QR код:</h2>
<img src="/qr/code.php?code={$this.qrmObj->code}" /><br/>
{/if}

<!-- бронирования -->
{if $this.bookings}
<br/><h4>Бронирования:</h4>
<table class="table table-striped table-bordered table-hover" cellspacing="0" cellpadding="0">
    <tr>
        <th>ID</th>
        <th>Создано</th>
        <th>Оплачено</th>
        <th>До ...</th>
        <th>Сумма</th>
        <th>ID транзакции</th>
        <th>Статус</th>
    </tr>
    {foreach from=$this.bookings item=booking}
    <tr>
        <td>{$booking->id}</td>
        <td>{$booking->tsCreate|dateformat:'d.m.Y, в H:i'}</td>
        <td>{if $booking->tsPay}{$booking->tsPay|dateformat:'d.m.Y, в H:i'}{else}—{/if}</td>
        <td>{if $booking->tsFinish}{if $booking->tsFinish > $this.ts}<b>{/if}{$booking->tsFinish|dateformat:'d.m.Y, в H:i'} <a href="#" class="btn btn-danger booking_plus" data-id="{$booking->id}">+1 день</a>{if $booking->tsFinish > $this.ts}</b>{/if}{else}-{/if}</td>
        <td>{if $booking->payAmount}{$booking->payAmount|round0}{else}—{/if}</td>
        <td>{if $booking->monetaOperationId}{$booking->monetaOperationId}{else}—{/if}</td>
        <td>{if $booking->status == 'STATUS_PAID'}Оплачено{else}—{/if}</td>
    </tr>
    {/foreach}
</table>
{/if}

{if $this.parentObj}
{assign var=parentstatus value=$this.parentObj->status}
<h2>Родитель</h2>
<table class="table table-striped table-bordered table-hover" cellspacing="0" cellpadding="0">
    <tr>
        <td>ID:</td>
        <td>{$this.parentObj->id}</td>
    </tr>
    <tr>
        <td>Номер мобильного:</td>
        <td>{$this.parentObj->phone}</td>
    </tr>
    <tr>
        <td>E-Mail:</td>
        <td>{if $this.parentObj->confirmedEmail}{$this.parentObj->confirmedEmail}{else}{$this.parentObj->email}{/if}</td>
    </tr>
    <tr>
        <td>Статус:</td>
        <td>{$this.userStatuses.$parentstatus}</td>
    </tr>
    {if $this.parentObj->status == 'STATUS_REGISTERED'}
    <tr>
        <td>Дата регистрации:</td>
        <td>{if $this.parentObj->tsCreated}{$this.parentObj->tsCreated|dateformat:'d.m.Y, в H:i'}{else}-{/if}</td>
    </tr>
    {/if}
    <tr>
        <td>Был на сайте:</td>
        <td>{if $this.parentObj->tsOnline}{$this.parentObj->tsOnline|dateformat:'d.m.Y, в H:i'}{else}-{/if}</td>
    </tr>
    {if $this.parentObj->youAboutUs}<tr>
        <td>Как узнал:</td>
        <td>{$this.parentObj->youAboutUs}</td>
    </tr>{/if}
</table><br/>
<a href="{alink show=user id=$this.parentObj->id}">Перейти в родителя</a><br/>
{/if}

{if $this.parentDetailsObj}
<h2>Реквизиты родителя:</h2>
<table class="table table-striped table-bordered table-hover" cellspacing="0" cellpadding="0">
    <tr>
        <td>Компания:</td>
        <td>{$this.parentDetailsObj->company}</td>
    </tr>
    {if $this.parentDetailsObj->countryName}<tr>
        <td>Страна:</td>
        <td>{$this.parentDetailsObj->countryName}</td>
    </tr>{/if}
    {if $this.parentDetailsObj->cityName}<tr>
        <td>Город:</td>
        <td>{$this.parentDetailsObj->cityName}</td>
    </tr>{/if}
    {if $this.parentDetailsObj->inn}<tr>
        <td>ИНН:</td>
        <td>{$this.parentDetailsObj->inn}</td>
    </tr>{/if}
    {if $this.parentDetailsObj->kpp}<tr>
        <td>КПП:</td>
        <td>{$this.parentDetailsObj->kpp}</td>
    </tr>{/if}
    {if $this.parentDetailsObj->rs}<tr>
        <td>р/с:</td>
        <td>{$this.parentDetailsObj->rs}</td>
    </tr>{/if}
    {if $this.parentDetailsObj->bank}<tr>
        <td>Банк:</td>
        <td>{$this.parentDetailsObj->bank}</td>
    </tr>{/if}
    {if $this.parentDetailsObj->corr}<tr>
        <td>к/с:</td>
        <td>{$this.parentDetailsObj->corr}</td>
    </tr>{/if}
    {if $this.parentDetailsObj->bik}<tr>
        <td>БИК:</td>
        <td>{$this.parentDetailsObj->bik}</td>
    </tr>{/if}
    {if $this.parentDetailsObj->director}<tr>
        <td>Директор:</td>
        <td>{$this.parentDetailsObj->director}</td>
    </tr>{/if}
    {if $this.parentDetailsObj->buh}<tr>
        <td>Гл. бухгалтер:</td>
        <td>{$this.parentDetailsObj->buh}</td>
    </tr>{/if}
</table>
{/if}


{if $this.tickets}
<h2>Билеты участника</h2>
<table class="table table-striped table-bordered table-hover" cellspacing="0" cellpadding="0">
    <tr>
        <th>Добавлен</th>
        <th>Билет</th>
        <th>Цена</th>
        <th>Статус</th>
        <th>Оплачено</th>
        <th>Скидка</th>
        <th>Промо-код</th>
        <th>% скидки</th>
        <th>ID транзакции</th>
        <th>Действия</th>
    </tr>
    {foreach from=$this.tickets item=ticket}
    {assign var=basketId value=$ticket.id}
    {assign var=ticketstatus value=$ticket.status}
    <tr>
        <td>{$ticket.tsCreated|dateformat:'d.m.Y, в H:i'}</td>
        <td>{$ticket.baseTicketName}{if $this.includedProducts} (Включено: {foreach from=$this.includedProducts item=includedProduct name=inclproducts}{$includedProduct->name}{if !$smarty.foreach.inclproducts.last}, {/if}{/foreach}){/if}{if $ticket.childId}{assign var=childid value=$ticket.childId} <i>для {$this.children.$childid}</i>{/if}</td>
        <td>{$ticket.needAmount|round0}</td>
        <td>{$this.basketStatuses.$ticketstatus}</td>
        <td>
            {if $ticket.payAmount+$ticket.ulAmount-$ticket.returnedAmount > $ticket.needAmount-$ticket.discountAmount}<b>{$ticket.payAmount+$ticket.ulAmount-$ticket.returnedAmount}</b>{else}{$ticket.payAmount+$ticket.ulAmount-$ticket.returnedAmount}{/if}
            {if $ticket.tsPay}, дата: {$ticket.tsPay|dateformat:'d.m.Y, в H:i'}{/if}
        </td>
        <td>{if $ticket.discountAmount}{$ticket.discountAmount|round0}{else}-{/if}</td>
        <td>{if $ticket.discountCode}{$ticket.discountCode}{else}-{/if}</td>
        <td>{if $ticket.discountPercent}{$ticket.discountPercent}%{else}-{/if}</td>
        <td>{if $ticket.monetaOperationId}{$ticket.monetaOperationId}{else}-{/if}</td>
        <td><a href="{alink do=admindelticket id=$ticket.id}" onclick="return confirm('Вы уверены? Удаление будет не обратимым!');">Удалить</a></td>
    </tr>
    {/foreach}
</table>
{/if}

{if $this.products}
<h2>Купленные на участника мастер-классы</h2>
<table class="table table-striped table-bordered table-hover" cellspacing="0" cellpadding="0">
    <tr>
        <th>Дата / время</th>
        <th>Наименование</th>
        <th>Цена</th>
        <th>Статус</th>
        <th>Оплачено</th>
        <th>Скидка</th>
        <th>Промо-код</th>
        <th>% скидки</th>
        <th>ID транзакции</th>
        <th>Действия</th>
    </tr>
    {foreach from=$this.products item=product}
    {assign var=basketProductId value=$product.id}
    {assign var=productstatus value=$product.status}
    <tr>
        <td>{$product.eventTsStart|dateformat:'d M'} {$product.eventTsStart|dateformat:'H:i'}-{$product.eventTsFinish|dateformat:'H:i'}</td>
        <td>{$product.productName}{if $product.childId}{assign var=childid value=$product.childId} <i>для {$this.children.$childid}</i>{/if}</td>
        <td>{$product.needAmount|round0}</td>
        <td>{$this.basketProductStatuses.$productstatus}</td>
        <td>
            {if $product.payAmount+$product.ulAmount-$product.returnedAmount > $product.needAmount-$product.discountAmount}<b>{$product.payAmount+$product.ulAmount-$product.returnedAmount}</b>{else}{$product.payAmount+$product.ulAmount-$product.returnedAmount}{/if}
            {if $product.tsPay}, дата: {$product.tsPay|dateformat:'d.m.Y, в H:i'}{/if}
        </td>
        <td>{if $product.discountAmount}{$product.discountAmount|round0}{else}-{/if}</td>
        <td>{if $product.discountCode}{$product.discountCode}{else}-{/if}</td>
        <td>{if $product.discountPercent}{$product.discountPercent}%{else}-{/if}</td>
        <td>{if $product.monetaOperationId}{$product.monetaOperationId}{else}-{/if}</td>
        <td><a href="{alink do=admindeluserproduct id=$product.id}" onclick="return confirm('Вы уверены? Удаление будет не обратимым!');">Удалить</a></td>
    </tr>
    {/foreach}
</table>
{/if}


{if $this.payments}
<h2>Оплаты участника</h2>
<table class="table table-striped table-bordered table-hover" cellspacing="0" cellpadding="0">
    <tr>
        <th>ID</th>
        <th>Тип оплаты</th>
        <th>Сумма оплачено</th>
        <th>Дата оплаты</th>
        <th>Скидка</th>
        <th>ID транзакции</th>
    </tr>
    {foreach from=$this.payments item=payment}
    {assign var=paymentType value=$payment->type}
    <tr>
        <td>{$payment->id}</td>
        <td>{$this.paymentTypes.$paymentType}</td>
        <td>{$payment->payAmount|round0}</td>
        <td>{$payment->tsUpdated|dateformat:'d.m.Y, в H:i'}</td>
        <td>
            {if $payment->discountId}
            {assign var=discountType value=$payment->discountType}
            {assign var=discountStatus value=$payment->discountStatus}
            {$payment->discountCode}, {$payment->discountPercent}%, {$this.discountTypes.$discountType}, {$this.discountStatuses.$discountStatus}
            {else}
            -
            {/if}
        </td>
        <td>{if $payment->monetaOperationId}{$payment->monetaOperationId}{else}-{/if}</td>
    </tr>
    {/foreach}
</table>
{/if}

<br/><p>&nbsp;</p>

<script>
    var email = "{if $this.user->confirmedEmail}{$this.user->confirmedEmail}{else}{$this.user->email}{/if}";
</script>

{literal}
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        $('.booking_plus').click(function () {
            var id      = $(this).data('id');
            var btn     = $(this);
            var btnText = $(this).html();
            var gotdata = 'job=booking_plus&id=' + id;
            $(this).addClass('disabled');
            $(this).html('Секунду...');
            $.ajax({
                type: 'POST',
                dataType: 'JSON',
                url: '/ajax',
                data: gotdata,
                success: function (data) {
                    if (data.error) {
                        alert(data.msg);
                    } else {
                        alert('Бронь продлена на 1 день');
                        window.location.reload();
                    }
                    $(btn).removeClass('disabled');
                    $(btn).html(btnText);
                }
            });
            return false;
        });
    });

    window.onload = function() {
        let xhr = new XMLHttpRequest();
        let body = 'job=check_unsubscribe&email=' + encodeURIComponent(email);
        xhr.open("POST", '/ajax', true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onreadystatechange = function () {
            if (this.readyState !== 4) return;
            let data = JSON.parse(this.responseText);
            if (data['unsubscribe'] === 0) {
                document.getElementsByClassName('unsub_check')[0].innerHTML = '<i class="fa fa-check-circle" title="Получает уведомления" aria-hidden="true"></i>';
            } else {
                document.getElementsByClassName('unsub_check')[0].innerHTML = '<i class="fa fa-times-circle" title="Отписан от уведомлений" aria-hidden="true"></i>';
            }
        };
        xhr.send(body);
    };
</script>
{/literal}