                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table style="min-width:500px;width:100%;border:0;background-color:#282c57;padding:30px;">
                                <tr>
                                    <td><a href="https://www.facebook.com/gastreetshow"><img src="https://gastreet.com/images/mail/fb.png"></a></td>
                                    <td><a href="https://www.instagram.com/gastreetshow"><img src="https://gastreet.com/images/mail/instagram.png"></a></td>
                                    <td><a href="https://www.youtube.com/gastreetshow"><img src="https://gastreet.com/images/mail/youtube.png"></a></td>
                                    <td><a href="https://vk.com/gastreetshow"><img src="https://gastreet.com/images/mail/vk.png"></a></td>
                                    <td style="text-align: right;"><a style="font-size: 1.5rem" href="http://gastreet.com?utm_source=avtovoronka&utm_medium=mail&utm_campaign=gastreet2020">gastreet.com</a></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>