{assign var=this value=$AddBalanceControl}

{formrestore id="form"}

<div class="gss-booking">
    {if $lang == 'en'}
        <p>Your internal balance occurs if your tickets reservation period has expired, and the payment was made afterwards.<br>
            You can pay for your next purchases with your internal balance and top up your balance from your bank card in order to pay for a more expensive product.</p>
        <br/><h4>Add balance</h4>
    {else}
        <p>Ваш внутренний баланс возникает в том случае, если истёк срок резервирования Ваших билетов, а после этого была произведена их оплата.<br>
            Вы можете оплатить последующие покупки средствами Вашего внутреннего баланса и пополнить баланс с банковской карты, чтобы оплатить более дорогой товар.</p>
        <br/><h4>Пополнить баланс</h4>
    {/if}
    <form id="form" action="{link show=addbalance}" method="post">
        <input type="hidden" name="isAlive" value="1" />
        <div class="row">
            <div class="form-group col-md-3">
                <label for="amount">##amount##:</label>
                <input class="form-control" type="text" id="amount" name="amount" value="" maxlength="20"/>
            </div>
        </div>
        <br/>
        <button type="submit" id="submit-btn" class="btn btn-white">##topUp##</button>
    </form>
</div>