{if  !$app}
<div id="old18">
    <div>
        <p class="h3">##attention##</p>
        <p>##attentionDesc##</p>
    </div>
    <div class="buttons">
        <a class="btn btn-black accept" href="javascript:void(0);">##oldYes##</a>
        <a class="btn btn-white disaccept" href="https://www.ya.ru">##oldNo##</a>
    </div>
</div>

<!--<div id="ig_modal">-->
<!--    <div>-->
<!--        <p>Все свежие новости и&nbsp;горячая информация о&nbsp;GASTREET'20 в&nbsp;нашем инстаграм <a href="https://www.instagram.com/gastreetshow">@gastreetshow</a>.<br>-->
<!--            Подписывайся, чтобы быть первым и&nbsp;быть в&nbsp;курсе.</p>-->
<!--    </div>-->
<!--    <div class="buttons">-->
<!--        <a class="btn btn-black accept" href="javascript:void(0);">Понял, спасибо!</a>-->
<!--    </div>-->
<!--</div>-->

<!--<div id="cashback_modal">-->
<!--    <div>-->
<!--        <p>GASTREET в честь своего дня рождения, начислил 10&nbsp;000&nbsp;000 рублей кэшбэка.<br>Проверь свой баланс!</p>-->
<!--    </div>-->
<!--    <div class="buttons">-->
<!--        <a class="btn btn-black accept" href="javascript:void(0);">Проверить</a>-->
<!--        <a class="btn btn-white disaccept" href="javascript:void(0);">Закрыть</a>-->
<!--    </div>-->
<!--</div>-->

<!--<div id="close_modal">-->
<!--    <div>-->
<!--        <p>Уже уходишь?<br> А у нас для тебя подарок: презентации GASTREET спикеров прошлых лет!<br> Нажми на кнопку и скачай</p>-->
<!--    </div>-->
<!--    <div class="buttons">-->
<!--        <a class="btn btn-black accept" href="javascript:void(0);">Проверить</a>-->
<!--        <a class="btn btn-white disaccept" href="javascript:void(0);">Закрыть</a>-->
<!--    </div>-->
<!--</div>-->
<div id="bg-root"></div>
<!--<div id="bg-root2"></div>-->
{/if}