{assign var=this value=$AvatarControl}
{loadscript file='app/avatar/css/style.css' type='css'}

<div style="padding:15px;color:grey;background:rgba(0,0,0,0.30);position:absolute;bottom:0;right:20px;z-index: 1100;font-size: 15px; display: none;" id="mobileCropper_cancel">Отмена</div>

<div style="padding:15px;color:grey;background:rgba(0,0,0,0.30);position:absolute;bottom:0;left:20px;z-index: 1100;font-size: 15px; display: none;" id="mobileCropper_getResult">Загрузить</div>

<div class="l-container">
    <div class="page-container" id="page-container">
        <div class="gss-avatar">
            <div class="gss-avatar-upl-text hidden">Загрузите фотографию</div>
            <form id="imageform" class="hidden" method="post" action="app/avatar/ajaxImageUpload.php" style="clear:both">
                <div class="">
                    <div id="imageloadstatus" style="display:none;"><img src="app/avatar/loader.gif" style="width: 100%;" alt="Uploading...."/></div>
                    <div id="imageloadbutton">
                        <div class="file_upload">
                            <button type="button">Выбрать фото<br><p style="font-size: 5pt;margin-top:3px;">(не более 10 Мбайт)</p></button>
                            <input type="file" name="photos[]" id="photoimg" />
                        </div>
                        <input type="hidden" name="img_original" class="img_original" /> <!-- Путь к оригиналу -->
                        <input type="hidden" name="img_final" class="img_final" /> <!-- Путь к обработанному изображению -->
                        <input type="hidden" name="img_layer" class="img_layer" value="app/avatar/layer/01.png" /> <!-- Путь к слою -->
                    </div>
                    <div class="sc-answer"></div>
                </div>
            </form>

            <div class="wrapper">
                <div class="block_left">
                    <div id="preview">
                        <img class="get-photo" src="app/avatar/layer/no-img-2.png">
                    </div>
                </div>
                <div class="block_right">
                    <div class="gss-avatar-choose-text">Выберите фильтр</div>
                    <div class="prev">

                        <div class="box">
                            <ul class="gss-avatar-choose-ul">
                                <li><a href="#" class="active"><img src="app/avatar/layer/04.png"></a></li>
                                <li><a href="#" class=""><img src="app/avatar/layer/05.png"></a></li>
                                <li><a href="#" class=""><img src="app/avatar/layer/06.png"></a></li>
                                <li><a href="#" class=""><img src="app/avatar/layer/01.png"></a></li>
                                <li><a href="#" class=""><img src="app/avatar/layer/02.png"></a></li>
                                <li><a href="#" class=""><img src="app/avatar/layer/03.png"></a></li>
                                <li><a href="#" class=""><img src="app/avatar/layer/07.png"></a></li>
                                <li><a href="#" class=""><img src="app/avatar/layer/08.png"></a></li>
                                <li><a href="#" class=""><img src="app/avatar/layer/09.png"></a></li>
                            </ul>
                        </div>
                        <div class="gss-avatar-share-text">Скачайте фотографию</div>
                        <div class="share">
                            <a class="download" href="app/avatar/download.php?file=">Скачать фото</a>
                            <a class="vk" href="#"><i class="fa fa-vk" aria-hidden="true"></i></a>
                            <a class="fb" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
