<div class="socials-share fixed-action-btn click-to-toggle">
    <a href="#" class="btn-floating btn-large grey lighten-5 z-depth-2">+</a>
    <ul>
        <li><a href="https://www.facebook.com/gastreetshow" target="_blank" class="btn-floating light-blue facebook" data-toggle="tooltip" data-placement="left" title="Facebook"><i class="fa fa-facebook f18" aria-hidden="true"></i></a></li>
        <li><a href="https://www.instagram.com/gastreetshow" target="_blank" class="btn-floating light-blue instagram" data-toggle="tooltip" data-placement="left" title="Instagram"><i class="fa fa-instagram f18" aria-hidden="true"></i></a></li>
        <li><a href="https://www.instagram.com/explore/tags/gastreetshow/" target="_blank" class="btn-floating light-blue instagram" data-toggle="tooltip" data-placement="left" title="#gastreetshow">#</a></li>
    </ul>
</div>