{assign var=this value=$BasketControl}
{assign var=total value=0}

{assign var=showBronButton value=0}
{assign var=showBronProductButton value=0}

<script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js"></script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="https://www.googleadservices.com/pagead/conversion/869423439/?label=G4tVCLCX3G4Qz7LJngM&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>

<div class="alert alert-info hidden" role="alert">{if $lang == 'en'}Hotel booking will be available January 15, 2018{else}Бронирование отелей будет доступно 15 января 2018 года{/if}</div>

<div class="gss-basket register-page">
    <div class="row">
        <div class="col-md-12">
            <h3 class="header-title">{if $lang == 'en'}Members{else}Участники{/if}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 order-md-2">
            <div class="list-group tab-menu">
                <a href="/basket?q=2" class="list-group-item list-group-item-action active">{if $lang == 'en'}Members{else}Участники{/if}</a>
                <a href="/basket?q=3" class="list-group-item list-group-item-action">{if $lang == 'en'}Choose a main ticket{else}Выбрать основной билет{/if}</a>
                <a href="/basket?q=4" class="list-group-item list-group-item-action">{if $lang == 'en'}Choose additional options{else}Выбрать доп. услуги{/if}</a>
                <a href="/basket" class="list-group-item list-group-item-action">{if $lang == 'en'}Pay{else}Оплатить участие{/if}</a>
                <a href="/basket?q=5" class="list-group-item list-group-item-action">{if $lang == 'en'}Print the ticket{else}Файлы для скачивания{/if}</a>
                <a href="/basket?q=6" class="list-group-item list-group-item-action">{if $lang == 'en'}Add promo-code{else}Ввести промо-код{/if}</a>
<!--                <a href="/presentation" class="list-group-item list-group-item-action">##presentation##</a>-->
                {if 1==2}
                    {if $this.comItem == 'STATUS_ENABLED'}
                        <span class="list-group-item list-group-item-action">{if $lang == 'en'}<i class="fa fa-check" aria-hidden="true"></i> You passed test{else}<i class="fa fa-check" aria-hidden="true"></i> Вы прошли тест{/if}</span>
                    {elseif $this.comItem == 'STATUS_DISABLED'}
                        <span class="list-group-item list-group-item-action">{if $lang == 'en'}<i class="fa fa-times" aria-hidden="true"></i> You did`t pass test{else}<i class="fa fa-times" aria-hidden="true"></i> Вы не прошли тест{/if}</span>
                    {else}
                        <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#testModal">{if $lang == 'en'}Pizza Championship{else}Чемпионат по пицце{/if}</a>
                    {/if}
                {/if}
                <div class="badge-metro mt-4">
                    <a href="{link show=basket q=2}">
                        <img src="/images/metro_prize.png" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-8 order-md-1">
            <h4 class="form-title">{if $lang == 'en'}User Registration:{else}Основной участник:{/if}</h4>
            <div class="row main-user-input-block{if $this.user->email} show{/if}">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>{if $lang == 'en'}Name Surname{else}Имя Фамилия{/if}</label>
                        <div class="form-control"><span>{$this.user->name} {$this.user->lastname}</span><a href="#" data-toggle="modal" data-target=".user-modal-edit" class="btn btn-link">{if $lang == 'en'}Edit data{else}Редактировать{/if}</a></div>
                    </div>
                </div>
            </div>

            <div class="row participant_additional{if $this.children} show{/if}">
                <div class="col-md-12">
                    <h4 class="form-title">{if $lang == 'en'}Additional members{else}Дополнительные участники{/if}:</h4>
                </div>
                {if $this.children}
                    {foreach from=$this.children item=child key=childid}
                        <div class="col-md-12" id="participant_edit_{$child->id}">
                            <div class="form-group">
                                <label>{if $lang == 'en'}Name Surname{else}Имя Фамилия{/if}</label>
                                <div class="form-control"><span>{$child->name} {$child->lastname}</span><a href="#" data-id="{$child->id}" class="btn btn-link edit-user">{if $lang == 'en'}Edit data{else}Редактировать{/if}</a></div>
                            </div>
                        </div>
                        <div id="participant_{$child->id}" class="col-md-12 participant_edit">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{if $lang == 'en'}Name{else}Имя{/if}</label>
                                        <input class="form-control" autocomplete="off" name="name" type="text" value="{$child->name}" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{if $lang == 'en'}Surname{else}Фамилия{/if}</label>
                                        <input class="form-control" autocomplete="off" name="lastname" type="text" value="{$child->lastname}" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>E-mail</label>
                                        <input class="form-control" autocomplete="off" name="email" type="text" value="{$child->email}" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{if $lang == 'en'}Clothing size{else}Размер одежды{/if}</label>
                                        <select class="form-control chosen-select" name="usersize">
                                            <option value="">-- {if $lang == 'en'}Clothing size{else}Размер одежды{/if} --</option>
                                            {html_options values=$this.userSize output=$this.userSize selected=$child->userSize}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{if $lang == 'en'}Company{else}Компания{/if}</label>
                                        <input class="form-control" autocomplete="off" name="company" type="text" value="{$child->company}">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{if $lang == 'en'}Position{else}Должность{/if}</label>
                                        <select class="form-control chosen-select" name="position">
                                            <option value="">-- {if $lang == 'en'}Position{else}Должность{/if} --</option>
                                            {html_options values=$this.position output=$this.position selected=$child->position}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="hidden" name="country" value="{$child->countryName}">
                                        <input type="hidden" name="city" value="{$child->cityName}">
                                        <label>Город</label>
                                        <input class="form-control" type="text" id="tmp_edit_city" name="tmp_edit_city" value="{$child->cityName}" autocomplete="off" maxlength="100">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>
                                            <div class="row">
                                                <div class="col-3 pl-0 pr-2">
                                                    <img src="/images/metro_logo.png" class="img-fluid">
                                                </div>
                                                <div class="col-9 pl-0">
                                                    Введите номер карты METRO и получите подарок на Gastreet
                                                </div>
                                            </div>
                                        </label>
                                        <input class="form-control" autocomplete="off" id="metro_card" name="metro_card" type="text" value="{$child->metro_card}" />
                                        <p class="mt-2" style="font-size: 14px;"><a target="_blank" href="http://reg.metro-cc.ru/registration/inn?utm_source=gastreet&utm_campaign=gastreet">Оформить карту, если ее нет</a></p>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-submit">
                                        <button data-id="{$child->id}" class="btn btn-white reg_edit_user" type="submit">{if $lang == 'en'}Save{else}Сохранить{/if}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {/foreach}
                {/if}
            </div>

            <div class="row participant_add">
                <div class="col-md-12">
                    <h4 class="form-title">{if $lang == 'en'}Additional member{else}Дополнительный участник{/if}:</h4>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{if $lang == 'en'}Name{else}Имя{/if}</label>
                        <input class="form-control" autocomplete="off" name="name" type="text" value="" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{if $lang == 'en'}Surname{else}Фамилия{/if}</label>
                        <input class="form-control" autocomplete="off" name="lastname" type="text" value="" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{if $lang == 'en'}Phone{else}Телефон{/if}</label>
                        <input class="form-control" autocomplete="off" name="phone" type="text" value="" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>E-mail</label>
                        <input class="form-control" autocomplete="off" name="email" type="text" value="" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{if $lang == 'en'}Clothing size{else}Размер одежды{/if}</label>
                        <select class="form-control chosen-select" name="usersize">
                            <option value="">-- {if $lang == 'en'}Clothing size{else}Размер одежды{/if} --</option>
                            {html_options values=$this.userSize output=$this.userSize}
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{if $lang == 'en'}Company{else}Компания{/if}</label>
                        <input class="form-control" autocomplete="off" name="company" type="text" value="" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{if $lang == 'en'}Position{else}Должность{/if}</label>
                        <select class="form-control chosen-select" name="position">
                            <option value="">-- {if $lang == 'en'}Position{else}Должность{/if} --</option>
                            {html_options values=$this.position output=$this.position}
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="hidden" name="country" value="">
                        <input type="hidden" name="city" value="">
                        <label>Город</label>
                        <input class="form-control" type="text" id="tmp_add_city" name="tmp_add_city" value="" autocomplete="off" maxlength="100">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>
                            <div class="row">
                                <div class="col-3 pl-0 pr-2">
                                    <img src="/images/metro_logo.png" class="img-fluid">
                                </div>
                                <div class="col-9 pl-0">
                                    Введите номер карты METRO и получите подарок на Gastreet
                                </div>
                            </div>
                        </label>
                        <input class="form-control" autocomplete="off" name="metro_card" type="text" value="" />
                        <p class="mt-2" style="font-size: 14px;"><a target="_blank" href="http://reg.metro-cc.ru/registration/inn?utm_source=gastreet&utm_campaign=gastreet">Оформить карту, если ее нет</a></p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-submit">
                        <button id="reg_add_user" class="btn btn-white" type="submit">{if $lang == 'en'}Add User{else}Добавить{/if}</button>
                    </div>
                </div>
            </div>
            <div class="row buttons{if $this.user->email} show{/if}">
                <div class="col-md-6">
                    <a href="#" class="btn btn-link" id="add_new"><i class="fa fa-plus" aria-hidden="true"></i> <span>{if $lang == 'en'}Add a member{else}Добавить участника{/if}</span></a>
                </div>
            </div>
            <a href="https://www.s7.ru/ru/vl/gastreet/" class="d-block mt-5" target="_blank">
                <img src="/images/gastreet_760x186.jpg" class="img-fluid" alt="">
            </a>
        </div>
    </div>

    <div class="modal fade user-modal-edit" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="reg_name">{if $lang == 'en'}Name{else}Имя{/if}</label>
                                    <input class="form-control" autocomplete="off" id="reg_name" name="name" type="text" value="{$this.user->name}" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="reg_lastname">{if $lang == 'en'}Surname{else}Фамилия{/if}</label>
                                    <input class="form-control" autocomplete="off" id="reg_lastname" name="lastname" type="text" value="{$this.user->lastname}" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="reg_email">E-mail</label>
                                    <input class="form-control" autocomplete="off" id="reg_email" name="email" type="text" value="{$this.user->email}" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="reg_usersize">{if $lang == 'en'}Clothing size{else}Размер одежды{/if}</label>
                                    <select class="form-control chosen-select" id="reg_usersize" name="usersize">
                                        <option value="">-- {if $lang == 'en'}Clothing size{else}Размер одежды{/if} --</option>
                                        {html_options values=$this.userSize output=$this.userSize selected=$this.user->userSize}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="reg_company">{if $lang == 'en'}Company{else}Компания{/if}</label>
                                    <input class="form-control" autocomplete="off" id="reg_company" name="company" type="text" value="{$this.user->company}" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="reg_position">{if $lang == 'en'}Position{else}Должность{/if}</label>
                                    <select class="form-control chosen-select" id="reg_position" name="position">
                                        <option value="">-- {if $lang == 'en'}Position{else}Должность{/if} --</option>
                                        {html_options values=$this.position output=$this.position selected=$this.user->position}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="hidden" id="countryName" name="countryName" value="{$this.user->countryName}">
                                    <input type="hidden" id="cityName" name="cityName" value="{$this.user->cityName}">
                                    <label for="tmpaddress">Город</label>
                                    <input class="form-control" type="text" id="tmpaddress" name="tmpaddress" value="{$this.user->cityName}" autocomplete="off" maxlength="100">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>
                                        <div class="row">
                                            <div class="col-3 pl-0 pr-2">
                                                <img src="/images/metro_logo.png" class="img-fluid">
                                            </div>
                                            <div class="col-9 pl-0">
                                                Введите номер карты METRO и получите подарок на Gastreet
                                            </div>
                                        </div>
                                    </label>
                                    <input class="form-control" autocomplete="off" id="reg_metro_card" name="metro_card" type="text" value="{$this.user->metro_card}" />
                                    <p class="mt-2" style="font-size: 14px;"><a target="_blank" href="http://reg.metro-cc.ru/registration/inn?utm_source=gastreet&utm_campaign=gastreet">Оформить карту, если ее нет</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">{if $lang == 'en'}Cancel{else}Отмена{/if}</button>
                    <button type="submit" id="reg_save" class="btn btn-white">{if $lang == 'en'}Save{else}Сохранить{/if}</button>
                </div>
            </div>
        </div>
    </div>
</div>