{assign var=this value=$BasketControl}
{assign var=total value=0}
{assign var=balance value=0}

{assign var=showBronButton value=0}
{assign var=showBronProductButton value=0}

<script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js"></script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="https://www.googleadservices.com/pagead/conversion/869423439/?label=G4tVCLCX3G4Qz7LJngM&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>

<div class="alert alert-info hidden" role="alert">{if $lang == 'en'}Hotel booking will be available January 15, 2018{else}Бронирование отелей будет доступно 15 января 2018 года{/if}</div>

<div class="gss-basket register-page">
    <div class="row">
        <div class="col-md-9">
            <h3 class="header-title">{if $lang == 'en'}Promo-code{else}Промо-коды{/if}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 order-md-2">
            <div class="list-group tab-menu">
                <a href="/basket?q=2" class="list-group-item list-group-item-action">{if $lang == 'en'}Members{else}Участники{/if}</a>
                <a href="/basket?q=3" class="list-group-item list-group-item-action">{if $lang == 'en'}Choose a main ticket{else}Выбрать основной билет{/if}</a>
                <a href="/basket?q=4" class="list-group-item list-group-item-action">{if $lang == 'en'}Choose additional options{else}Выбрать доп. услуги{/if}</a>
                <a href="/basket" class="list-group-item list-group-item-action">{if $lang == 'en'}Pay{else}Оплатить участие{/if}</a>
                <a href="/basket?q=5" class="list-group-item list-group-item-action">{if $lang == 'en'}Print the ticket{else}Файлы для скачивания{/if}</a>
                <a href="/basket?q=6" class="list-group-item list-group-item-action active">{if $lang == 'en'}Add promo-code{else}Ввести промо-код{/if}</a>
<!--                <a href="/presentation" class="list-group-item list-group-item-action">##presentation##</a>-->
                {if 1==2}
                    {if $this.comItem == 'STATUS_ENABLED'}
                        <span class="list-group-item list-group-item-action">{if $lang == 'en'}<i class="fa fa-check" aria-hidden="true"></i> You passed test{else}<i class="fa fa-check" aria-hidden="true"></i> Вы прошли тест{/if}</span>
                    {elseif $this.comItem == 'STATUS_DISABLED'}
                        <span class="list-group-item list-group-item-action">{if $lang == 'en'}<i class="fa fa-times" aria-hidden="true"></i> You did`t pass test{else}<i class="fa fa-times" aria-hidden="true"></i> Вы не прошли тест{/if}</span>
                    {else}
                        <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#testModal">{if $lang == 'en'}Pizza Championship{else}Чемпионат по пицце{/if}</a>
                    {/if}
                {/if}
            </div>
        </div>
        <div class="col-md-8 order-md-1">
            <h4 class="form-title">{if $lang == 'en'}User Registration:{else}Основной участник:{/if}</h4>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-control"><span>{$this.user->name} {$this.user->lastname}</span></div>
                    </div>
                </div>
                <div class="col-md-6">
                    {if $this.user->baseTicketId > 0 && $this.user->baseTicketStatus == 'STATUS_NEW' && $this.user->baseTicketDiscount == 0}
                    <div class="gss-basket-promocode">
                        <div class="form-group">
                            <input class="form-control" autocomplete="off" id="discount-code-{$this.user->id}" placeholder="Есть промо-код?" type="text" maxlength="100">
                            <a href="#" class="discount-code-button" id="discount-code-button-{$this.user->id}">Применить</a>
                        </div>
                    </div>
                    {/if}
                </div>
            </div>

            {if $this.children}
            <div class="row pt-4">
                <div class="col-md-12">
                    <h4 class="form-title">{if $lang == 'en'}Additional members{else}Дополнительные участники{/if}:</h4>
                </div>
                {foreach from=$this.children item=child key=childid}
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-control"><span>{$child->name} {$child->lastname}</span></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        {if $child->baseTicketId > 0 && $child->baseTicketStatus == 'STATUS_NEW' && $child->baseTicketDiscount == 0}
                        <div class="gss-basket-promocode">
                            <div class="form-group">
                                <input class="form-control" autocomplete="off" id="discount-code-{$child->id}" type="text" placeholder="Есть промо-код?" maxlength="100">
                                <a href="#" class="discount-code-button" id="discount-code-button-{$child->id}">Применить</a>
                            </div>
                        </div>
                        {/if}
                    </div>
                {/foreach}
            </div>
            {/if}
        </div>
    </div>
</div>