{assign var=this value=$BasketControl}
{assign var=total value=0}
{assign var=balance value=0}

{assign var=showBronButton value=0}
{assign var=showBronProductButton value=0}

<script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js"></script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="https://www.googleadservices.com/pagead/conversion/869423439/?label=G4tVCLCX3G4Qz7LJngM&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>

<div class="alert alert-info d-none" role="alert">{if $lang == 'en'}Hotel booking will be available January 15, 2018{else}Бронирование отелей будет доступно 15 января 2018 года{/if}</div>

<div class="gss-basket register-page">
    <div class="row">
        <div class="col-md-12">
            <h3 class="header-title mb-3">{if $lang == 'en'}Print the ticket{else}Файлы для скачивания{/if}</h3>
            <p class="title"><b>Актуально!</b></p>
            <p><a href="/pdf/regulation_178.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> Скачать «Постановление 178»</a></p>
            <p class="mb-4"><a href="/pdf/transfer_notification.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> Скачать «Уведомление о переносе»</a></p>

            <p><a href="/pdf/Employee_Release_Algorithm.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> Алгоритм высвобождения сотрудников</a></p>
            <p class="mb-4"><a href="/pdf/How_to_raise_the_morale_of_employees_and_customers.pdf" target="_blank"><i class="fa fa-download" aria-hidden="true"></i> Как поднять боевой дух сотрудников</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 order-md-2">
            <div class="list-group tab-menu">
                <a href="/basket?q=2" class="list-group-item list-group-item-action">{if $lang == 'en'}Members{else}Участники{/if}</a>
                <a href="/basket?q=3" class="list-group-item list-group-item-action">{if $lang == 'en'}Choose a main ticket{else}Выбрать основной билет{/if}</a>
                <a href="/basket?q=4" class="list-group-item list-group-item-action">{if $lang == 'en'}Choose additional options{else}Выбрать доп. услуги{/if}</a>
                <a href="/basket" class="list-group-item list-group-item-action">{if $lang == 'en'}Pay{else}Оплатить участие{/if}</a>
                <a href="/basket?q=5" class="list-group-item list-group-item-action active">{if $lang == 'en'}Print the ticket{else}Файлы для скачивания{/if}</a>
                <a href="/basket?q=6" class="list-group-item list-group-item-action">{if $lang == 'en'}Add promo-code{else}Ввести промо-код{/if}</a>
<!--                <a href="/presentation" class="list-group-item list-group-item-action">##presentation##</a>-->
                {if 1==2}
                    {if $this.comItem == 'STATUS_ENABLED'}
                        <span class="list-group-item list-group-item-action">{if $lang == 'en'}<i class="fa fa-check" aria-hidden="true"></i> You passed test{else}<i class="fa fa-check" aria-hidden="true"></i> Вы прошли тест{/if}</span>
                    {elseif $this.comItem == 'STATUS_DISABLED'}
                        <span class="list-group-item list-group-item-action">{if $lang == 'en'}<i class="fa fa-times" aria-hidden="true"></i> You did`t pass test{else}<i class="fa fa-times" aria-hidden="true"></i> Вы не прошли тест{/if}</span>
                    {else}
                        <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#testModal">{if $lang == 'en'}Pizza Championship{else}Чемпионат по пицце{/if}</a>
                    {/if}
                {/if}
                <div class="badge-metro mt-4">
                    <a href="{link show=basket q=2}">
                        <img src="/images/metro_prize.png" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-8 page_body order-md-1">
            <h4 class="form-title">{if $lang == 'en'}User Registration:{else}Основной участник:{/if}</h4>
            <div class="row">
                <div class="col-md-2">
                    <img class="qr-img" src="/qr/code.php?code={$this.qrmObj->code}" />
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <div class="form-control"><span>{$this.user->name} {$this.user->lastname}</span></div>
                    </div>
                    <div class="mb-5">
                        <a class="btn btn-white" href="{link do=usergetbilet id=$this.user->id}">{if $lang == 'en'}Ticket{else}Билет{/if}</a>
                        {if $this.user->baseTicketId != 1 && $this.user->baseTicketId != 14}
                            <a class="btn btn-white" href="{link do=usergethotelkupon}">{if $lang == 'en'}Accommodation coupon{else}Купон на проживание{/if}</a>
                        {/if}
                        <a class="btn btn-white d-none" href="/pdf/gastreet19_memo.pdf">{if $lang == 'en'}Memo{else}Памятка{/if}</a>
                        {if $this.user->baseTicketId != 1 && $this.user->baseTicketId != 14}
                            <a class="btn btn-white d-none" href="{link do=usergetcert}">{if $lang == 'en'}Certificate of participant{else}Сертификат участника{/if}</a>
                        {/if}
                    </div> 
                </div>
            </div>

            {if $this.children}
            <div class="row mb-4">
                <div class="col-md-12">
                    <h4 class="form-title">{if $lang == 'en'}Additional members{else}Дополнительные участники{/if}:</h4>
                </div>
                {foreach from=$this.children item=child}
                    {assign var=childId value=$child->id}
                    <div class="col-md-2">
                        <img class="qr-img" src="/qr/code.php?code={$this.qrList.$childId}" />
                    </div>
                    <div class="col-md-10">
                        <div class="form-group">
                            <div class="form-control"><span>{$child->name} {$child->lastname}</span></div>
                        </div>
                        <div class="mb-4">
                            <a class="btn btn-white" href="{link do=usergetbilet id=$child->id}">{if $lang == 'en'}Ticket{else}Билет{/if}</a>
                            {if $child->baseTicketId != 1 && $child->baseTicketId != 14 && $child->baseTicketId}
                                <a class="btn btn-white" href="{link do=usergethotelkupon id=$child->id}">{if $lang == 'en'}Accommodation coupon{else}Купон на проживание{/if}</a>
                            {/if}
                            <a class="btn btn-white d-none" href="/pdf/gastreet19_memo.pdf">{if $lang == 'en'}Memo{else}Памятка{/if}</a>
                            {if $child->baseTicketId != 1 && $child->baseTicketId != 14 && $child->baseTicketId}
                                <a class="btn btn-white d-none" href="{link do=usergetcert id=$child->id}">{if $lang == 'en'}Certificate of participant{else}Сертификат участника{/if}</a>
                            {/if}
                        </div>
                    </div>
                {/foreach}
            </div>
            {/if}
        </div>
    </div>
</div>