{assign var=this value=$BecomePartnerControl}

{loadscript file='/css/becomepartner.css' type='css'}

    <div class="container">
        <div class="row main-text align-items-center">
            <div class="col-md-6">
                <div class="h1 mb-3">Добро пожаловать на GASTREET!</div>
                <p>Эта страница точно для тебя, если ты - поставщик или производитель. Здесь красивые картинки того, как это уже было реализовано. Ещё больше примеров и креатива - после отправки заявки.</p>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 pr-0">
                        <div class="g-emoji-content">
                            <div class="g-emoji-icon">
                                <img src="/images/emoji/14.png" class="img-fluid" alt="">
                            </div>
                            <div class="g-emoji-balun">
                                Может, ты выводишь новый продукт на рынок HoReCa?
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="g-emoji-content">
                            <div class="g-emoji-balun">
                                Тогда тебе точно по адресу! Строим GASTREET city вместе!
                            </div>
                            <div class="g-emoji-icon">
                                <img src="/images/emoji/2.png" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="10"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="11"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="12"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="13"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="14"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="15"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="16"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="17"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-interval="3000">
                            <img class="d-block w-100" src="/images/becomePartner/1_Metro.jpg" alt="Слайд 1">
                        </div>
                        <div class="carousel-item" data-interval="3000">
                            <img class="d-block w-100" src="/images/becomePartner/2_Essense lab.jpg" alt="Слайд 2">
                        </div>
                        <div class="carousel-item" data-interval="3000">
                            <img class="d-block w-100" src="/images/becomePartner/3_ADG.jpg" alt="Слайд 3">
                        </div>
                        <div class="carousel-item" data-interval="3000">
                            <img class="d-block w-100" src="/images/becomePartner/4_Electolux.jpg" alt="Слайд 4">
                        </div>
                        <div class="carousel-item" data-interval="3000">
                            <img class="d-block w-100" src="/images/becomePartner/5_GAZ.jpg" alt="Слайд 5">
                        </div>
                        <div class="carousel-item" data-interval="3000">
                            <img class="d-block w-100" src="/images/becomePartner/6_SEGEZHA.jpg" alt="Слайд 6">
                        </div>
                        <div class="carousel-item" data-interval="3000">
                            <img class="d-block w-100" src="/images/becomePartner/7_Tatspiritprom.jpg" alt="Слайд 7">
                        </div>
                        <div class="carousel-item" data-interval="3000">
                            <img class="d-block w-100" src="/images/becomePartner/8_Heinz.jpg" alt="Слайд 8">
                        </div>
                        <div class="carousel-item" data-interval="3000">
                            <img class="d-block w-100" src="/images/becomePartner/9_Edanakolesah.jpg" alt="Слайд 9">
                        </div>
                        <div class="carousel-item" data-interval="3000">
                            <img class="d-block w-100" src="/images/becomePartner/10_Mersedes.jpg" alt="Слайд 10">
                        </div>
                        <div class="carousel-item" data-interval="3000">
                            <img class="d-block w-100" src="/images/becomePartner/11_Darkside.jpg" alt="Слайд 11">
                        </div>
                        <div class="carousel-item" data-interval="3000">
                            <img class="d-block w-100" src="/images/becomePartner/12_Strada.jpg" alt="Слайд 12">
                        </div>
                        <div class="carousel-item" data-interval="3000">
                            <img class="d-block w-100" src="/images/becomePartner/13_R-keeper.jpg" alt="Слайд 13">
                        </div>
                        <div class="carousel-item" data-interval="3000">
                            <img class="d-block w-100" src="/images/becomePartner/14_Neft.jpg" alt="Слайд 14">
                        </div>
                        <div class="carousel-item" data-interval="3000">
                            <img class="d-block w-100" src="/images/becomePartner/15_Gipfel.jpg" alt="Слайд 15">
                        </div>
                        <div class="carousel-item" data-interval="3000">
                            <img class="d-block w-100" src="/images/becomePartner/16_Delivery.jpg" alt="Слайд 16">
                        </div>
                        <div class="carousel-item" data-interval="3000">
                            <img class="d-block w-100" src="/images/becomePartner/17_bose.jpg" alt="Слайд 17">
                        </div>
                        <div class="carousel-item" data-interval="3000">
                            <img class="d-block w-100" src="/images/becomePartner/18_Proenglish.jpg" alt="слайд 18">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 feedback">
                <div class="title h4 mt-5">Оставь заявку. Мы с&nbsp;тобой свяжемся в&nbsp;ближайшее время!</div>
                <form class="row" action="" method="post">
                    <input type="hidden" name="subject" value="Заявка на партнерство">
                    <div class="col-md-4">
                        <input type="text" class="form-custom" name="name" placeholder="Фамилия Имя" required>
                    </div>
                    <div class="col-6 col-md-4">
                        <input type="text" class="form-custom" name="company" placeholder="Компания" required>
                    </div>
                    <div class="col-6 col-md-4">
                        <input type="text" class="form-custom" name="pcity" placeholder="Город" required>
                    </div>
                    <div class="col-6 col-md-4">
                        <input type="text" class="form-custom" name="phone" placeholder="Телефон" required>
                    </div>
                    <div class="col-6 col-md-4">
                        <input type="text" class="form-custom" name="email" placeholder="E-mail" required>
                    </div>
                    <div class="col-md-4">
                        <a href="#" class="btn ajax-mess-submit">Отправить</a>
                    </div>
                </form>
            </div>
        </div>
    </div>