{assign var=this value=$BecomePartnerControl}

{loadscript file='/css/becomepartner.css' type='css'}

<div class="container main">
    <div class="row align-items-center">
        <div class="col-md-6">
            <h1>Добро пожаловать<br>
                на GASTREET!</h1>
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6 pr-0">
                    <div class="g-emoji-content">
                        <div class="g-emoji-icon">
                            <img src="/images/emoji/14.png" class="img-fluid" alt="">
                        </div>
                        <div class="g-emoji-balun">
                            Может, ты выводишь новый продукт на рынок HoReCa?
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="g-emoji-content">
                        <div class="g-emoji-balun">
                            Тогда тебе точно по адресу! Строим GASTREET city вместе!
                        </div>
                        <div class="g-emoji-icon">
                            <img src="/images/emoji/2.png" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8">
            <p>Эта страница точно для тебя, если ты — поставщик или производитель.<br>
                Здесь красивые картинки того, как это уже было реализовано.<br>
                Ещё больше примеров и креатива — после отправки заявки.<br>
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="text-above">Успешные</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 d-none d-md-block">
            <div class="main-image-block">
                <img src="/images/becomePartner/1-metro.jpg" class="img-fluid">
                <h4>Интеграция <span>Metro</span></h4>
                <p>Самая мощная интеграция! Внедрение логотипа Metro на всю линейку GASTREET PRODUCTION.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <h1 class="text-under">интеграции</h1>
            <div class="owl-carousel owl-theme carousel-partner-page">
                <div class="item">
                    <a class="image-carousel" href="#">
                        <img src="/images/becomePartner/1-metro.jpg" class="img-fluid">
                        <div class="h4">Metro</div>
                        <div class="h4">Интеграция <span>Мetro</span></div>
                        <p>Самая мощная интеграция! Внедрение логотипа Metro на всю линейку GASTREET PRODUCTION.</p>
                    </a>
                </div>
                <div class="item">
                    <a class="image-carousel" href="#">
                        <img src="/images/becomePartner/2-essence.jpg">
                        <div class="h4">Essence lab</div>
                        <div class="h4">Самый большой коктейль в&nbsp;мире от <span>Essence lab</span></div>
                        <p>Побили рекорды и&nbsp;приготовили 650 литров Essence Spritz. Бокал был изготовлен специально для GASTREET, его вес составил 1,5 тонны, а&nbsp;объем — 800 литров.</p>
                    </a>
                </div>
                <div class="item">
                    <a class="image-carousel" href="#">
                        <img src="/images/becomePartner/3-adg.jpg">
                        <div class="h4">ADG</div>
                        <div class="h4">2 000 000 инвестиций на открытие ресторана от <span>ADG</span></div>
                        <p>Розыгрыш корнера в Москве в РЦ «Будапешт». Победитель — проект о правильной еде «Стой и Свети». Топовое место в фуд-холле теперь их.</p>
                    </a>
                </div>
                <div class="item">
                    <a class="image-carousel" href="#">
                        <img src="/images/becomePartner/4-electrolux.jpg">
                        <div class="h4">Electrolux × Yatchline × Darkside</div>
                        <div class="h4">Коллаборацция партнеров на террасе <span>Electrolux</span> × <span>Yatchline</span> × <span>Darkside</span></div>
                        <p>Собственный pop-up ресторан от компании «Electrolux», Концептуальная мебель от Yatchline и самые вкусные кальяны от Darkside.</p>
                    </a>
                </div>
                <div class="item">
                    <a class="image-carousel" href="#">
                        <img src="/images/becomePartner/5-gaz.jpg">
                        <div class="h4">GAZ</div>
                        <div class="h4">Первая спортивная площадка <span>GAZ</span></div>
                        <p>Баскетбольные матчи: спикеры против шефов, ресторан на ресторан. Проигравших нет! 3 фудтрака с абсолютно разными концепциями: бар, пицца и бургеры.</p>
                    </a>
                </div>
                <div class="item">
                    <a class="image-carousel" href="#">
                        <img src="/images/becomePartner/6-segezha.jpg">
                        <div class="h4">Segezha Group</div>
                        <div class="h4">Экологичная упаковка от <span>Segezha Group</span></div>
                        <p>Более 50 000 крафтовых пакетов на всех локациях GASTREET City. Только крафт, никакого пластика. Greeenpeace одобряет!</p>
                    </a>
                </div>
                <div class="item">
                    <a class="image-carousel" href="#">
                        <img src="/images/becomePartner/7-tatspirtprom.jpg">
                        <div class="h4">Татспиртпром</div>
                        <div class="h4">Pop-up ресторан от <span>Татспиртпром</span></div>
                        <p>Свежий горный воздух и потрясающие виды. Иммерсивные дегустации: уникальные сеты блюд в сочетании с авторскими коктейлями на водке «Ханская».</p>
                    </a>
                </div>
                <div class="item">
                    <a class="image-carousel" href="#">
                        <img src="/images/becomePartner/8-kraft heinz.jpg">
                        <div class="h4">Kraft Heinz</div>
                        <div class="h4">Арт-объекты от <span>Kraft Heinz</span></div>
                        <p>Двухметровые бутылки соусов по всему GASTREET City, которые не отличить от оригиналов.</p>
                    </a>
                </div>
                <div class="item">
                    <a class="image-carousel" href="#">
                        <img src="/images/becomePartner/9-eda_na_kolesah.jpg">
                        <div class="h4">Еда на колесах</div>
                        <div class="h4">Собственная Food Truck Zone от <span>Еда на колесах</span></div>
                        <p>Мексиканская кухня, японские блинчики и гавайское Poke – крутая посадка и промо в лучших традициях партнёра.</p>
                    </a>
                </div>
                <div class="item">
                    <a class="image-carousel" href="#">
                        <img src="/images/becomePartner/10-mercedes.jpg">
                        <div class="h4">Mercedes-Benz</div>
                        <div class="h4"><span>Mercedes-Benz</span> официальный авто-партнер</div>
                        <p>Трансфер-премиум для спикеров и шефов. С комфортом и на стиле!</p>
                    </a>
                </div>
                <div class="item">
                    <a class="image-carousel" href="#">
                        <img src="/images/becomePartner/11-darkinside.jpg">
                        <div class="h4">Darkside</div>
                        <div class="h4"><span>Darkside</span></div>
                        <p>Первый партнёр, организовавший вечеринку на Центральной площади. Внедрение застройки в ландшафт лужайки. Самое нестандартное решение!</p>
                    </a>
                </div>
                <div class="item">
                    <a class="image-carousel" href="#">
                        <img src="/images/becomePartner/12-strada.jpg">
                        <div class="h4">Strada x Жарушка х Марр Руссия</div>
                        <div class="h4">Коллаборацция <span>Strada</span> × <span>Жарушка</span> × <span>Марр Руссия</span></div>
                        <p>Strada — система очистки воздуха, над которой работало 9 инженеров в течение 4-х месяцев. Жарушка — идейный вдохновитель локации и производитель печей,грилей и смокеров. Марр Руссия — 5-й год являются спонсорами GASTREET и предоставляют продукты.</p>
                    </a>
                </div>
                <div class="item">
                    <a class="image-carousel" href="#">
                        <img src="/images/becomePartner/13-r-keeper.jpg">
                        <div class="h4">R&#8209;Keeper ×&nbsp;Mixcart ×&nbsp;liko</div>
                        <div class="h4">Образовательные площадки от <span>R&#8209;Keeper</span> ×&nbsp;<span>Mixcart</span> ×&nbsp;<span>liko</span></div>
                        <p>2&nbsp;конкурента в&nbsp;одном здании, 2&nbsp;собственные образовательные площадки, 119 спикеров и&nbsp;136 мастер-классов. И&nbsp;несмотря на всё — аншлаг в каждом зале.</p>
                    </a>
                </div>
                <div class="item">
                    <a class="image-carousel" href="#">
                        <img src="/images/becomePartner/14-neft.jpg">
                        <div class="h4">Нефть</div>
                        <div class="h4">Энергетик <span>Нефть</span> везде и повсюду</div>
                        <p>Семплинг в&nbsp;автобусах для 5000 участников GASTREET. Партнёрам удалось организовать настоящий ночной клуб в президентском номере отеля «Горки Арт». «Нефть» лилась рекой!</p>
                    </a>
                </div>
                <div class="item">
                    <a class="image-carousel" href="#">
                        <img src="/images/becomePartner/15-gipfel.jpg">
                        <div class="h4">Gipfel</div>
                        <div class="h4">Сними стресс вместе с <span>Gipfel</span></div>
                        <p>Выстроили целый тоннель, чтобы люди могли собственными руками проверить посуду на прочность.</p>
                    </a>
                </div>
                <div class="item">
                    <a class="image-carousel" href="#">
                        <img src="/images/becomePartner/16-delivery.jpg">
                        <div class="h4">Delivery club</div>
                        <div class="h4">Промо от <span>Delivry club</span></div>
                        <p>Их костюмы и слаженность команды говорили сами за себя.</p>
                    </a>
                </div>
                <div class="item">
                    <a class="image-carousel" href="#">
                        <img src="/images/becomePartner/17-bose.jpg">
                        <div class="h4">Bose</div>
                        <div class="h4">Сцена <span>Bose</span> на BARSTREET</div>
                        <p>Полный эксклюзив по звуку на BARSTREET. Мы им доверились, и они всё сделали круто!</p>
                    </a>
                </div>
                <div class="item">
                    <a class="image-carousel" href="#">
                        <img src="/images/becomePartner/18-pro-english.jpg">
                        <div class="h4">Pro.English</div>
                        <div class="h4">Полное погружение команды <span>PRO.ENGLISH</span></div>
                        <p>Партнёры стали официальным переводчиком на всех иностранных мастер-классах и абсолютно каждом Pop-up ужине.</p>
                    </a>
                </div>
            </div>
            <div class="controls">
                <div class="dots js-dots">&nbsp;</div>
            </div>
        </div>
    </div>
</div>
<div class="container feedback">
    <div class="row">
        <div class="col-12 col-md-5 text-center feedback-body">
            <h3>ОСТАВЬ ЗАЯВКУ</h3>
            <p>Мы свяжемся с тобой в ближайшее время</p>
            <form method="POST">
                <div class="form-group">
                    <input class="form-control" name="name" placeholder="Имя Фамилия" type="text">
                </div>
                <div class="form-group">
                    <input class="form-control" name="company" placeholder="Компания" type="text">
                </div>
                <div class="form-group">
                    <input class="form-control" name="pcity" placeholder="Город" type="text">
                </div>
                <div class="form-group">
                    <input class="form-control" name="phone" placeholder="Телефон" type="text">
                </div>
                <div class="form-group">
                    <input class="form-control" name="email" placeholder="E-mail" type="text" class="input-end">
                </div>
                <a href="#" class="btn-send ajax-mess-submit">Отправить</a>
            </form>
        </div>
    </div>
</div>