{assign var=this value=$BookingControl}

<div class="gss-booking">
    <h4>##bookTickets##</h4>
    {if $lang == 'en'}

    <p>You can book tickets for {$this.amountBron|round0} rubles for 2 week (to {$this.daysBronTill|dateformat:'d.m.Y, H:i'}).<br/>
        If there is no full payment for the ticket within 14 days - the amount of the booking is not refundable.</p>
        {if $this.children}<p>You have {declension count=$this.countchildren form1=member form2=members form5=members} and you.</p>{/if}
    {else}
    <p>Вы можете забронировать билеты за {$this.amountBron|round0} р. на 2 недели (до {$this.daysBronTill|dateformat:'d.m.Y, H:i'}).<br/>
<!--    <p>Вы можете забронировать билеты за {$this.amountBron|round0} р. до 15 января.<br/>-->
        При отсутствии полной оплаты билета в течении указанного срока - сумма бронирования не возвращается.</p>
        {if $this.children}<p>У Вас {declension count=$this.countchildren form1=участник form2=участника form5=участников} плюс Вы.</p>{/if}
    {/if}
    {if $this.ucmObjs}
    <form action="{link do=addbooking mode=alfa}" method="POST">
        <div class="agree">
            <input type="checkbox" name="agree" id="bookingagree" />
            <label for="bookingagree">##iAcceptReservation##</label>
        </div>
        <br/>
        <select name="cardId">
            <option value="0">-- Оплатить новой картой --</option>
            {foreach from=$this.ucmObjs item=card name=cardselect}
            <option value="{$card->id}"{if $smarty.foreach.cardselect.last} selected="selected"{/if}>{$card->cardnumber}</option>
            {/foreach}
        </select>
        <br/>
        <button id="submit-btn" type="submit" class="btn btn-black">##reservation##</button>
    </form>
    {else}
    <form action="{link do=addbooking mode=alfa}" onsubmit="yaCounter28771811.reachGoal('zabronirovat-booking'); return true" method="post">
        <div class="agree"><input type="checkbox" name="agree" id="bookingagree" /> <label for="bookingagree">##iAcceptReservation## </label></div>
        <br/>
        <button id="submit-btn" type="submit" class="btn btn-black">##reservation##</button>
    </form>
    {/if}
</div>