{assign var=this value=$CardSelectControl}

<h2>Выберите карту для оплаты:</h2>

<form id="gss-paycard-form" action="{link do=paycard}" method="POST">
    <input type="hidden" name="total" value="{$this.total}"/>
    <input type="hidden" name="code" value="{$this.code}"/>
    <input type="hidden" name="codes" value="{$this.codes}"/>
    <select name="cardId">
        <option value="0">-- Оплатить новой картой --</option>
        {foreach from=$this.ucmObjs item=card name=cardselect}
            <option value="{$card->id}"{if $smarty.foreach.cardselect.last} selected="selected"{/if}>{$card->cardnumber}</option>
        {/foreach}
    </select><br/><br/>
    <input id="gss-paycard" type="submit" value="Оплатить" />
</form>