{assign var=this value=$CatalogControl}

<div class="container-fluid">
    <div class="container" style="z-index: 1;position: relative;">
        <div class="row thematic-menu justify-content-center">
            <div class="col-6 col-md-2 py-1 text-center">
                <a href="{link show=catalog area=5}" class="thematic-menu-item thematic-menu-rebro">Владельцу</a>
            </div>
            <div class="col-6 col-md-2 py-1 text-center">
                <a href="{link show=catalog area=3}" class="thematic-menu-item thematic-menu-profi active">Руководителю</a>
            </div>
            <div class="col-6 col-md-2 py-1 text-center">
                <a href="{link show=catalog area=9}" class="thematic-menu-item thematic-menu-chef">Шефу</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 img-faces-page"></div>
    </div>
</div>
<div class="container description-header">
    <div class="row text-center">
        <div class="col-6 col-md-2">
            <div class="entry">
                <p class="num">3</p>
                <p class="text">площадки</p>
            </div>
        </div>
        <div class="col-6 col-md-2">
            <div class="entry">
                <p class="num">36</p>
                <p class="text">выступлений</p>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="entry">
                <p class="num">+</p>
                <p class="text">доступ на CHEFSTREET и&nbsp;BARSTREET</p>
            </div>
        </div>
        <div class="col-6 col-md-2">
            <div class="entry">
                <p class="num">50+</p>
                <p class="text">успешных кейсов</p>
            </div>
        </div>
        <div class="col-6 col-md-2 d-none d-md-block">
            <div class="entry">
                <p class="num">∞</p>
                <p class="text">часов нетворкинга</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <iframe width="100%" height="450" src="https://www.youtube.com/embed/3_YXLYJtCC4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>

<div class="container carousel-fest-page">
    <div class="row mb-3 mt-4">
        <div class="col-md-12">
            <div class="block-title">Как это будет</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="owl-carousel owl-theme custom-owl-carousel" id="festCarousel">
                <div class="item">
                    <a class="person-teaser js-popover" href="#" onclick="return false" data-timer="on" style="max-width: 100%;">
                        <img src="/images/thematik-page/main_news_01.jpg" class="img-fluid" data-ratio="1" alt="">
                        <div class="longtitle-carousel">Живой и настоящий опыт действующих рестораторов. Людей, которые открывают новые заведения здесь и сейчас.</div>
                    </a>
                </div>
                <div class="item">
                    <a class="person-teaser js-popover" href="#" onclick="return false" data-timer="on" style="max-width: 100%;">
                        <img src="/images/thematik-page/main_news_02.jpg" class="img-fluid" data-ratio="1" alt="">
                        <div class="longtitle-carousel">Каждое выступление, длительностью 1 час – это реальные бизнес-истории, которые ты услышишь из первых уст.</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container carousel-speak-page">
    <div class="row mb-3 mt-4 align-items-center">
        <div class="col-md-6 col-8">
            <div class="block-title">Спикеры площадки</div>
        </div>
        <div class="col-md-6 col-4 text-right">
            <div class="more">
                <a class="more-link" href="/speakers">
                    <span class="gss-all-speackers-link-mobile mb-0">Все спикеры <i class="fa fa-chevron-right" aria-hidden="true"></i></span>
                    <span class="gss-all-speackers-link-pc">Посмотреть всех спикеров <i class="fa fa-chevron-right" aria-hidden="true"></i></span>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="owl-carousel owl-theme speakers_2019 speaker" id="spiakerCarousel">
                <!-- loop start -->
                {foreach item=speaker from=$this.spmList}
                <div class="item">
                    <a class="person-teaser js-popover {$speaker.tags|tagtocssclass}" href="#" data-speaker-id="{$speaker.id}" data-timer="on">
                        <div class="img-tags">
                            {$speaker.tags|tagformat}
                            {if $speaker.partner_id > 0}
                            <img class="foreground" src="/images/parthners/resized/{$speaker.p_pic}?v={$speaker.tsUpdated}" data-ratio="1" alt="">
                            {/if}
                        </div>
                        {if $speaker.country != 'ru'}
                        <div class="icon-country {$speaker.country}"></div>
                        {/if}
                        <div class="volunteer_medal_main speaker_medal_main">{$speaker.years|yeartomedal}</div>
                        {if $speaker.pic1}
                        <img src="/images/speackers/resized/{$speaker.pic1}?v={$speaker.tsUpdated}" data-ratio="1" alt="">
                        {else}
                        <img src="/images/gss/speaker.jpg" data-ratio="1" alt="">
                        {/if}
                        <div class="about">
                            <p class="name">{$speaker.name}{if $speaker.michelin} <span class="michelin michelin_{$speaker.michelin}"></span>{/if}<br/>{$speaker.secondName}</p>
                            <p class="job">{$speaker.company}{if $speaker.cityName}<br/>{$speaker.cityName}{/if}</p>
                        </div>
                    </a>
                </div>
                {/foreach}
                <!-- loop end -->
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row align-items-center mb-3 mt-4">
        <div class="col-8 col-md-12">
            <div class="block-title">Оптимальные билеты</div>
        </div>
        <div class="col-4 text-right d-md-none">
            <a href="{link show=catalog}" class="more-link"><span>Все билеты <i class="fa fa-chevron-right" aria-hidden="true"></i></span></a>
        </div>
    </div>
    <div class="row row-nowrap mb-5">
        {component name="Userticket"}
    </div>
</div>

<div class="container all-tickets">
    <div class="row">
        <div class="col-md-2 all-tick">
            <p class="subtitle">Входит во&nbsp;все&nbsp;категории билетов</p>
        </div>
        <div class="col-md-10 in-all-ticket">
            <div class="row pt-3 pt-md-4">
                <div class="col-6 col-md-4">
                    <img src="/images/thematik-page/central.png" width="138" alt="">
                    <div class="longtitle">
                        5 музыкальных концертов<br>
                        Welcome BBQ<br>
                        Финал проекта «Народный спикер»<br>
                        Карнавал еды<br>
                        Промо-ивенты от партнеров<br>
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <img src="/images/thematik-page/drink.png" width="70" alt="">
                    <div class="longtitle">
                        Объединение WINE STREET,<br>
                        BAR STREET и BARISTA STREET<br>
                        в одну большую улицу, где пьют всё<br>
                        (и необязательно алкоголь)<br>
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <img src="/images/thematik-page/barista.png" width="89" alt="">
                    <div class="longtitle">
                        Образовательные мастер-классы<br>
                        от партнёров и лучший чайно-кофейный маркет<br>
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <img src="/images/thematik-page/food.png" width="85" alt="">
                    <div class="longtitle">
                        20 разнообразных<br>
                        форматов еды в одном месте
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <img src="/images/thematik-page/vecherinki.png" width="114" alt="">
                    <div class="longtitle">
                        Самые безумные тусовки<br>
                        в твоей жизни<br>
                        от наших партнёров<br>
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <img src="/images/thematik-page/bbq.png" width="108" alt="">
                    <div class="longtitle">
                        Мясо. Пиво. Рок-н-ролл.
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <img src="/images/thematik-page/franchise.png" width="110" alt="">
                    <div class="longtitle">
                        Поиск и продажа топовых франшиз
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page_body">
    <div class="container ">
        <div class="row row-condensed row-options">
            <div class="col-md-2">
                <p class="subtitle" id="ext_option">Дополнительные опции</p>
            </div>
            <div class="col-md-2">
                <div class="ticket cat_fuckup" data-ri="d3">
                    <h2 class="ticket_header">Место в&nbsp;палаточном лагере</h2>
                    <p class="ticket_cost">5 000 ₽</p>
                    <p class="ticket_new_cost">Место в палаточном лагере - зона выката уровень +960</p>
                    <div class="mt-2">
                        <a href="#" class="buy-product-click-pc btn btn-white" data-id="82" data-night="false" id="buy-product-pc-82" title="##buy##">Купить</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="ticket cat_popup" data-ri="d4">
                    <h2 class="ticket_header">Детский кемп «Гастритик»<br>&nbsp;</h2>
                    <p class="ticket_cost" style="margin-bottom: 1.25rem;">20 000 ₽</p>
                    <p class="ticket_new_cost">ДЕТСКИЙ кемп - GASTREET city</p>
                    <div class="mt-2">
                        <a href="#" class="buy-product-click-pc btn btn-white" data-id="84" data-night="false" id="buy-product-pc-84" title="##buy##">Купить</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="ticket air_popup" data-ri="d5">
                    <h2 class="ticket_header">Билет<br>на самолёт</h2>
                    <p class="ticket_cost" style="margin-bottom: 1.25rem;">20 000 ₽</p>
                    <p class="ticket_new_cost">Москва DME- Сочи AER<br>1 июня в 13:00</p>
                    <div class="mt-2">
                        <a href="#" class="buy-product-click-pc btn btn-white" data-id="180" data-night="false" id="buy-product-pc-180" title="##buy##">Купить</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="ticket dinner_popup" data-ri="d6">
                    <h2 class="ticket_header">Spaghettata<br>&nbsp;</h2>
                    <p class="ticket_cost" style="margin-bottom: 1.25rem;">8 000 ₽</p>
                    <p class="ticket_new_cost">Большой итальянский<br>ужин за одним столом</p>
                    <div class="mt-2">
                        <a href="#" class="buy-product-click-pc btn btn-white" data-id="181" data-night="false" id="buy-product-pc-181" title="##buy##">Купить</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="ticket showdown_popup" data-ri="d7">
                    <h2 class="ticket_header">РЕСТОРАННЫЕ<br>РАЗБОРКИ</h2>
                    <p class="ticket_cost" style="margin-bottom: 1.25rem;">3 000 ₽</p>
                    <p class="ticket_new_cost">Вечернее<br>шоу-разбор</p>
                    <div class="mt-2">
                        <a href="#" class="buy-product-click-pc btn btn-white" data-id="182" data-night="false" id="buy-product-pc-182" title="##buy##">Купить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{if $this.products}
<div class="container timetable-page">
    <!-- Для правильной работы скрипта таба -->
    <div class="tags-list-speakers d-none"><div class="gss-tag-li active"><a href="#" data-tag="all"></a></div></div>
    <div class="row mb-5 mt-5 align-items-center">
        <div class="col-8 col-md-12">
            <div class="title-programm">
                Программа площадки
            </div>
        </div>
        <div class="col-md-7 mt-3 d-none d-md-block">
            <nav class="timedata-menu d-flex flex-row flex-md-row justify-content-around tab-dates-js">
                <a href="#" data-date="all" class="active">Все дни</a>
                <a href="#" data-date="02">2 июня</a>
                <a href="#" data-date="03">3 июня</a>
                <a href="#" data-date="04">4 июня</a>
                <a href="#" data-date="05">5 июня</a>
            </nav>
        </div>
        <div class="col-4 drop d-block d-md-none">
            <div class="dropdown timedata-menu">
                <a class="dropdown-toggle" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Все дни</a>
                <div class="dropdown-menu tab-dates-js" aria-labelledby="dropdownMenu">
                    <a class="dropdown-item" data-date="all" class="active" href="#">Все дни</a>
                    <a class="dropdown-item" data-date="02" href="#">2 июня</a>
                    <a class="dropdown-item" data-date="03" href="#">3 июня</a>
                    <a class="dropdown-item" data-date="04" href="#">4 июня</a>
                    <a class="dropdown-item" data-date="05" href="#">5 июня</a>
                </div>
            </div>
        </div>
    </div>

    {foreach from=$this.products item=product name=productloop}
    {assign var=placeid value=$product->placeId}
    {assign var=speakerid value=$product->speakerId}
    {assign var=speaker value=$this.speakers.$speakerid}
    {assign var=speaker2id value=$product->speaker2Id}
    {assign var=speaker2 value=$this.speakers.$speaker2id}
    <div class="row block-body timetable row-date-{$product->eventTsStart|dateformat:'d'}">
        <div class="col-md-2 col-4">
            <div class="time-data">
                {if $product->eventTsStart|dateformat:'H' == '00' && $product->eventTsFinish|dateformat:'H' == '00'}
                <div class="data">{if $lang == 'en'}Time to be confirmed{else}Время уточняется{/if}</div>
                {else}
                <div class="data">{$product->eventTsStart|dateformat:'d F'}</div>
                <div class="time">{$product->eventTsStart|dateformat:'H:i'}&nbsp;—&nbsp;{$product->eventTsFinish|dateformat:'H:i'}</div>
                {/if}
                <div class="calendar d-md-none">
                    <a href="/calendar.php?id={$product->id}" title="Добавить в календарь">
                        <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-10 col-8">
            <div class="row align-items-center timetable-item-bg">
                <div class="order-2 order-md-1 col-md-5">
                    <div class="row align-items-end">
                        <div class="col-7 col-md-9 pr-0">
                            <div class="row align-items-center">
                                <div class="order-2 order-md-1 col-8 col-md-8 pr-0 py-md-3 py-2">
                                    {if $speaker}
                                    <a href="#" data-speaker-id="{$speakerid}" class="name">{$speaker.name} {$speaker.secondName}</a>
                                    <div class="city">{if $speaker.company}{$speaker.company},<br> {/if}{$speaker.cityName}</div>
                                    {else}
                                    <a href="#" onclick="return false" class="name">{$product->firstName} {$product->secondName}</a>
                                    <div>{if $product->company}{$product->company},<br> {/if}{$product->cityName}</div>
                                    {/if}
                                    {if $speaker2}
                                    <a href="#" data-speaker-id="{$speaker2id}" class="name">{$speaker2.name} {$speaker2.secondName}</a>
                                    <div class="city">{if $speaker2.company}{$speaker2.company},<br> {/if}{$speaker2.cityName}</div>
                                    {/if}
                                </div>
                                <div class="order-1 order-md-2 col-8 col-md-4 corp">
                                    {if $speaker.partner_id && $product->areaId != 4 && $product->areaId != 14}
                                    <img src="/images/parthners/resized/{$speaker.partner_id}.png?v=1554463230" class="img-fluid" alt="">
                                    {/if}
                                </div>
                            </div>
                        </div>
                        {if $product->youtube}
                        {assign var=modalLink value=$product->youtube}
                        {else}
                        {if $product->pic1}
                        {assign var=modalLink value=$product->pic1|getproductpic}
                        {else}
                        {assign var=modalLink value=$product->speakerId|isspeakerpicpic}
                        {/if}
                        {/if}
                        <div class="col-5 col-md-3 participant" style="background-image: url('{$modalLink}');">
                            <img src="{$modalLink}" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="order-1 order-md-2 col-md-7 px-0 description-case">
                    <div class="pt-3 py-md-0">
                        {if $product->description}
                        <a class="name-city" href="#"
                           data-toggle="modal"
                           data-target="#mk-modal"
                           data-type="{if $product->youtube}video{else}image{/if}"
                           data-partner="{$product->partner_id|ispartnerpic:'_b'}"
                           data-name="{$product->firstName}"
                           data-second-name="{$product->secondName}"
                           data-company="{$product->company}"
                           data-city-name="{$product->cityName}"
                           data-desc="{$product->description|dbtexttohtml|escape}"
                           data-flag="{$speaker->country}"
                           data-format="{if $product->tag_desc}{$product->tag_desc}{else}{$product->tags|tag2desc}{/if}"
                           data-tags="{$product->tags|tagtocssclass|escape}"
                           data-link="{$modalLink}"
                           data-title="{$product->name|dbtexttohtml|strip_tags}"> {$product->name|dbtexttohtml}</a>
                        {else}
                        <span class="name-city">{$product->name|dbtexttohtml}</span>
                        {/if}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {/foreach}
</div>
{/if}

<div class="container carousel-fest-page">
    <div class="row mb-3 mt-4">
        <div class="col-md-12">
            <div class="block-title">Новости Gastreet</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="owl-carousel owl-theme custom-owl-carousel" id="newsCarousel">
                <!-- loop start -->
                {foreach item=prize from=$this.prizes}
                {assign var=isPrizeImg1 value=$prize->id|isprizepic}
                <div class="item">
                    <a class="person-teaser js-popover" href="#popover-win-prize-{$prize->id}" data-popover="#popover-win-prize-{$prize->id}" data-idyoutubevideo="{$idYoutubeVideo}" data-timer="on">
                        {if $isPrizeImg1}
                        <img src="/images/prizes/resized/{$prize->id}.jpg?v={$prize->tsUpdate}" class="img-fluid" data-ratio="1" alt="">
                        {else}
                        <img src="/images/gss/speaker.jpg" class="img-fluid" data-ratio="1" alt="">
                        {/if}
                        <div class="longtitle-carousel">{$prize->name}</div>
                    </a>
                </div>
                {/foreach}
            </div>
        </div>
    </div>

    {foreach item=prize from=$this.prizes}
    {assign var=idYoutubeVideo value=$prize->youtube|getidyoutubevideo}
    {assign var=isPrizeImg1 value=$prize->id|isprizepic}
    <div class="modal fade" id="popover-win-prize-{$prize->id}" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="popover-win">
                    <span class="close" data-dismiss="modal">&times;</span>
                    {if $prize->youtube}
                    <div class="thumb">
                        <iframe width="100%" height="350" src="https://www.youtube.com/embed/{$prize->youtube}" frameborder="0" allowfullscreen></iframe>
                    </div>
                    {else}
                    <figure class="thumb fg-container">
                        {if $isPrizeImg1}
                        <img src="/images/prizes/resized/{$prize->id}.jpg?v={$prize->tsUpdate}" alt="">
                        {else}
                        <img src="/images/gss/speaker.jpg" alt="">
                        {/if}
                    </figure>
                    {/if}
                    {if $lang == 'en'}
                    <p class="title">{$prize->name_en}</p>
                    <div class="desc">
                        <p>{$prize->description_en|dbtexttohtml}</p>
                    </div>
                    {else}
                    <p class="title">{$prize->name}</p>
                    <div class="desc">
                        <p>{$prize->description|dbtexttohtml}</p>
                    </div>
                    {/if}
                </div>
            </div>
        </div>
    </div>
    {/foreach}
</div>

{literal}
<style>
    .thematik-main-page .img-faces-page {
        height: 33rem;
        background-image: url('/images/thematik-page/main_mainstreet.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;}
    .description-header .text {
        margin-bottom: 2rem;
        color: #000;}
    .description-header .num {
        font-family: 'Gastreet Font', sans-serif;
        font-size: 3rem;
        font-weight: 400;
        color: #10093B;
        line-height: 1;
        margin-bottom: .3rem}
    .block-title {
        font-size: 2.1rem;
        color: #12073f;
        font-weight: 600;}
    #spiakerCarousel .owl-dots .owl-dot span, #festCarousel .owl-dots .owl-dot span {
        width: 15px;
        height: 15px;
        margin: 5px 7px;
        background: #fff;
        display: block;
        -webkit-backface-visibility: visible;
        transition: opacity .2s ease;
        border-radius: 30px;
        border: 1px solid #12073f;}
    #spiakerCarousel .owl-dots .owl-dot.active span, #festCarousel .owl-dots .owl-dot.active span {
        background-color: #12073f;}
    #festCarousel .owl-nav {
        margin-bottom: 1rem;}
    #festCarousel .longtitle-carousel, #newsCarousel .longtitle-carousel {
        color: #000;
        font-size: 1rem;
        margin-top: 1rem;}
    .thematik-main-page .timetable .time-data {
        text-align: left;}
    .thematik-main-page .timetable .data {
        font-weight: 600;}
    .thematik-main-page .timetable .name-city {
        color: #fff;
        display: block;
        align-items: center;
        justify-content: space-between;
        padding-left: 15px;
        padding-right: 15px;
        font-weight: 600;}
    .thematik-main-page .timetable .name {
        color: #fff;
        display: block;
        text-decoration: underline;
        font-weight: 600;}
    .thematik-main-page .timetable .city {
        font-size: 0.650rem;}
    .thematik-main-page .timetable {
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-around;}
    .thematik-main-page .timetable .timetable-item-bg {
        color: #fff;
        background-color: #008dd2;
        text-align: left;
        height: 100%;}
    .thematik-main-page .timetable .timetable-item-bg .participant {
        position: relative;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right 15px bottom 0;}
    .thematik-main-page .timetable .timetable-item-bg>div:first-child::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 15px;
        background-color: #fff;
        display: block;}
    .thematik-main-page .timetable .timetable-item-bg .participant img {
        opacity: 0;}
    .timetable-page .title-programm {
        font-size: 2.250rem;
        font-weight: 600;}
    .chef.ticket-january, .fun.ticket-january, .king.ticket-january {
        filter: grayscale(100%);
        position: relative;
        transition: all .3s ease-out;
        opacity: .4;}
    .chef.ticket-january:hover:after, .fun.ticket-january:hover:after, .king.ticket-january:hover:after {
        display: none;
        opacity: 0;}
    .chef.ticket-january:hover, .fun.ticket-january:hover, .king.ticket-january:hover {
        filter: grayscale(0);
        opacity: 1;}
    .timetable-page .timedata-menu a {
        color: #000;
        text-decoration: none;
        font-size: 1.2rem;}
    .timetable-page .timedata-menu a:hover {
        text-decoration: underline;}
    .timetable-page .timedata-menu a.active {
        color: #008dd2;
        text-decoration: underline;
        font-weight: 600;}
    @media (min-width: 300px) and (max-width: 767px) {
        html {
            font-size: 12px;}
        .fun.ticket-january, .chef.ticket-january, .king.ticket-january {
            display: none;}
        .more-link {
            font-size: 10px;}
        .thematik-main-page iframe {
            height: 20rem;}
        .thematik-main-page .img-faces-page {
            height: 20rem;}
        .img-faces-page {
            overflow: hidden;}
        .thematik-main-page .video {
            height: 22rem;
            margin-bottom: 2.75rem}
        .block-title {
            font-size: 18px;}
        .thematik-main-page .video .btn-play {
            width: 3.250rem;
            height: 3.250rem;
            top: calc(50% - 1.625rem);
            left: calc(50% - 1.625rem);}
        #festCarousel .owl-nav button.owl-prev {
            left: -15px;}
        #festCarousel .owl-nav button.owl-next {
            right: -15px;}
        #spiakerCarousel .owl-dots .owl-dot span, #festCarousel .owl-dots .owl-dot span {
            width: 10px;
            height: 10px;}
        .thematik-main-page .timedata-menu, .thematik-main-page .timedata-menu .dropdown-menu .dropdown-item{
            font-size: 1.5rem;
            color: #3070a5}
        .thematik-main-page .timetable .time-data .calendar {
            text-align: center;
            color: #3070a5;
            font-size: 20px;}
        .thematik-main-page .timetable .time-data {
            font-size: 12px;}
        .thematik-main-page .timetable .data {
            font-weight: 600;}
        .thematik-main-page .timetable .corp {
            text-align: center;
            margin-bottom: 1rem;}
        .thematik-main-page .drop {
            text-align: center;}
        .timetable-page .title-programm {
            font-size: 1.5rem;
            font-weight: 600;}
        .thematik-main-page .timetable .timetable-item-bg .participant {
            right: 0;
            top: 0;
            z-index: 1;
            bottom: 0;
            background-position: right bottom;}
        .thematik-main-page .timetable .timetable-item-bg>div:first-child::after {
            display: none;}
        .timetable .time-data {
            margin-top: -1px;}
    }
    @media (min-width: 768px) and (max-width: 991px) {
        body {
            font-size: 12px;}
        .thematik-main-page .img-faces-page {
            height: 30rem;}
        #festCarousel img {
            height: 190px;}
        .thematik-main-page .video  {
            height: 18rem;
            margin-bottom: 4.75rem;}
        .block-title {
            font-size: 20px;}
        .thematik-main-page .video .btn-play {
            width: 3.250rem;
            height: 3.250rem;
            top: calc(50% - 1.625rem);
            left: calc(50% - 1.625rem);}
        .thematik-main-page .logo-page .logo {
            width: 70%;}
        .thematik-main-page .logo-page {
            margin-left: 0;
            padding: 0;}
        .thematik-main-page .camo {
            width: 100%;
            left: 0;
            bottom: -4rem;}
        .thematik-main-page .img-faces-page .faces {
            width: 80%;}
        .thematik-main-page .img-faces-page .title span {
            font-size: 25px;}
        .thematik-main-page .img-faces-page .title {
            vertical-align: middle;
            font-size: 12px;
            padding: 0;
            margin-right: 1rem;
            margin-left: 0.3rem;
            margin-top: 1rem;}
        #festCarousel img {
            height: 190px;}
        #festCarousel .owl-nav button.owl-prev {
            left: -15px;}
        #festCarousel .owl-nav button.owl-next {
            right: -15px;}
    }
    @media (min-width: 992px) and (max-width: 1199px) {
        .thematik-main-page .main_chef {
            left: 0;
            width: 100%;}
    } 
</style>
{/literal}
