{assign var=this value=$CatalogControl}

<div class="main-bg">
    <nav class="navbar" id="navbar">
        <div class="container">
            <div class="navbar-header">
                <div class="gastreet">
                    <div class="place">
                        {if $lang == 'en'}
                            <p>Sochi, Krasnaya Polyana,<br /> Gorki Gorod, +960</p>
                        {else}
                            <p>Сочи, Красная Поляна,<br />Горки Город, +960</p>
                        {/if}
                    </div>
                </div>
            </div>
            <div class="navbar-header navbar-right">
                <div class="con-block">
                    <div class="icon-block">
                        <a href="https://www.instagram.com/gastreetshow" target="_blank" class="icon instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="https://www.facebook.com/gastreetshow" target="_blank" class="icon facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </div>
                    <p class="phone"></p>
                </div>
            </div>
        </div>
    </nav>
    <div class="header_title">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    {if $lang == 'en'}
                        <h1 class="title">{$this.amObj->name_en}</h1>
                        <p class="subtitle">В городе Сочи так много достопримечательностей, известных объектов и захватывающих природных пейзажей, что побывать тут и не посетить их - будет непростительной ошибкой.</p>
                    {else}
                        <h1 class="title">{$this.amObj->name}</h1>
                        <p class="subtitle">В городе Сочи так много достопримечательностей, известных объектов и захватывающих природных пейзажей, что побывать тут и не посетить их - будет непростительной ошибкой.</p>
                    {/if}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="page-container">
        <div class="row">
            {if $this.amObj}
                {if $lang == 'en'}
                    {$this.amObj->description_en|dbtexttohtml}
                {else}
                    {$this.amObj->description|dbtexttohtml}
                {/if}
            {/if}
        </div>
    </div>
</div>

{if $this.products}
    {assign var=productiteration value=0}
    {assign var=oldareaid value=0}
    {assign var=oldeventtsstart value=0}
    {if $this.productId}<form action="{link do=add}" method="post"><input type="hidden" name="productId" value="{$this.productId}" />{/if}
        {foreach from=$this.products item=product name=productloop}
        {if $oldareaid != $product->areaId}
            {assign var=newareaid value=$product->areaId}
            <!-- area delimiter -->
        {/if}
        {assign var=eventtsstart value=$product->eventTsStart|tstocheck}
        {assign var=placeid value=$product->placeId}
        {assign var=speakerid value=$product->speakerId}
        {assign var=speaker value=$this.speakers.$speakerid}
        {if $oldeventtsstart != $eventtsstart}
            <!-- another date -->
        {/if}

        {if $productiteration >= 3}
            {if $productiteration > 0}
            </div>
            {/if}
            {assign var=productiteration value=0}
            <!-- event delimiter -->
        {/if}

        {if $productiteration == 0}
            <div class="page-subsection l-row">
        {/if}

        {assign var=productiteration value=$productiteration+1}
            <div class="l-col-tbl-4 l-as-row">
                <div class="event-teaser">
                   <!-- <p class="date">{$product->eventTsStart|dateformat:'d M'}</p> -->
                    {assign var=idYoutubeVideo value=$product->youtube|getidyoutubevideo}
                    <a class="thumb js-popover" href="#popover-win-{$product->id}" data-popover="#popover-win-{$product->id}" data-idyoutubevideo="{$idYoutubeVideo}">
                        {assign var=isimgproduct value=$product->id|isproductpic}
                        <figure class="themed-photo">
                            {if $isimgproduct}
                                <img class="photo" src="/images/products/resized/{$product->id}.jpg?v={$product->tsUpdate}">
                            {else}
                                <img class="photo" src="/content/event{$productiteration}.jpg">
                            {/if}
                        </figure>
                        <div class="about">
                            <!-- <p class="time">{$product->eventTsStart|dateformat:'H:i'}</p> -->
                            {if $product->leftCount}<p class="count">Доступно:<br>{declension count=$product->leftCount form1=билет form2=билета form5=билетов}</p>{/if}
                        </div>
                        {assign var=canShowButton value=1}
                        {if $this.includedProductIds}
                          {foreach from=$this.includedProductIds item=includedProductId}
                            {if $includedProductId == $product->id}
                              {assign var=canShowButton value=0}
                            {/if}
                          {/foreach}
                        {/if}
                        <div class="more">Подробнее</div>
                    </a>
                    <div class="speaker">
                        <p class="name">{$product->name}</p>
                        <p class="job">{$this.plmArray.$placeid}</p>
                    </div>
                    <div class="order">
                        {if $product->price > 0}<p class="price">{$product->price|round0} руб.</p>{/if}
                        {if $product->leftCount > 0 && !$this.disableAllBecauseNoBaseTicket && $canShowButton && !$this.productId}<a class="btn-cart" href="#" onclick='window.location.href = "/index.php?do=add&product={$product->id}"; return false;' title="Купить">Купить</a>{/if}
                    </div>
                </div>
            </div>

            <div class="modal fade" id="popover-win-{$product->id}" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="popover-win">
                            <span class="close" data-dismiss="modal">&times;</span>
                            {if $idYoutubeVideo}
                                <div class="thumb">
                                    <iframe src="" frameborder="0" allowfullscreen></iframe>
                                </div>
                            {else}
                                <figure class="thumb">
                                    {if $isimgproduct}
                                        <img src="/images/products/resized/{$product->id}.jpg?v={$product->tsUpdate}">
                                    {else}
                                        <img src="content/popover.jpg">
                                    {/if}
                                </figure>
                            {/if}
                            <p class="title">{$product->name}</p>
                            <div class="desc">{$product->description|dbtexttohtml}</div>
                            {if $product->leftCount > 0 && !$this.disableAllBecauseNoBaseTicket && $canShowButton && !$this.productId}<div class="order"><a href="#" onclick='window.location.href = "/index.php?do=add&product={$product->id}"; return false;' title="Купить">Купить</a></div>{/if}
                        </div>
                    </div>
                </div>
            </div>

            {assign var=oldeventtsstart value=$product->eventTsStart|tstocheck}
        {/foreach}
    </div>
    {if $this.productId}<div class="container padding-top-bottom-10"><input type="submit" value="Заменить"/></div></form>{/if}
{/if}