{assign var=this value=$CatalogControl}

<div class="container">
    <div class="page-container" id="page-container">
        <div class="row">
            <div class="col-md-6">
                <div class="page-container-image" id="page-container-image">
                    <picture>
                        <source srcset="/images/areas/resized/03{$this.amObj->id}.jpg?v={$this.amObj->tsUpdated}" media="(min-width: 1200px)">
                        <img src="/images/areas/resized/01{$this.amObj->id}.jpg?v={$this.amObj->tsUpdated}">
                    </picture>
                </div>
            </div>
            <div class="col-md-6">
                <div class="page-container-inner" id="page-container-inner">
                    {if $this.amObj}
                        {if $lang == 'en'}
                        <ul class="breadcrumbs">
                            <li><a href="/">Home</a></li>
                            <li><a href="{link show=programms}">Program</a></li>
                            <li><span>{$this.amObj->name_en}</span></li>
                        </ul>
                        <h1 class="page-headline">{$this.amObj->name_en}</h1>
                        <div class="textblock">{$this.amObj->description_en|dbtexttohtml}</div>
                        {else}
                        <ul class="breadcrumbs">
                            <li><a href="/">Главная</a></li>
                            <li><a href="{link show=programms}">Программы</a></li>
                            <li><span>{$this.amObj->name}</span></li>
                        </ul>
                        <h1 class="page-headline">{$this.amObj->name}</h1>
                        <div class="textblock">{$this.amObj->description|dbtexttohtml}</div>
                        {/if}
                    {/if}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="stick-to-footer container d-none">
    <div class="instagram-gallery">
        <div class="gallery-col">
            <h2 class="section-headline" style="margin-top: 4rem;margin-bottom: 2.75rem;">Gastreet<br> History</h2>
            <img src="/images/collages/funeral1.jpg">
        </div>
        <div class="gallery-col">
            <img src="/images/collages/funeral2.jpg">
            <div class="gallery-row">
                <div class="gallery-col-1of2"><img src="/images/collages/funeral3.jpg"></div>
                <div class="gallery-col-1of2"><img src="/images/collages/funeral4.jpg"></div>
            </div>
        </div>
        <div class="gallery-col">
            <img src="/images/collages/funeral5.jpg">
            <div class="gallery-row">
                <div class="gallery-col-1of2"><img src="/images/collages/funeral6.jpg"></div>
                <div class="gallery-col-1of2"><img src="/images/collages/funeral7.jpg"></div>
            </div>
            <img src="/images/collages/funeral8.jpg">
        </div>
    </div>
</div>
<div class="container gss-tag">#gastreetshow</div>

