{assign var=this value=$ChatbotControl}

<div class="container header">
    <div class="row align-items-center my-5">
        <div class="col-md-5 logo">
            <img src="/images/chatbot/logo.svg" alt="">
        </div>
        <div class="col-10 offset-md-3 offset-1 col-md-4 jule">
            <img src="/images/chatbot/date.svg" alt="">
        </div>
    </div>
</div>
<div class="container chat-bot-body">
    <div class="row">
        <div class="col-md-12 mt-5">
            <p class="title">
                Дарим универсальный чек-лист для
                <br>управляющего и&nbsp;ресторатора</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-3">
            <p class="longtitle">
                Он определяет ключевые задачи и&nbsp;направления<br>
                деятельности управляющего и&nbsp;помогает контролировать<br>
                рабочие процессы в ресторане.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row my-5">
        <div class="col-md-7">
            <div class="socnet-icons text-center">
                <div class="socnet-title">Куда тебе прислать чек-лист?</div>
                <div class="socnet-body">
                    <a href="#" class="icons telegram">
                        <i class="fa fa-telegram" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="icons whats-app">
                        <i class="fa fa-whatsapp" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="icons vk">
                        <i class="fa fa-vk" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="icons facebook">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{literal}
<style>
    .chat-bot-landing {
        color: #fff;
        margin: 0;
        padding: 0;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        background-color: #464646;
        background-image:  url('/images/chatbot/check.jpg');
        background-repeat: no-repeat;}
    .chat-bot-landing .header {
        color: #fff;}
    .chat-bot-landing .header .jule {
        text-align: end;
        width: 100%;}
    .chat-bot-landing .chat-bot-body .title {
        font-size: 2.550rem;
        font-weight: 600;
        line-height: 1.2;}
    .chat-bot-landing .chat-bot-body .longtitle {
        font-size: 1.550rem;}
    .socnet-icons {
        background-color: rgba(255, 255, 255, 0.55);
        border-radius: 10px;
        padding: 2rem 1rem;}
    .socnet-icons .socnet-title {
        font-size: 1.550rem;
        font-weight: 600;
        margin-bottom: 2rem;}
    .socnet-icons .socnet-body .icons {
        display: inline-block;
        vertical-align: middle;
        font-size: 4.7rem;
        padding: .5rem;
        line-height: 1.3;
        width: 7rem;
        height: 7rem;
        margin: 0 .3rem;
        color: #fff;
        background-color: #fff;
        border-radius: 50%;
        text-align: center;}
    .socnet-icons .socnet-body .icons.telegram {
        font-size: 7rem;
        line-height: .9;
        padding: 0;
        color: #0088cc;
        background: radial-gradient(#fff 49%, #0088cc 50%);}
    .socnet-icons .socnet-body .icons.whats-app {
        background-color: #665cac;}
    .socnet-icons .socnet-body .icons.vk {
        background-color: #4d7198;}
    .socnet-icons .socnet-body .icons.facebook {
        background-color: #4267b2;}
    @media (min-width: 300px) and (max-width: 767px) {
        html {
            font-size: 11px;}
        .chat-bot-landing .header .logo img {
            width: 100%;
            margin-bottom: 2rem;}
        .chat-bot-landing .header .jule {
            text-align: center;}
        .chat-bot-landing .chat-bot-body .title {
            font-size: 2.2rem;
            font-weight: 600;
            line-height: 1.2;}
        .chat-bot-landing .chat-bot-body .longtitle {
            font-size: 1.5rem;}
        .socnet-icons .socnet-body .icons {
            font-size: 2.5rem;
            width: 4rem;
            height: 4rem;}
        .socnet-icons .socnet-body .icons.telegram {
            font-size: 4rem;}
    }
</style>
{/literal}
