{assign var=this value=$ContactsControl}

<div class="jumbotron-blank">
    <div class="container">
        <div class="content">
            <ul class="breadcrumbs">
                <li><a href="/">##home##</a></li>
                <li><span>##contacts##</span></li>
            </ul>
        </div>
    </div>
</div>

<div class="page-container mb-5" id="page-container">
    <div class="container">
        <div class="row">
            <div class="offset-md-7 col-md-5">
                <div class="g-emoji-content">
                    <div class="g-emoji-icon">
                        <img src="/images/emoji/13.png" class="img-fluid" alt="">
                    </div>
                    <div class="g-emoji-balun">Есть вопросы - звони, не стесняйся!</div>
                </div>
            </div>
        </div>
        <div class="row text-center contacts-tabs justify-content-center">
            <div class="col h5"><a href="#" data-target=".type_participants" class="active">{if $lang == 'en'}For participants{else}Участникам{/if}</a></div>
            <div class="col h5"><a href="#" data-target=".type_partners">{if $lang == 'en'}For partners{else}Партнёрам{/if}</a></div>
            <div class="col h5"><a href="#" data-target=".type_media">{if $lang == 'en'}PR/Media{else}PR / СМИ{/if}</a></div>
            <div class="col h5"><a href="#" data-target=".type_speakers">{if $lang == 'en'}For speakers{else}Спикерам{/if}</a></div>
            <div class="col h5"><a href="#" data-target=".type_volunteers">{if $lang == 'en'}For volunteers{else}Волонтёрам{/if}</a></div>
        </div>

        {foreach item=type key=k from=$this.cType}
        <div class="row {$k|lower} {if $k == 'TYPE_PARTICIPANTS'}active{/if} contacts-tabs-item">
            <div class="col-md-12">
                {foreach item=contact from=$this.cmList}
                    {if $k == $contact->type}
                    <div class="row pt-3">
                        <div class="col-md-4 col-desc">
                            <p>{if $lang == 'en'}{$contact->title_en|dbtexttohtml}{else}{$contact->title|dbtexttohtml}{/if}</p>
                        </div>
                        <div class="col-md-1 d-none d-md-block"><span class="line"></span></div>
                        <div class="col-md-3 col-contacts">
                            <p class="name">{if $lang == 'en'}{$contact->name_en|dbtexttohtml}{else}{$contact->name|dbtexttohtml}{/if}</p>
                            {if $contact->email}<p class="email"><a href="mailto:{$contact->email}">{$contact->email}</a></p>{/if}
                            {if $contact->phone}<p class="phone">{$contact->phone|mobilephone}</p>{/if}
                            {if $contact->facebookurl}
                                <p class="email"><a href="{$contact->facebookurl}">{if $lang == 'en'}Facebook page{else}Страница на Facebook{/if}</a></p>
                            {/if}
                        </div>
                        <div class="col-md-4">
                            {if $k == 'TYPE_PARTICIPANTS'}
                                {if $contact->whatsapp || $contact->viber || $contact->facebookurl}
                                <p>Чат с оператором</p>
                                <div class="contacts-icons">
                                    {if $contact->whatsapp}
                                        <a href="https://api.whatsapp.com/send?phone={$contact->whatsapp}" target="_blank" class="whatsapp"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                                    {/if}
                                    {if $contact->viber && $browser == 'Safari'}
                                        <a href="viber://add?number={$contact->viber}" class="viber"><i class="fa fa-viber" aria-hidden="true"></i></a>
                                    {/if}
                                    {if $contact->telegram}
                                        <a href="tg://resolve?domain={$contact->telegram}" class="telegram"><i class="fa fa-telegram" aria-hidden="true"></i></a>
                                    {/if}
                                </div>
                                {/if}
                            {elseif $contact->email == 'pr@gastreet.com'}
                                <a target="_blank" href="https://forms.gle/22nh5awZZYrUwFRw6" class="btn-press-form mb-3">Заполнить форму аккредитации для прессы</a>
                                <a target="_blank" href="https://forms.gle/CSEqUqvnE1XEJ9LLA" class="btn-press-form mb-3">Заполнить форму аккредитации для фотографов и видеографов</a>
                                <a target="_blank" href="https://forms.gle/uCyPZxiDtMFnojHh8" class="btn-press-form mb-3">Заполнить форму аккредитации для артистов</a>
                            {elseif $contact->email == 'kategamaiun@gmail.com'}
                                <a target="_blank" href="mailto:kategamaiun@gmail.com" class="btn-press-form">Отправить запрос на участие</a>
                            {elseif $contact->email == 'crazy@gastreet.com'}
                                <a target="_blank" href="https://forms.gle/11EhrDvqm7LMVUdJA" class="btn-press-form">Отправить запрос на участие</a>
                            {/if}
                        </div>
                    </div>
                    {/if}
                {/foreach}
            </div>
        </div>
        {/foreach}
    </div>
</div>