{assign var=this value=$FaqControl}

<div class="container">
    <div class="page-container" id="page-container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-container-inner" id="page-container-inner">
                    <ul class="breadcrumbs mb-md-3">
                        <li><a href="/">Главная</a></li>
                        <li><span>ЧаВо</span></li>
                    </ul>
                    <div class="row align-items-center">
                        <div class="col-md-7">
                            <h1 class="page-headline">Вопрос/ответ</h1>
                        </div>
                        <div class="col-md-5">
                            <div class="g-emoji-content">
                                <div class="g-emoji-icon">
                                    <img src="/images/emoji/10.png" class="img-fluid" alt="">
                                </div>
                                <div class="g-emoji-balun">Самые часто задаваемые вопросы здесь!</div>
                            </div>
                        </div>
                    </div>

                    {if $this.fmList}
                        <div class="accordion" id="accordionFaq">
                        <!-- loop start -->
                        {foreach item=faq from=$this.fmList}
                            <div class="card">
                                <div class="card-header" id="heading{$faq->id}">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse{$faq->id}" aria-expanded="false" aria-controls="collapse{$faq->id}">
                                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                                        <div><b>{if $lang == 'en'}{$faq->question_en}{else}{$faq->question}{/if}</b></div>
                                    </button>
                                </div>
                                <div id="collapse{$faq->id}" class="collapse" aria-labelledby="heading{$faq->id}" data-parent="#accordionFaq">
                                    <div class="card-body">
                                        {if $lang == 'en'}{$faq->answer_en|dbtexttohtml}{else}{$faq->answer|dbtexttohtml}{/if}
                                    </div>
                                </div>
                            </div>
                        {/foreach}
                        <!-- loop end -->
                        </div>
                    {/if}
                </div>
            </div>
        </div>
    </div>
</div>
