{assign var=this value=$FaqControl}

<div class="container">
    <div class="page-container" id="page-container">
        <div class="row">
            <div class="col-lg-6">
                <div class="page-container-image" id="page-container-image">
                    <picture>
                        <source srcset="/content/page-faq.jpg" media="(min-width: 992px)">
                        <img class="img-fixed" src="/content/page-faq-m.jpg">
                    </picture>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="page-container-inner" id="page-container-inner">
                    <ul class="breadcrumbs">
                        <li><a href="/">Главная</a></li>
                        <li><span>ЧаВо</span></li>
                    </ul>
                    <h1 class="page-headline">Вопрос/ответ</h1>

                    <div class="g-emoji-content">
                        <div class="g-emoji-icon">
                            <img src="/images/emoji/10.png" class="img-fluid" alt="">
                        </div>
                        <div class="g-emoji-balun">
                            Самые часто задаваемые вопросы здесь!
                        </div>
                    </div>

                    {if $this.fmList}
                    <!-- loop start -->
                    {foreach item=faq from=$this.fmList}
                    <div class="spoiler js-spoiler">
                        <div class="spoiler-head js-spoiler-head">
                            <div class="gss-question-point align-self-center"><span class="mark fa fa-g"></span></div>
                            <div class="gss-question align-self-center">
                                <span class="title">{if $lang == 'en'}{$faq->question_en}{else}{$faq->question}{/if}</span>
                            </div>
                        </div>
                        <div class="spoiler-body js-spoiler-body">{if $lang == 'en'}{$faq->answer_en|dbtexttohtml}{else}{$faq->answer|dbtexttohtml}{/if}</div>
                    </div>
                    {/foreach}
                    <!-- loop end -->
                    {/if}
                </div>
            </div>
        </div>
    </div>
</div>
