{assign var=this value=$FolkSpeakerControl}

{loadscript file='/css/FolkSpeakerStyle.css' type='css'}

<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v6.0&appId=120553418618554&autoLogAppEvents=1"></script>

<div class="container logo folk-page">
    <div class="row">
        <div class="col-12">
            <img src="/images/folkspeaker/folk_speaker_logo.png" class="folk-logo" alt="">
        </div>
    </div>
</div>
<div class="container folk-page">
    <div class="row">
        <div class="col-md-8 offset-md-2 text">
            <p class="block-arrow arrow1">Хочешь стать спикером на GASTREET? Тебе есть о&nbsp;чём рассказать или что приготовить? Тогда читай дальше.</p>
            <p class="block-arrow arrow2">Сними короткое видео о себе. До 30 апреля отправь заявку на участие.</p>
            <p class="block-arrow arrow3">С 1 мая по 15 мая пройдет голосование. Поделись с друзьями ссылкой своего конкурсного профиля, чтобы собрать как можно больше голосов.</p>
            <p class="block-arrow arrow4">4 народных спикера и&nbsp;1&nbsp;народный шеф-повар выступят на образовательных площадках GASTREET 2021, а&nbsp;самый топовый — на Центральной площади!</p>
            <p class="block-quote">Кстати, они получат все спикерские ништяки: бесплатное проживание, перелёт, билет ПРОФИ / ШЕФСКИЙ.</p>
        </div>
        <div class="col-md-8 offset-md-2">
            <div class="row">
                <div class="col-md-6">
                    <p class="pdf">
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        <span style="width: 73%;">
                            <a href="#" data-toggle="modal" data-target="#ruleModal">
                                <span>Правила участия в&nbsp;конкурсе</span>
                            </a>
                        </span>
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="pdf">
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        <span style="width: 73%;">
                            <a href="/pdf/folk_speaker_folk_chef_2021.pdf" target="_blank"><span>Положение о&nbsp;проведении конкурса</span></a>
                            <span style="font-size:10px;margin-bottom:0;">Разработано «<a href="http://lawfirm.moscow/" target="_blank">Гриц и&nbsp;партнеры</a>»</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container timer-speaker-page">
        <div class="row text-center">
            <div class="offset-1 col-10 offset-md-4 col-md-4 mt-5 pb-5">
                <div class="row">
                    <div class="col-md-12 timer-speaker-body">
                        <div class="timer-title pt-3 pb-3">У тебя осталось</div>
                        <div class="row time-number">
                            <div class="col-4">
                                <div id="timer_days" class="days number">&nbsp;</div>
                                <div>дней</div>
                            </div>
                            <div class="col-4">
                                <div id="timer_hours" class="hours number">&nbsp;</div>
                                <div>часов</div>
                            </div>
                            <div class="col-4">
                                <div id="timer_minutes" class="minutes number">&nbsp;</div>
                                <div>минут</div>
                            </div>
                        </div>
                        {if $this.time < 1621112400}
                            <div class="timer-title pt-3 pb-4">чтобы подать заявку</div>
                        {else}
                            <div class="timer-title pt-3 pb-4">чтобы проголосовать</div>
                        {/if}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 button">
            {if $this.time < 1621112400}
                <a href="#" class="btn btn-lg btn-accept" data-toggle="modal" data-target="#registerModal">Принять участие</a>
            {else}
                <a href="https://forms.gle/5SvnuscLrzJNivaW6" target="_blank" class="btn btn-lg btn-accept">Проголосовать</a>
            {/if}
        </div>
    </div>
    <div class="row select">
        <div class="col-12 col-md-12">
            <a href="#" data-toggle="tabs" data-target=".tab-item" class="active">Все</a>
            <a href="#" data-toggle="tabs" data-target=".item-speaker">Спикеры</a>
            <a href="#" data-toggle="tabs" data-target=".item-chef">Шефы</a>
        </div>
    </div>
</div>

<div class="container photo-speak folk-page tabs-container">
    <div class="row py-3 speak-row">
        {if $this.speakers}
            <!-- loop start -->
            {foreach item=speaker from=$this.speakers}
                <div class="col-6 col-md-3 speak tab-item {if $speaker.user_type == 'TYPE_SPEAKER'}item-speaker{/if} {if $speaker.user_type == 'TYPE_CHEF'}item-chef{/if}">
                    <a href="#" class="" data-toggle="modal" data-target="#folkspeaker_{$speaker.id}">
                        <div class="img-block">
                            <img src="/images/folkspeaker/resized/{$speaker.photo}?v={$speaker.ts_update}" alt="{$speaker.first_name} {$speaker.last_name}" class="photo">
                            <div class="about">
                                <h3 class="name">{$speaker.first_name}<br>{$speaker.last_name}</h3>
                                <p class="job">{$speaker.company}<br>{$speaker.position}</p>
                            </div>
                        </div>
                    </a>
<!--                    <a href="#" class="btn-vote" data-toggle="modal" data-target="#voting" data-folkspeaker-id="{$speaker.id}">Голосовать<i class="fa fa-heart"></i>&nbsp;{$speaker.fp_count}</a>-->
<!--                    <a href="#" class="share" data-toggle="modal" data-target="#v_share" data-folkspeaker-id="{$speaker.id}">Поделиться</a>-->
                </div>
            {/foreach}
            <!-- loop end -->
        {/if}
    </div>
</div>

{if $this.speakers}
    <!-- loop start -->
    {foreach item=speaker from=$this.speakers}
    <div class="modal fade" id="folkspeaker_{$speaker.id}" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content popover-win">
                <div class="modal-header">
                    <span class="close" data-dismiss="modal">&times;</span>
                </div>
                <div class="modal-body p-0">
                    <figure class="thumb fg-container">
                        <img src="/images/folkspeaker/resized/{$speaker.photo}?v={$speaker.ts_update}" data-ratio="1">
                    </figure>
                    <p class="title">{$speaker.first_name}<br/>{$speaker.last_name}</p>
                    <div class="desc">
                        {$speaker.description|dbtexttohtml}
                        <div class="speaker-icon mt-3">
                            {if $speaker.facebook}
                                <a href="{$speaker.facebook}" class="fa fa-facebook" target="_blank"></a>
                            {/if}
                            {if $speaker.instagram}
                                <a href="{$speaker.instagram}" class="fa fa-instagram" target="_blank"></a>
                            {/if}
                            {if $speaker.vkontakte}
                                <a href="{$speaker.instagram}" class="fa fa-vk" target="_blank"></a>
                            {/if}
                            {if $speaker.ondoklassniki}
                                <a href="{$speaker.ondoklassniki}" class="fa fa-ok" target="_blank"></a>
                            {/if}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {/foreach}
    <!-- loop end -->
{/if}

<!-- Modal -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="h6 modal-title">1/3<br>Положение<br>о&nbsp;проведении конкурса</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Если ты ещё не снял видео-профайл (минутное видео для спикеров - о&nbsp;себе и&nbsp;теме выступления, для шефов - о&nbsp;себе и&nbsp;с&nbsp;презентацией готового блюда), нет смысла переходить на следующий шаг!</p>
                <div class="position">
                    <h4>Положение о конкурсе</h4>
                    <h4>«Народный спикер и народный шеф-повар»</h4>
                    <h4>GASTREET SHOW</h4>
                    <p><b>Утверждаю</b></p>
                    <p><b>Председатель жюри Конкурса «Народный спикер и народный шеф-повар»,</b></p>
                    <p><b>ФИО</b></p>
                    <p><b>Суфяинова Евгения Римовна</b></p>
                    <p>Конкурс «Народный спикер и народный шеф-повар» GASTREET SHOW (далее Конкурс) направлен на повышение актуальности проблем и лучших практик сферы гостеприимства (далее Рынок), на развитие и получение опыта профессиональными участниками Рынка, на популяризацию качественного обслуживания и сервиса в России и ближайшем зарубежье, а также на поддержку творческого самовыражения и развитие творческих навыков у участников конкурса.</p>
                    <h5>1. ОРГАНИЗАЦИЯ КОНКУРСА</h5>
                    <h5>1.1. ОРГАНИЗАТОР КОНКУРСА</h5>
                    <p>Организатором Конкурса является ООО «СИРОККО» (ИНН 2320238493, ОГРН 1162366052705) (далее - Организатор).</p>
                    <h5>1.2. ОРГАНИЗАТОР:</h5>
                    <p>1.2.1. является главным руководящим органом Конкурса, осуществляет общее управление и контроль;</p>
                    <p>1.2.2. осуществляет оперативное управление мероприятиями в рамках Конкурса;</p>
                    <p>1.2.3. утверждает Положение о Конкурсе и осуществляет контроль за его соблюдением;</p>
                    <p>1.2.4. утверждает состав жюри Конкурса;</p>
                    <p>1.2.5. утверждает Регламент жюри и осуществляет контроль над его соблюдением;</p>
                    <p>1.2.6. приглашает информационных партнеров Конкурса;</p>
                    <p>1.2.7. размещает информацию о Конкурсе на Интернет-сайте https://gastreet.com/ и в любых других средствах массовой информации;</p>
                    <p>1.2.8. осуществляет организационно-техническое и методическое обеспечение Конкурса и деятельности жюри;</p>
                    <p>1.2.9. организует награждение победителей Конкурса;</p>
                    <p>1.2.10. устанавливает порядок и проводит регистрацию результатов Конкурса;</p>
                    <p>1.2.11. ведет анкеты участников и победителей Конкурса.</p>
                    <h5>1.3. СОСТАВ И ФОРМИРОВАНИЕ ЖЮРИ И СОВЕТА КОНКУРСА</h5>
                    <p>1.3.1. В целях достижения максимальной объективности в определении победителей во всех турах Конкурса по всем номинациям, а также разрешения возникающих при этом споров Организатором Конкурса создаются Жюри и Совет Конкурса.</p>
                    <p>1.3.2. В состав Жюри и Совета входят представители Рынка, крупных заведений и предприятий общественного питания, а также представители Организатора Конкурса. Председатель Жюри назначается Организатором Конкурса.</p>
                    <p>1.3.3. Формирование Жюри и Совета осуществляется по приглашениям Организатора Конкурса.</p>
                    <h5>1.4. ЖЮРИ КОНКУРСА:</h5>
                    <p>1.4.1. приглашаются из числа амбассадоров GASTREET SHOW Организаторами;</p>
                    <p>1.4.2. присутствуют на выступлениях участников на тематических площадках GASTREET SHOW и оценивают выступления участников;</p>
                    <p>1.4.3. обеспечивают единство критериев отбора победителя Конкурса;</p>
                    <p>1.4.4. коллегиально принимают решение относительно победителя Конкурса;</p>
                    <p>1.4.5. участвуют в награждении победителя Конкурса.</p>
                    <h5>1.5. СОВЕТ КОНКУРСА:</h5>
                    <p>1.5.1. проводит онлайн-собеседования с участниками Конкурса, попавшими в шорт-лист по итогам интернет-голосования;</p>
                    <p>1.5.2. следит за соблюдением участниками настоящего положения (далее Положения);</p>
                    <p>1.5.3. следит за обеспечением единства требований к участникам Конкурса в рамках представленных на Конкурсе номинаций;</p>
                    <p>1.5.4. участвуют в награждении победителя Конкурса.</p>
                    <h5>2. ПОРЯДОК И СРОКИ ПРОВЕДЕНИЯ КОНКУРСА</h5>
                    <h5>2.1. НОМИНАЦИИ КОНКУРСА</h5>
                    <p>Конкурс проводится в следующих номинациях:</p>
                    <p>2.1.1. народный спикер;</p>
                    <p>2.1.2. народный шеф-повар.</p>
                    <h5>2.2. УЧАСТНИКИ КОНКУРСА</h5>
                    <p>2.2.1. В Конкурсе во всех номинациях могут принимать участие совершеннолетние граждане Российской Федерации и иностранные граждане, временно или постоянно проживающие на территории Российской Федерации.</p>
                    <p>2.2.2. В Конкурсе в номинации п.2.1.1 Положения могут участвовать лица, обладающие специальными знаниями, необходимыми профессиональным участникам Рынка.</p>
                    <p>2.2.3. В Конкурсе в номинации п.2.1.2. Положения могут участвовать лица, обладающие навыками приготовления пищи.</p>
                    <p>2.2.4. Если на участие в Конкурсе в какой-либо номинации подано менее пяти заявок, Конкурс в данной номинации не проводится.</p>
                    <h5>2.3. ЭТАПЫ ПРОВЕДЕНИЯ КОНКУРСА</h5>
                    <p>2.3.1. Конкурс во всех номинациях проводится с «01» февраля 2020 года по «17» мая  2021 года;</p>
                    <p>Прием заявок участников осуществляется с «01» февраля 2020 года по «30» апреля  2021 года.</p>
                    <p>2.3.2. Конкурс в номинации п.2.1.1 Положения проводится в три тура: интернет-голосование, отборочный и основной.</p>
                    <p>Интернет-голосование: с «01» мая по «15» мая 2021 года;</p>
                    <p>Отборочный тур: «16» мая – «17» мая 2021 года;</p>
                    <p>Основной тур: «18» мая 2021 года – «23» мая 2021 года.</p>
                    <p>2.3.3. Конкурс в номинации п.2.1.2 Положения проводится в два тура: интернет-голосование и отборочный.</p>
                    <p>Интернет-голосование: с «01» мая по «15» мая 2021 года;</p>
                    <p>Отборочный тур: «16» мая – «23» мая 2021 года.</p>
                    <p>2.3.4. Торжественное награждение победителя Конкурса во всех номинациях состоится 04 июня 2021 года на главной сцене GASTREET SHOW.</p>
                    <h5>НОМИНАЦИЯ «НАРОДНЫЙ СПИКЕР»</h5>
                    <h5>2.4. ИНТЕРНЕТ-ГОЛОСОВАНИЕ</h5>
                    <p>2.4.1. Интернет-голосование проводится в сроки, установленные п.2.3.2 Положения.</p>
                    <p>2.4.2. Для непосредственного участия в интернет-голосовании Конкурса участникам, планирующим принять участие в номинации п.2.1.1 Положения Конкурса, необходимо оформить заявку на участие в Конкурсе на сайте https://gastreet.com/ в соответствующем разделе, заполнив анкету участника и предоставив ссылку на видеовизитку не позднее последнего дня срока приема заявок согласно п.2.3.1 Положения.</p>
                    <p>2.4.3. Конкурсным заданием данного этапа является создание аудиовизуального произведения (видеовизитки), которое должно содержать краткое описания этого участника и темы его потенциального выступления на GASTREET SHOW как спикера. Продолжительность видеовизитки участника должна быть не более 1 (одной) минуты.</p>
                    <p>2.4.4. В течение 2 (двух) рабочих дней с момента получения заявки участника Совет Конкурса направляет в ответ письмо на электронную почту, где сообщает либо о принятии заявки и размещении видеовизитки участника на странице Конкурса, либо о необходимости внесения изменений в заявку с целью приведения ее в соответствие с Положением.</p>
                    <p>2.4.5. Видеовизитки участников Конкурса размещаются на странице Конкурса в порядке поступления заявки от участника и обработки таких заявок Советом Конкурса.</p>
                    <p>2.4.6. Направляя анкету и видеовизитку Организаторам, участник заверяет, что не нарушает данными материалами каких-либо прав третьих лиц, в том числе, но не ограничиваясь: исключительные права на произведения, личные неимущественные права.</p>
                    <p>2.4.7. Направляя видеовизитку Организаторам, участник отчуждает свое исключительное право на данное аудиовизуальное произведение (видеовизитку) в пользу Организатора для размещения (обнародования) такого произведения на сайте Организатора и иных публичных источниках.</p>
                    <h5>2.5. ОТБОРОЧНЫЙ ТУР КОНКУРСА</h5>
                    <p>2.5.1. Отборочный тур Конкурса проходит в сроки согласно п.2.3.2 Положения.</p>
                    <p>2.5.2. Конкурсным заданием отборочного тура Конкурса является самопрезентация участника при прохождении онлайн-интервью с Советом Конкурса.</p>
                    <p>2.5.3. Совет Конкурса во время онлайн-интервью выявляет степень подготовки участника Конкурса, его(ее) профессиональный опыт, уникальность и актуальность заявленной участником Конкурса темы выступления и наличие успешного опыта публичных выступлений (возможно на примере иных выступлений участника Конкурса).</p>
                    <p>2.5.4. Совет Конкурса высылает на электронную почту каждому участнику шорт-листа Конкурса предлагаемое время и дату проведения онлайн-интервью. Участник один раз имеет право перенести предлагаемые дату и время. Дополнительных переносов даты и времени онлайн-интервью со стороны участника не предусмотрено.</p>
                    <p>2.5.5. Итоговая информация о результатах отборочного тура Конкурса и участниках, прошедших в основной тур, направляется участникам отборочного тура на их личные адреса электронной почты после окончания отборочного тура. Список участников, прошедших в основной тур Конкурса размещаются на странице Конкурса на сайте https://gastreet.com/ не позднее «17» мая 2021 года.</p>
                    <h5>2.6. ОСНОВНОЙ ТУР КОНКУРСА</h5>
                    <p>2.6.1. Прошедшими в основной тур считаются 4 (четыре) участника Конкурса в номинации 2.1.1 Положения, набравшие по результатам оценки конкурсного задания отборочного тура максимальное количество баллов на основе онлайн-интервью с Советом Конкурса.</p>
                    <p>2.6.2. В сроки, указанные в п.2.3.2 Положения, участники номинации п.2.1.1 Положения, прошедшие в основной тур, выступают на тематических площадках в рамках официального расписания GASTREET SHOW.</p>
                    <p>2.6.3. Конкурсным заданием основного тура является подготовка выступления и непосредственно выступление участника перед гостями и участниками GASTREET SHOW. Тема выступления должна быть утверждена Советом Конкурса, время и место выступления определяется Советом Конкурса и сообщается участнику.</p>
                    <p>2.6.4. Выступления каждого участника в основном туре оценивается коллегиально (не менее 3-х человек) Жюри Конкурса. Оценивание выступления осуществляется согласно Регламенту Жюри.</p>
                    <h5>НОМИНАЦИЯ «НАРОДНЫЙ ШЕФ-ПОВАР»</h5>
                    <h5>2.7. ИНТЕРНЕТ-ГОЛОСОВАНИЕ</h5>
                    <p>2.7.1. Интернет-голосование проводится в сроки, установленные п.2.3.3 Положения.</p>
                    <p>2.7.2. Для непосредственного участия в интернет-голосовании Конкурса участникам, планирующим принять участие в номинации п.2.1.2 Положения Конкурса, необходимо оформить заявку на участие в Конкурсе на сайте https://gastreet.com/ в соответствующем разделе, заполнив анкету участника и предоставив ссылку на видеовизитку не позднее последнего дня срока приема заявок согласно п.2.3.1 Положения.</p>
                    <p>2.7.3. Конкурсным заданием данного этапа является создание аудиовизуального произведения (видеовизитки), которое должно содержать краткое описания этого участника и презентацию готового блюда. Продолжительность видеовизитки участника должна быть не более 1 (одной) минуты.</p>
                    <p>2.7.4. В течение 2 (двух) рабочих дней с момента получения заявки участника Совет Конкурса направляет в ответ письмо на электронную почту, где сообщает либо о принятии заявки и размещении видеовизитки участника на странице Конкурса, либо о необходимости внесения изменений в заявку с целью приведения ее в соответствие с Положением.</p>
                    <p>2.7.5. Видеовизитки участников Конкурса размещаются на странице Конкурса в порядке поступления заявки от участника и обработки таких заявок Советом Конкурса.</p>
                    <p>2.7.6. Направляя анкету и видеовизитку Организаторам, участник заверяет, что не нарушает данными материалами каких-либо прав третьих лиц, в том числе, но не ограничиваясь: исключительные права на произведения, личные неимущественные права.</p>
                    <p>2.7.7. Направляя видеовизитку Организаторам, участник отчуждает свое исключительное право на данное аудиовизуальное произведение (видеовизитку) в пользу Организатора для размещения (обнародования) такого произведения на сайте Организатора и иных публичных источниках.</p>
                    <h5>2.8. ОТБОРОЧНЫЙ ТУР КОНКУРСА</h5>
                    <p>2.8.1. Отборочный тур Конкурса проходит в сроки согласно п.2.3.3 Положения.</p>
                    <p>2.8.2. Конкурсным заданием отборочного тура Конкурса является самопрезентация участника при прохождении онлайн-интервью с Советом Конкурса.</p>
                    <p>2.8.3. Совет Конкурса во время онлайн-интервью выявляет степень подготовки участника Конкурса, его(ее) профессиональный опыт, оригинальность презентуемого участником Конкурса готового блюда, умение объяснять и наличие успешного опыта публичных выступлений (возможно на примере иных выступлений участника Конкурса).</p>
                    <p>2.8.4. Совет Конкурса высылает на электронную почту каждому участнику шорт-листа Конкурса предлагаемое время и дату проведения онлайн-интервью. Участник один раз имеет право перенести предлагаемые дату и время. Дополнительных переносов даты и времени онлайн-интервью со стороны участника не предусмотрено.</p>
                    <p>2.8.5. Итоговая информация о результатах отборочного тура Конкурса и участниках, прошедших в основной тур, направляется участникам отборочного тура на их личные адреса электронной почты после окончания отборочного тура. Список участников, прошедших в основной тур Конкурса размещаются на странице Конкурса на сайте https://gastreet.com/ не позднее «23» мая 2021 года.</p>
                    <h5>3. ПОДВЕДЕНИЕ ИТОГОВ КОНКУРСА,</h5>
                    <h5>ОБЪЯВЛЕНИЕ И НАГРАЖДЕНИЕ ПОБЕДИТЕЛЯ КОНКУРСА</h5>
                    <h5>3.1. Интернет-голосование</h5>
                    <p>3.1.1. Выполнение конкурсного задания тура интернет-голосования оценивается следующим образом: за каждую опубликованную видеовизитку любой человек, зашедший на сайт Конкурса (в том числе и неавторизованный пользователь) может проголосовать за видеовизитку любого участника Конкурса, указав свой номер мобильного телефона в окне для голосования.</p>
                    <p>3.1.2. Участники Конкурса, набравшие по результатам интернет-голосования максимальное количество голосов (с учетом положения п.5.7 Положения), попадают в шорт-лист и переходят в отборочный тур. При этом в шорт-лист попадают участники номинации 2.1.1 Положения в количестве 15 (пятнадцати) человек, а в номинации 2.1.2 Положения - в количестве 10 (десяти) человек.</p>
                    <p>3.1.3. Шорт-лист формируется 01-15 мая 2021 года автоматически, исходя из количества голосов (с учетом возможных корректировок согласно п.5.7 Положения) на момент 23:50 (мск) 15 мая 2021 года и количества оставшихся свободных мест в каждой номинации.</p>
                    <p>3.1.4. На странице Конкурса на сайте https://gastreet.com/ не позднее 15 мая 2021 года размещается шорт-лист, сформированный по итогам тура интернет-голосования.</p>
                    <h5>3.2. Отборочный тур</h5>
                    <p>3.2.1. Выполнение конкурсного задания отборочного тура оценивается следующим образом: в ходе онлайн-интервью Совет Конкурса выявляет наличие или отсутствие у участника Конкурса необходимого опыта, компетенций и иных составляющих успешного выступления.</p>
                    <p>3.2.2. 4 (четыре) участника Конкурса в номинации 2.1.1 Положения и 1 (один) участник Конкурса в номинации 2.1.2 Положения, набравших по результатам оценки конкурсного задания отборочного тура максимальное количество баллов, приглашаются Советом к участию в основном туре Конкурса.</p>
                    <p>3.2.3. Не позднее 17 мая 2021 года Организатор Конкурса размещает на сайте https://gastreet.com/ список участников, прошедших в основной тур Конкурса.</p>
                    <p>3.2.4. Для участия в основном туре Конкурса Организатор Конкурса предоставляет за свой счет прошедшим участникам перелет из любого города РФ до Сочи и обратно, проживание на территории фестиваля GASTREET SHOW в течение 3 (трех) дней, право проходить на мероприятия GASTREET SHOW, эквивалентное категории ПРОФИ/ШЕФ.</p>
                    <p>3.2.5. Информация об участниках, прошедших в основной тур Конкурса, размещается на сайте https://gastreet.com/ в общем разделе со спикерами GASTREET SHOW. На аватарке таких участников будет размещена специальная пометка НАРОДНЫЙ СПИКЕР/НАРОДНЫЙ ШЕФ.</p>
                    <h5>3.3. Основной тур</h5>
                    <p>3.3.1. Победителем Конкурса в номинации п.2.1.1 Положения  признается участник, набравший наибольшее количество баллов по мнению Жюри Конкурса. Жюри при выставлении баллов участнику руководствуется Регламентом Жюри.</p>
                    <p>3.3.2. Количество призовых мест строго регламентировано (одно первое место в каждой номинации) и не может быть увеличено без согласия Организатора и/или Совета Конкурса.</p>
                    <p>3.3.3. Решением Жюри, по согласованию с Организатором, победитель в номинации может не определяться.</p>
                    <h5>4. ОБЩИЕ ПОЛОЖЕНИЯ</h5>
                    <p>4.1. Работы, представленные участниками Конкурса  для участия в нем,  участникам Конкурса не возвращаются и не оплачиваются.</p>
                    <p>4.2. Возражения, апелляции, претензии по итогам Конкурса не принимаются.</p>
                    <p>4.3. Оформление заявки участником согласно п.2.4 и 2.7 Положения является конклюдентным действием, выражающим безоговорочное согласие участника с правилами Положения.</p>
                    <p>4.4. Победитель основного тура в номинации 2.1.1 Положения получает в качестве приза право выступить на главной сцене GASTREET SHOW в день награждения согласно п.2.3.4 Положения. Стоимость приза оценивается Организаторами в сумму, не превышающую 4 000 (четырех тысяч) рублей.</p>
                    <p>4.5. Победитель отборочного тура в номинации 2.1.2 Положения получает в качестве приза право выступить на шефской в мастер-классе последним в расписании (ориентировочно 4 июня 2021 года, но дата и время могут быть изменены в одностороннем порядке Организатором Конкурса). Стоимость приза оценивается Организаторами в сумму, не превышающую 4 000 (четырех тысяч) рублей.</p>
                    <p>4.5. Замена призов денежным эквивалентом не допускается. Уплата налогов за любые призы в Конкурсе, если таковая потребуется в соответствии с законодательством РФ, производится участниками Конкурса самостоятельно.</p>
                    <p>4.6. Все расходы по участию в Конкурсе - оплата доступа в Интернет, съемка и монтаж видеоролика, печать каких-либо материалов для видеовизитки, участник Конкурса несет самостоятельно.</p>
                    <p>4.7. В случае, если Организатор, Совет и/или Жюри Конкурса выявят каким-либо участником нарушения настоящих правил Положения, в том числе, но не ограничиваясь, использование участником технических средств по накрутке голосов во время интернет-голосования, то соответственно Организатор, Совет и/или Жюри Конкурса имеют право исключить такого участника из Конкурса и/или не учитывать и не оценивать его заявку.</p>
                    <h5>РЕГЛАМЕНТ ЖЮРИ</h5>
                    <p>1. Оценивание выступлений участников в основном туре Конкурса осуществляется коллегиально: не менее чем тремя членами Жюри</p>
                    <p>2. Состав Жюри у разных участников Конкурса может меняться и формируется устным решением Совета Конкурса</p>
                    <p>3. Критерии оценки участников Конкурса в номинации 2.1.1 Положения: раскрытие темы выступления, визуальное сопровождение устного выступления (презентация, дизайн слайдов), мастерство публичного выступления участника, взаимодействие участника со слушателями его выступления, иные факторы, влияющие на восприятие представленной информации участником.</p>
                    <p>4. Жюри по каждому из критериев оценки выставляет баллы по 10-балльной шкале, где 0 - минимальная оценка, то есть такой критерий не проявился или проявился неподобающем виде, а 10 - максимальная оценка, то есть такой критерий выступления участников проявился в полной мере.</p>
                    <p>5. Никто из членов Жюри не обязан объяснять участникам или третьим лицам выставленные им(ей) баллы за выступление конкретного участника Конкурса. Однако члены Жюри должны занимать нейтральную, независимую позицию, быть беспристрастными и, насколько это возможно, объективными в оценивании выступлений участников Конкурса.</p>
                    <p>6. Члены Жюри могут учитывать мнение слушателей выступления участника Конкурса и руководствоваться таким мнением при выставлении баллов по конкретному или всем критериям.</p>
                    <h5>АКТ</h5>
                    <p> приема-передачи приза победителю отборочного/финального этапа</p>
                    <p> Я, ___________________________ (ФИО, паспорт, адрес регистрации) принял приз, так как являюсь победителем отборочного/финального этапа конкурса «Народный спикер и народный шеф-повар» GASTREET SHOW.</p>
                    <p> Я подтверждаю, что приз мне передан и мной принят в полном объеме, претензий к качеству переданного приза и/или к организаторам Конкурса не имею.</p>
                    <p> Я проинформирован организаторами Конкурса о своих налоговых обязательствах.</p>
                    <p>______________ ( ______________________ )</p>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Я согласен с положением о проведении конкурса
                        </label>
                    </div>
                    <div class="text-center pt-3">
                        <button type="button" id="next1" class="btn btn-next next1" data-dismiss="modal" data-toggle="modal" disabled data-target="#registerModal2">Следующий шаг</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="registerModal2" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">2/3<br>Персональные данные</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="folk-speaker-form">
                <div class="modal-body">
                    <p class="warning">Все поля обязательны к заполнению</p>
                    <div class="names">
                        <div class="form-group">
                            <input class="form-control" type="text" name="first_name" placeholder="Имя">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="last_name" placeholder="Фамилия">
                        </div>
                        <div class="form-group">
                            <select name="user_type" class="form-control">
                                <option value="" disabled selected>Тематика выступления</option>
                                <option value="финансы">финансы</option>
                                <option value="гости / маркетинг">гости / маркетинг</option>
                                <option value="персонал">персонал</option>
                                <option value="шефская">шефская</option>
                                <option value="другая">другая</option>
                            </select>
                        </div>
                    </div>
                    <div class="contacts">
                        <div class="form-group">
                            <input class="form-control" type="text" name="phone" placeholder="Телефон">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="email" placeholder="E-mail">
                        </div>
                    </div>
                    <div class="jobs">
                        <div class="form-group">
                            <input class="form-control" type="text" name="company" placeholder="Компания">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="position" placeholder="Должность">
                        </div>
                    </div>
                    <div class="form-group us">
                        <textarea rows="5" class="form-control" type="text" name="about" placeholder="Пара слов о себе"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-12">
                        <div class="text-center pt-3">
                            <button type="button" class="btn btn-next next2">Следующий шаг</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="registerModal3" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">3/3<br>Медиа</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="photo-file">
                        <span>Загрузи свое лучшее фото</span>
                        <input class="d-none" id="folk_picture" type="file" name="photo_file" onchange="ajaxUpload()">
                    </label>
                </div>
                <form action="#" method="post" class="folk-form">
                    <input type="hidden" name="photo">
                    <textarea class="d-none" name="contact_text"></textarea>
                    <div class="form-group mb-3">
                        <p>Загрузи видео-файл на видеохостинг, ссылку прикрепи сюда</p>
                        <input class="form-control" type="text" name="video_link" placeholder="Ссылка на видео-файл">
                    </div>
                    <p>Ссылки на соцсети (необязательно)</p>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text basic-addon"><i class="fa fa-instagram" aria-hidden="true"></i></span>
                        </div>
                        <input type="text" class="form-control socnet" name="instagram">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text basic-addon"><i class="fa fa-facebook" aria-hidden="true"></i></span>
                        </div>
                        <input type="text" class="form-control socnet" name="facebook">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text basic-addon"><i class="fa fa-vk" aria-hidden="true"></i></span>
                        </div>
                        <input type="text" class="form-control socnet" name="vk">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text basic-addon"><i class="fa fa-odnoklassniki" aria-hidden="true"></i></span>
                        </div>
                        <input type="text" class="form-control socnet" name="odnoklassniki">
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-center pt-3">
                                <button type="button" class="btn btn-next next3">Отправить</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="registerModal4" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="text-center mx-5">
                        <h6>Это успех, Амиго!</h6><br>
                        <p>В течение 48 часов мы пришлём
                            тебе на почту подтверждение.<br>
                            <br>
                            Если что-то пойдёт не так —
                            мы сообщим об этом в письме.<br>
                            <br>
                            Держим за тебя кулачки!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="voting" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title mr-3 text-center">Для того, чтобы проголосовать, введите и&nbsp;подтвердите свой номер телефона</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="hidden" id="staticSpeaker" value="">
                            <label for="staticPhone">Мобильный телефон</label>
                            <input type="text" class="form-control" autocomplete="off" id="staticPhone" value="">
                            <span>Например: 79058775544</span>
                        </div>
                        <div class="form-group form-code">
                            <input type="" class="form-control" autocomplete="off" placeholder="Проверочный код" id="staticCode">
                            <a href="#" class="btn btn-vote" onclick="inputCode(this);return false">Голосовать</a>
                        </div>
                        <div class="form-group form-result"></div>
                        <div class="text-center">
                            <a href="#" class="btn btn-vote" onclick="getPass(this);return false">Получить пароль</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="v_share" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="shareModalLabel">Поделиться</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 text-center px-0">
                        <a href="#" class="fb-parse-link" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="vk-parse-link" target="_blank"><i class="fa fa-vk"></i></a>
                        <a href="#" class="ok-parse-link" target="_blank"><i class="fa fa-odnoklassniki"></i></a>
                        <a href="#" class="tw-parse-link" target="_blank"><i class="fa fa-twitter "></i></a>
                    </div>
                    <div class="col-md-12">
                        <img src="http://qrcoder.ru/code/?https%3A%2F%2Fgastreet.com%2Ffolkspeaker&4&0" alt="">
                        <input type="text" style="opacity: 0;position: absolute;" id="text_for_copy" onclick="select_all_and_copy(this)" value="https://gastreet.com/folkspeaker">
                        <a class="copy" href="#" onclick="copy();return false">Копировать ссылку</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ruleModal" tabindex="-1" role="dialog" aria-labelledby="ruleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ruleModalLabel">Правила конкурса</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><b>1 февраля - 30 апреля</b></p>
                <p>приём заявок (Минутное видео для спикеров - о&nbsp;себе и&nbsp;теме выступления, для шефов - о&nbsp;себе и&nbsp;с&nbsp;презентацией готового блюда)</p>
                <p><b>1 мая - 15 мая</b></p>
                <p>голосование на сайте</p>
                <p><b>17 мая</b></p>
                <p>объявление шорт-листа из 10&nbsp;народных шефов и&nbsp;15&nbsp;народных спикеров, набравших больше всего голосов.</p>
                <p><b>18 - 23 мая</b></p>
                <p>общение претендентов из шорт-листа с&nbsp;организаторами GASTREET по видеосвязи</p>
                <p><b>25 мая</b></p>
                <p>объявление финалистов: 4&nbsp;спикера, 1&nbsp;шеф-повар, которые бесплатно едут на GASTREET (проживание, перелет, билет на ивент) и&nbsp;выступают на профильной образовательной площадке.</p>
                <p>все участники шорт-листа, не прошедшие в&nbsp;финал, получают промо-код на покупку билетов ПРОФИ/ШЕФСКИЙ по стартовой цене</p>
                <p><b>3 - 5 июня</b></p>
                <p>выступление финалистов на GASTREET. Жюри из амбассадоров оценивает выступления народных спикеров.</p>
                <p>По итогам оценки победитель в&nbsp;номинации «Народный спикер» выступит на главной сцене 5&nbsp;июня. «Народный шеф-повар» автоматически выступает на площадке CHEF street согласно расписанию площадки.</p>
            </div>
        </div>
    </div>
</div>
{if $this.time < 1621112400}
<script>
    let date = new Date('05/01/2021');
</script>
{else}
<script>
    let date = new Date('06/16/2021');
</script>
{/if}
{literal}
<script>
    function setTimer() {
        let date_now = new Date();
        let timer = date - date_now;
        let days = parseInt( timer / (3600000 * 24) );
        let hours = parseInt( (timer / 3600000 ) - (days*24) );
        let minutes = parseInt( ( timer / 60000 ) - ( (days*1440) + (hours*60) ) );
        document.getElementById("timer_days").innerHTML = days;
        document.getElementById("timer_hours").innerHTML = hours;
        document.getElementById("timer_minutes").innerHTML = minutes;
    }
    setTimer();
    setInterval(setTimer, 1000);
</script>
{/literal}
