{assign var=this value=$InstallmentControl}

{loadscript file='/css/InstallmentStyle.css' type='css'}

<main class="landing-smi-page">
    <div class="container">
        <div class="landing-page-header">
            <div class="row">
                <div class="col-sm-12 col-lg-7 header">
                    <div class="head-title">
                        GASTREET
                    </div>
                </div>

                <div class="col-sm-12 col-lg-5 head-longtitle">
                    <div>
                        <div class="jule">
                            1<span class="minus"></span>5 июня
                        </div>
                        <div class="sochi">
                            Сочи — «Красная Поляна»
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container landing-smi-body">
        <div class="body">
            <div class="row">
                <div class="col-sm-12 col-lg-7 body-text">
                    <div>
                        <div>
                            Как круто, что ты готов вкладываться в своё обучение!<br>
                            Неистово тебе респектуем и рассказываем о рассрочке — на 4 месяца,<br class="br">
                            без процентов, без переплат и без первоначального взноса.<br>
                            Кстати, оформи рассрочку до 1 марта до повышения цен на билеты.<br>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-5 body-credit">
                    <img src="/images/credit.png" alt="">
                </div>
            </div>
        </div>
        <div class="container tickets">
            <div class="row row-nowrap">
                <div class="col-md-3 profi ticket-thematic">
                    <div class="opportunities-item">
                        <div class="ticket-header">
                            <div>
                                <div class="ticket-title">
                                    ПРОФИ
                                </div>
                                <div class="ticket-longtitle">
                                    Оптимальный<br>
                                    вариант, роднуль
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="price-ticket">35 000 ₽</div>
                            <p class="ticket_up_price">
                                    <span>
                                        Повышение цены<br>
                                        с&nbsp;1&nbsp;марта — 40&nbsp;000&nbsp;₽<br>
                                        с&nbsp;1&nbsp;мая — 45&nbsp;000&nbsp;₽
                                    </span>
                            </p>
                        </div>
                        <div class="ticket-footer">
                            <div>
                                <div>В рассрочку</div>
                                <div class="price-credit">
                                    8 750
                                </div>
                                <div>₽ / в месяц</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 chef ticket-thematic">
                    <div class="opportunities-item">
                        <div class="ticket-header">
                            <div>
                                <div class="ticket-title">
                                    ШЕФСКИЙ
                                </div>
                                <div class="ticket-longtitle">
                                    Для будущих<br>
                                    и настоящих шефов
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="price-ticket">30 000 ₽</div>
                            <p class="ticket_up_price">
                                    <span>
                                        Повышение цены<br>
                                        с&nbsp;1&nbsp;марта — 35&nbsp;000&nbsp;₽<br>
                                        с&nbsp;1&nbsp;мая — 40&nbsp;000&nbsp;₽
                                    </span>
                            </p>
                        </div>
                        <div class="ticket-footer">
                            <div>
                                <div>В рассрочку</div>
                                <div class="price-credit">
                                    6 000
                                </div>
                                <div>₽ / в месяц</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 barstreet ticket-thematic">
                    <div class="opportunities-item">
                        <div class="ticket-header">
                            <div>
                                <div class="ticket-title">
                                    BARSTREET
                                </div>
                                <div class="ticket-longtitle">
                                    Для тех, кто<br>
                                    с баром и за баром
                                </div>
                            </div>
                        </div>
                        <div class="ticket-body">
                            <div>
                                <div class="price-ticket">20 000 ₽</div>
                                <p class="ticket_up_price">
                                        <span>
                                            Повышение цены<br>
                                            с&nbsp;1&nbsp;марта — 25&nbsp;000&nbsp;₽<br>
                                            с&nbsp;1&nbsp;мая — 30&nbsp;000&nbsp;₽
                                        </span>
                                </p>
                            </div>
                        </div>
                        <div class="ticket-footer">
                            <div>
                                <div>В рассрочку</div>
                                <div class="price-credit">
                                    5 000
                                </div>
                                <div>₽ / в месяц</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 buy">
                    <div><a class="opportunities-buy" type="button" href="{link show=userregister}">Купить</a></div>
                </div>
            </div>
        </div>
    </div>
</main>