{assign var=this value=$LandingControl}
<div class="bg"></div>
<div class="modal fade" id="video-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="##close##"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="videoModalLabel">##videoModalLabel##</h4>
            </div>
            <div class="modal-body">
                <iframe allowfullscreen="" height="400" src="" style="width:100%"></iframe>
            </div>
        </div>
    </div>
</div>

{control name=Age}

<div class="form_panel">
    <a class="close">×</a>
    <div class="form_panel__inner">
        <div class="form_panel__form">
            {if !$this.actor}
            <h1>##registration##</h1>
            <form action="" method="post" class="ajax_form" autocomplete="off">
                <div class="form-group">
                    <div class="controls">
                        <input type="text" name="phone" autocomplete="off" placeholder="##phone##" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <input type="text" autocomplete="off" name="youAboutUs" placeholder="##youAboutUs##" class="form-control">
                    </div>
                </div>
                <div class="form-group" id="reg_hide_code">
                    <div class="controls">
                        <input type="password" maxlength="10" autocomplete="off" name="code" placeholder="##code##" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <button type="submit" id="reg_get_phone" class="reg_get_phone btn btn-black">##getCode##</button>
                        <div class="login">
                            <a href="#">##registered##</a>
                        </div>
                    </div>
                </div>
            </form>
            {else}
            <h1>##youLogin##</h1>
            <p>{$this.actor->phone|mobilephone}</p>
            <a href="/index.php?show=catalog" class="btn btn-black">##tickets##</a>
            <a href="/index.php?do=logout" class="btn btn-white">##signOut##</a>
            {/if}
        </div>

        <div class="form_panel__login" style="left: -1000px;">
            <h1>##signIn##</h1>
            <form action="" method="post" class="ajax_form" autocomplete="off">
                <div class="form-group">
                    <div class="controls">
                        <input type="text" name="phone" autocomplete="off" placeholder="##phone##" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <input type="password" maxlength="10" name="code" autocomplete="off" placeholder="##code##" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <button type="submit" id="login_btn" class="login_btn btn btn-black">##signIn##</button>
                        <div class="register">
                            <a href="#">##registration##</a>
                        </div>
                        <div style="display: none" class="changepass">
                            <a href="#">##forgotPassword##</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="form_panel__reg" style="left: -1000px;">
            <h1>##tellYourself##</h1>
            <form action="" method="post" class="ajax_form" autocomplete="off">
                <div class="form-group">
                    <div class="controls">
                        <input type="text" id="lastname" name="lastname" placeholder="##lastName##" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <input type="text" id="name" name="name" placeholder="##name##" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <select id="countryName" name="countryName" class="form-control" style="color:#999" onchange="this.style.color = 'black'">
                            <option value="">-- ##country## --</option>
                            {html_options options=$this.country selected=$this.user->countryName}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <select style="display:none;color:#999" id="secondCityName" class="form-control" onchange="this.style.color = 'black'">
                            <option value="">-- ##city## --</option>
                            {html_options values=$this.city output=$this.city selected=$this.user->cityName}
                        </select>
                        <input style="display:none" type="text" id="cityName" name="cityName" placeholder="##city##" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <input type="text" id="af_company" name="company" placeholder="##company##" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <input type="text" id="af_email" name="email" placeholder="##email##" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <select style="display:none;color:#999" id="af__usertype" name="usertype" class="form-control" onchange="this.style.color = 'black'">
                            <option disabled selected style='display:none' id="alltype">##accountType##</option>
                            <option value="8">##workInBar##</option>
                            <option value="9">##workInRestaurant##</option>
                            <option value="10">##workInKitchen##</option>
                            <option value="11">##giveMoney##</option>
                        </select>
                        <input style="display:none" type="text" id="af__in_usertype" value="" name="in_usertype">
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <input type="text" id="af_position" name="position" placeholder="##position##" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <button type="submit" id="submitForm" class="btn btn-black">##send##</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="form_panel__send" style="left: -1000px;">
            <h1>##registration##</h1>
            <form action="" method="post" class="ajax_form" autocomplete="off">
                <div class="form-group">
                    <div class="controls">
                        <input type="text" id="send_lastname" name="lastname" placeholder="##lastName##" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <input type="text" id="send_name" name="name" placeholder="##name##" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <select id="send_countryName" name="countryName" class="form-control" style="color:#999" onchange="this.style.color = 'black'">
                            <option value="">-- ##country## --</option>
                            {html_options options=$this.country selected=$this.user->countryName}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <select style="display:none;color:#999" id="send_secondCityName" class="form-control" onchange="this.style.color = 'black'">
                            <option value="">-- ##city## --</option>
                            {html_options values=$this.city output=$this.city selected=$this.user->cityName}
                        </select>
                        <input style="display:none" type="text" id="send_cityName" name="cityName" placeholder="##city##" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <input type="text" id="send_company" name="company" placeholder="##company##" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <input type="text" name="phone" autocomplete="off" placeholder="##phone##" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <input type="text" id="send_email" name="email" placeholder="##email##" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <input type="text" id="send_position" name="position" placeholder="##position##" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <button type="submit" id="sendForm" class="ajax-submit btn btn-black">##send##</button>
                    </div>
                </div>
                <input style="display:none" type="text" id="send_usertype" value="" name="usertype">
                <input style="display:none" type="text" value="" name="subject">
            </form>
        </div>

        <div class="form_panel__msg" style="left: -1000px;">
            <div></div>
            <a href="#" class="btn btn-black back_form">##back##</a>
        </div>
    </div>
</div>

<section class="header">
    <div class="main_screen">
        <div class="main-bg"></div>
        <nav class="navbar" id="navbar">
            <div class="container">
                <div class="navbar-header">
                    <div class="gastreet">
                        <div>
                            <a href="/"><img src="/app/landing/images/gastreet_logo.png"/></a>
                        </div>
                        <div class="place">
                            <p>##partyPlace##</p>
                        </div>
                    </div>
                </div>
                <div class="navbar-header navbar-right">
                    <div class="con-block">
                        {if $lang == 'ru'}
                          <a class="lang" href="?lang=en">ENG</a>
                        {else}
                          <a class="lang" href="?lang=ru">RUS</a>
                        {/if}
                        <div class="icon-block">
                            <a href="https://www.instagram.com/gastreetshow" target="_blank" class="icon instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="https://www.facebook.com/gastreetshow" target="_blank" class="icon facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </div>
                        <p class="phone">8 800 700-93-20</p>
                    </div>
                </div>
            </div>
        </nav>
        <div class="fix_left">
            <div>
                <div class="play_block" data-target="#video-modal" data-toggle="modal" data-link="kskRSIyWJ-0" data-title="Как это было?">
                    <div class="play_btn"></div>
                    <p>Как это было?</p>
                </div>
                <div class="video_block">
                    <div class="video v3" data-target="#video-modal" data-toggle="modal" data-link="OBwVnGCIgIo" data-title="##asItWas## 2017">
                        <div>
                            <span>
                                <b class="title">2017</b>
                            </span>
                        </div>
                    </div>
                    <div class="video v1" data-target="#video-modal" data-toggle="modal" data-link="B8L_3yvoL_Y" data-title="##asItWas## 2016">
                        <div>
                            <span>
                                <b class="title">2016</b>
                            </span>
                        </div>
                    </div>
                    <div class="video v2" data-target="#video-modal" data-toggle="modal" data-link="80HISWnKeCg" data-title="##asItWas## 2015">
                        <div>
                            <span>
                                <b class="title">2015</b>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fix_right">
            <div>
                <div class="form_block">
                    <p class="date"></p>
                    {if $lang == 'en'}
                    <h1>See you<br> at Gastreet 2019</h1>
                    <p>On May 22 - 25, 2018, with the participation of more than 5,000 people, the grandiose event Gastreet'18. It was flying.</p>
                    {else}
                    <h1>Увидимся <br>на Gastreet 2019</h1>
                    <p>22 - 25 мая 2018 года с участием более 5000 человек прошло грандиозное мероприятие Gastreet'18. Это было улётно.</p>
                    {/if}
                    <div class="btn-block">
                        <div><a href="https://www.facebook.com/pg/gastreetshow/photos/?tab=albums" class="btn btn-black">Смотреть фотоотчёт</a></div>
                        <a href="/userlogin" class="btn btn-white"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;&nbsp;Войти в личный кабинет</a>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-6">
                        <div class="copyright">
                            <p class="gastreet">##copyright##</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</section>