{assign var=this value=$LoginControl}
{formrestore id="login"}

<div class="container">
    <div class="page-container has-pos-fix" id="page-container">
        <div class="row page-container-inner">
            <div class="col-md-8 d-none d-md-block"><img class="img-responsive" src="/content/welcome.jpg"></div>
            <div class="col-md-4">
                <ul class="breadcrumbs">
                    <li><a href="/">{if $lang == 'en'}Home{else}Главная{/if}</a></li>
                    <li><span>{if $lang == 'en'}Login{else}Вход{/if}</span></li>
                </ul>
                <h1 class="page-headline">{if $lang == 'en'}Login{else}Вход{/if}</h1>
                <p class="reg-desc">{if $lang == 'en'}Please, enter your phone number for SMS confirmation{else}После ввода телефона, мы вышлем Вам SMS уведомление для подтверждения номера{/if}</p>
                <form action="{link do=userregister}" id="login" method="post">
                    <div class="form-group">
                        <label for="reg_phone">{if $lang == 'en'}Your phone:{else}Ваш телефон: +7...{/if}</label>
                        <input class="form-control" autocomplete="off" id="reg_phone" name="phone" data-validate="validate(required, maxlength(20))" type="text" />
                    </div>
                    <div class="form-group hidden">
                        <label for="reg_you_about_us">{if $lang == 'en'}How did you hear about Gastreet?{else}Как Вы узнали о Gastreet?{/if}</label>
                        <input class="form-control" autocomplete="off" id="reg_you_about_us" name="youAboutUs" data-validate="validate(required, maxlength(100))" value="empty" type="text" />
                    </div>
                    <div class="form-group" id="reg_hide_code">
                        <label for="reg_code">{if $lang == 'en'}SMS Code:{else}Код СМС:{/if}</label>
                        <input class="form-control" type="password" autocomplete="off" id="reg_code" name="code" maxlength="10" data-validate="validate(required, digits)" />
                    </div>
                    <div class="form-submit">
                        <button id="reg_get_phone" class="reg_get_phone btn btn-white" type="submit">{if $lang == 'en'}Get Code{else}Получить пароль{/if}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
