{assign var=this value=$MessagesControl}

{loadscript file='/wysibb/theme/default/wbbtheme.css' type='css'}

{loadscript file='/wysibb/jquery.wysibb.js' type='js'}
{loadscript file='/wysibb/lang/ru.js' type='js'}
{loadscript file='/js/pages/messages.js' type='js'}

<div id="inoutmsgdiv" style="display: none;">
    {if $this.dialogues}
        <div class="well affix-top" style="margin-bottom: 20px;">
            <div class="leftmenuttl">Собеседники</div>
            <ul class="nav nav-stacked">
                {foreach from=$this.dialogues item=dlgitem}
                    {if $this.actorId == $dlgitem->user1}
                        <li class="onedlgli"><a href="{link show=messages userid=$dlgitem->user2 dlgid=$dlgitem->id}" {if $this.user}{if $this.user->id == $dlgitem->user2}class="active-navlink"{/if}{/if}>{$dlgitem->userNick2}{if $dlgitem->hasNew12 > 0} <span class="badge">{$dlgitem->hasNew12}</span>{/if}</a></li>
                    {else}
                        <li class="onedlgli"><a href="{link show=messages userid=$dlgitem->user1 dlgid=$dlgitem->id}" {if $this.user}{if $this.user->id == $dlgitem->user1}class="active-navlink"{/if}{/if}>{$dlgitem->userNick1}{if $dlgitem->hasNew21 > 0} <span class="badge">{$dlgitem->hasNew21}</span>{/if}</a></li>
                    {/if}
                {/foreach}
            </ul>
        </div>
    {/if}
</div>

<!-- сообщения -->
<div id="msgdivtalk">
    {if $this.user}
        <div class="showprevmessgs">
            <center><button onclick="getsomemessages('mindate_{$this.mindate}_{$this.user->id}_{$this.dlgObj->id}_1')">Предыдущие 30 дней</button></center><br/>
        </div>
        {if $this.messAll}
            {foreach from=$this.messAll item=oneMsg}
                {assign var=showuserid value=0}
                <div class="msg-container-{if $oneMsg->userToId}left{else}right{/if}{if ($oneMsg->id <= $this.dlgObj->lastReadId12 && $this.actorId == $showuserid) OR ($oneMsg->id <= $this.dlgObj->lastReadId21 && $this.actorId == $showuserid)}{else} unread-pvtmsg{/if}" id="pvtmsg-{$oneMsg->id}">
                    <div class="msg-from-{if $oneMsg->userToId}left{else}right{/if}">{if $oneMsg->userFromId}{$this.user->nickName}{if $this.ts-$this.user->tsOnline < 300}<img src="/images/online.png" width="5" height="5" class="onlineimg" />{/if}{assign var=showuserid value=$this.user->id}{/if}{if $oneMsg->userToId}{$this.actor->nickName}{assign var=showuserid value=$this.actor->id}{/if}<br/><span class="msg-dt-left">{$oneMsg->dateCreate|dateformat:'d.m.Y, в H:i'}</span>{if ($oneMsg->id <= $this.dlgObj->lastReadId12 && $this.actorId == $showuserid) OR ($oneMsg->id <= $this.dlgObj->lastReadId21 && $this.actorId == $showuserid)}<br/><div class="ms-read">(прочитано)</div>{/if}</div>
                    <div class="msg-boby-{if $oneMsg->userToId}left{else}right{/if} bubble-{if $oneMsg->userToId}left{else}right{/if} bbl-color-{if ($oneMsg->userFromId && $this.user->isOwner) || ($oneMsg->userToId && $this.actor->isOwner)}owner{else}user{/if}-{if $oneMsg->userToId}left{else}right{/if}{if ($oneMsg->id <= $this.dlgObj->lastReadId12 && $this.actorId == $showuserid) OR ($oneMsg->id <= $this.dlgObj->lastReadId21 && $this.actorId == $showuserid)}{else}-unread{/if}">{$oneMsg->message|bbcode}</div>
                </div>
            {/foreach}
        {/if}
    {else}
        {if $this.dialogues}
            <h4>Для просмотра личных сообщений выберите собеседника!</h4>
        {else}
            <h4>Личных сообщений пока нет.</h4>
        {/if}
        {if $this.publicEvents}
            {foreach from=$this.publicEvents item=oneEvent}
                <div class="alert {if $oneEvent->meetId > 0}alert-warning{else}alert-info{/if}{if $oneEvent->dateRead}{else} unread-pubmsg{/if}" id="pubmsg-{$oneEvent->id}">
                    {if $oneEvent->dateRead}<div class="ms-read">(прочитано)</div> {/if}<span class="msg-dt-left">{$oneEvent->dateCreate|dateformat:'d.m.Y, в H:i'}</span> - {$oneEvent->message|bbcode}
                    {if $oneEvent->meetId > 0}<br/>{if $oneEvent->dateMeetAccept}<b>Вы записаны, приходите!</b>{else}<button onclick="window.location.href='{link do=useracceptmeeting meetid=$oneEvent->meetId pubid=$oneEvent->id}'; return false;">Я приду, записаться!</button>{/if}{/if}
                </div>
            {/foreach}
        {/if}
    {/if}
</div>

<!-- форма для сообщения -->
{if $this.user}
    <div id="msgdivsend" class="">
        <form id="sendpvtmessage" name="sendpvtmessage" method="post" action="{link do=sendpvtmessage}">
            <input type="hidden" name="userId" value="{$this.user->id}" />
            <input type="hidden" name="dlgId" value="{$this.dlgObj->id}" />
            <textarea id="message" name="message"></textarea><br />
            <input class="comment-button" type="submit" value="Отправить сообщение" />
        </form>
    </div>
{/if}
