{assign var=this value=$ParthnersControl}

<div class="jumbotron-blank">
    <div class="l-container">
        <div class="content">
            <ul class="breadcrumbs">
                <li><a href="/">Главная</a></li>
                <li><span>Партнеры</span></li>
            </ul>
        </div>
    </div>
</div>
<div class="l-container">

    <h2 class="section-headline has-align-center has-size-sm">Партнеры мероприятия</h2>
    <div class="partners-list">
        <ul>
            {foreach from=$this.parthners item=parthner}
                {if $parthner->parthnerTypeId == 1}
                    <li class="gss-parthner-show-one">
                        <div class="gss-parthner-text">&nbsp;{$parthner->title}&nbsp;</div>
                        <figure>{if $parthner->url}<a href="{$parthner->url}" title="{$parthner->name}" target="_blank" rel="nofollow">{/if}<img src="/images/parthners/resized/{$parthner->id}.jpg?v={$parthner->tsUpdate}" />{if $parthner->url}</a>{/if}</figure>
                    </li>
                {/if}
            {/foreach}
        </ul>
    </div>

    <br/>
    <h2 class="section-headline has-align-center has-size-sm">Партнеры по организации</h2>
    <div class="partners-list">
        <ul>
            {foreach from=$this.parthners item=parthner}
            {if $parthner->parthnerTypeId == 2}
            <li class="gss-parthner-show-one">
                <div class="gss-parthner-text">&nbsp;{$parthner->title}&nbsp;</div>
                <figure>{if $parthner->url}<a href="{$parthner->url}" title="{$parthner->name}" target="_blank" rel="nofollow">{/if}<img src="/images/parthners/resized/{$parthner->id}.jpg?v={$parthner->tsUpdate}" />{if $parthner->url}</a>{/if}</figure>
            </li>
            {/if}
            {/foreach}
        </ul>
    </div>

    <br/>
    <h2 class="section-headline has-align-center has-size-sm">Информационные партнеры</h2>
    <div class="partners-list">
        <ul>
            {foreach from=$this.parthners item=parthner}
            {if $parthner->parthnerTypeId == 3}
            <li class="gss-parthner-show-one">
                <div class="gss-parthner-text">&nbsp;{$parthner->title}&nbsp;</div>
                <figure>{if $parthner->url}<a href="{$parthner->url}" title="{$parthner->name}" target="_blank" rel="nofollow">{/if}<img src="/images/parthners/resized/{$parthner->id}.jpg?v={$parthner->tsUpdate}" />{if $parthner->url}</a>{/if}</figure>
            </li>
            {/if}
            {/foreach}
        </ul>
    </div>

</div>

