{assign var=this value=$MapControl}

<div class="jumbotron-blank">
    <div class="container">
        <div class="row content">
            <div class="col-md-12">
                <ul class="breadcrumbs">
                    <li><a href="/">##home##</a></li>
                    <li><span>Способы оплаты</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-headline">Способы оплаты</h2>
        </div>
        <div class="col-md-12">
            <p>Оплатить билет на GASTREET можно несколькими способами:</p>
            <div class="accordion" id="accordionPayment">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                            <div>
                                <b>Банковская карта</b>
                                <img src="/images/logo3h.png" class="img-fluid" alt="Платежные системы">
                            </div>
                        </button>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionPayment">
                        <div class="card-body">
                            <p>Оплата осуществляется через компанию-партнера - Альфа Банк. Комиссия не взимается. К&nbsp;оплате принимаются банковские карты Visa, MasterCard и&nbsp;МИР.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                            <div>
                                <b>Apple Pay / Google Pay</b>
                                <img src="/images/finger-pay.png" class="img-fluid" alt="Apple Pay и Google Pay">
                            </div>
                        </button>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionPayment">
                        <div class="card-body">
                            <p>Apple Pay — это удобный и&nbsp;безопасный способ оплаты в&nbsp;магазинах, в&nbsp;приложениях и&nbsp;в&nbsp;интернете с&nbsp;помощью iPhone, Apple Watch, iPad и&nbsp;Mac.<br>
                                Билет можно оплатить невероятно быстро. Вам понадобится только устройство, которое всегда под рукой.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                            <div>
                                <b>Рассрочка</b>
                                <img src="/images/tinkoff-logo.png" class="img-fluid" alt="Тинькофф">
                            </div>
                        </button>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionPayment">
                        <div class="card-body">
                            <p>Теперь билеты на GASTREET можно купить в&nbsp;рассрочку на 4&nbsp;месяца. Просто в&nbsp;корзине выбери способ оплаты купить в&nbsp;рассрочку, заполни заявку на странице «Тинькофф банка», дождись ее одобрения и&nbsp;билет твой! Дополнительной наценки и&nbsp;процентов нет. Ты платишь только за билет равными платежами, а&nbsp;услуги банка мы берем на себя.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFour">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                            <div>
                                <b>Безналичный расчет</b>
                            </div>
                        </button>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionPayment">
                        <div class="card-body">
                            <p>Доступен для юридических лиц (ООО, ИП и т.п.)<br>
                                Необходимо заполнить только наименование и ИНН.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>