{assign var=this value=$PlaceControl}

<div class="jumbotron-blank">
    <div class="container">
        <div class="content pt-md-3">
            <ul class="breadcrumbs">
                <li><a href="/">##home##</a></li>
                <li><span>##hotels##</span></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row header">
        <div class="col-md-6 gastreet-city">
            <div class="hotels-title">Красная Поляна +960<br>
                Gastreet City</div>
            <div class="free-numbers mb-3">Осталось <span>481</span> из 1000 номеров</div>
        </div>
        <div class="col-md-6">
            <div class="g-emoji-content">
                <div class="g-emoji-icon">
                    <img src="/images/emoji/11.png" class="img-fluid" alt="">
                </div>
                <!--div class="g-emoji-balun d-none">Бронирование возможно только после покупки основного билета на GASTREET</div-->
                <div class="g-emoji-balun">Уровень +960 доступен для проживания всех категорий билетов, кроме FUN</div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row header mb-5 pb-5">
        <div class="col-lg-12 map-page">
            <div class="row h-lg-100">
                <div class="col-lg-12">
                    <a href="#" class="marker-touch pick" data-target="#hotelsModal_pick" data-toggle="modal"></a>
                    <a href="#" class="marker-touch dolina" data-target="#hotelsModal_dolina" data-toggle="modal"></a>
                    <a href="#" class="marker-touch congress" data-target="#hotelsModal_congress" data-toggle="modal"></a>
                    <a href="#" class="marker-touch panorama" data-target="#hotelsModal_panorama" data-toggle="modal"></a>
                    <a href="#" class="marker-touch ibis" data-target="#hotelsModal_ibis" data-toggle="modal"></a>
                    <a href="#" class="marker-touch sber" data-target="#hotelsModal_sber" data-toggle="modal"></a>
                    <a href="#" class="marker-touch rixos" data-target="#hotelsModal_rixos" data-toggle="modal"></a>
                    <a href="#" class="marker-touch camping" data-target="#hotelsModal_camping" data-toggle="modal"></a>
                    <a href="#" class="marker-touch novotel" data-target="#hotelsModal_novotel" data-toggle="modal"></a>
                    <img class="img-fluid map mb-5 mb-lg-0" src="/images/place/map.jpg" alt="">
                    <img class="img-fluid map map-mobile mb-5 mb-lg-0" src="/images/place/map-mobile.jpg" alt="">
                </div>
                <div class="col-lg-12 d-none">
                    <div class="row align-items-end h-lg-100">
                        <div class="offset-1 offset-lg-10 col-10 col-lg-2 free pt-2 pb-2">
                            <div class="row align-items-end">
                                <div class="col-12 free-title mb-2">Бесплатно</div>
                                <div class="col-6 col-lg-12">
                                    <img class="img-fluid mb-2" src="/images/place/cableway.svg" style="width: 40%;" alt="">
                                    <div class="free-subtitle mb-lg-3">Канатная дорога<br>(01 - 05 июня)<br> с 7:00 до 1:00</div>
                                </div>
                                <div class="col-6 col-lg-12">
                                    <img class="img-fluid mb-2" src="/images/place/transfer.svg" style="width: 60%;" alt="">
                                    <div class="free-subtitle">Трансфер 540–960м<br>(01 - 06 июня)<br> с 9:00 до 1:00</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p class="hotels-title">Отели<br>
                Gastreet City +960</p>
        </div>
        <div class="col-md-6">
            <div class="g-emoji-content">
                <div class="g-emoji-icon">
                    <img src="/images/emoji/4.png" class="img-fluid" alt="">
                </div>
                <div class="g-emoji-balun">Все отели в GASTREET CITY можно забронировать минимум на 4 суток!</div>
            </div>
        </div>
    </div>
    <div class="row">
        {foreach item=place from=$this.pm960}
        <div class="col-6 col-lg-3 mb-4 carousel">
            <div class="hotels-carousel owl-carousel owl-theme">
                <div class="item" data-target="#hotelsModal_{$place->alias}" data-toggle="modal">
                    <img class="img-fluid" src="/images/places/resized/{$place->pic1}?v={$place->tsUpdated}" data-ratio="1">
                </div>
                <div class="item" data-target="#hotelsModal_{$place->alias}" data-toggle="modal">
                    <img class="img-fluid" src="/images/places/resized/{$place->pic2}?v={$place->tsUpdated}" data-ratio="2">
                </div>
                <div class="item" data-target="#hotelsModal_{$place->alias}" data-toggle="modal">
                    <img class="img-fluid" src="/images/places/resized/{$place->pic3}?v={$place->tsUpdated}" data-ratio="3">
                </div>
                <div class="item" data-target="#hotelsModal_{$place->alias}" data-toggle="modal">
                    <img class="img-fluid" src="/images/places/resized/{$place->pic4}?v={$place->tsUpdated}" data-ratio="4">
                </div>
            </div>
            <div class="row align-items-center pt-2">
                <div class="col hotels-price-title">{if $lang == 'en'}{$place->name_en|dbtexttohtml}{else}{$place->name|dbtexttohtml}{/if}</div>
                <div class="col hotels-stars">{$place->stars} <span class="star">★</span></div>
            </div>
            <div class="row">
                <div class="col-lg-12 hotels-price-longtitle">
                    {if $place->price > 0}
                        {if $place->id == 73}
                            <span class="title price">{$place->price} ₽</span>
                            <div class="page_body pt-0">
                                <div class="hotel">
                                    <a href="#" class="buy-product-click-pc btn btn-white w-auto px-5" data-id="82" data-night="false" id="buy-product-pc-82" title="##buy##">Купить</a>
                                </div>
                            </div>
                        {else}
                            <span class="title price">от {$place->price} ₽/сут.</span>
                        {/if}
                    {elseif $place->price == 'хз'}
                        <span class="title" style="color:#f00;font-weight:600">уточняется</span>
                    {else}
                        <span class="title" style="color:#f00;font-weight:600">sold out</span>
                    {/if}
                </div>
            </div>
            {if $place->suptitle}<div class="only">{$place->suptitle}</div>{/if}
        </div>
        {/foreach}
    </div>
    <div class="row header mt-5 mb-2">
        <div class="col-lg-12 mt-5 mb-3 pb-3 polyana">
<!--            <a href="#" class="d-block marker-touch courtyard" data-target="#hotelsModal_courtyard" data-toggle="modal"></a>-->
<!--            <a href="#" class="d-block marker-touch courtyard_2" data-target="#hotelsModal_courtyard" data-toggle="modal"></a>-->
            <a href="#" class="d-block marker-touch marriott" data-target="#hotelsModal_marriott" data-toggle="modal"></a>
            <div class="row">
                <div class="col-lg-12">
                    <p class="hotels-title">Красная Поляна +540</p>
                </div>
                <div class="col-lg-12">
                    <img class="img-fluid img-polyana" src="/images/place/polyana.png" alt="">
                </div>
                <div class="offset-lg-7 col-lg-4 pl-lg-0">
                    <div class="d-flex align-items-center transfer">
                        <img class="img-fluid img-transfer" src="/images/place/transfer.svg" alt="">
                        <div class="ml-2">
                            Трансфер из аэропорта <a href="#" class="timetable" data-target="#textPlaceModal" data-toggle="modal">Расписание</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="hotels-title">Отели<br>
                Gastreet City +540</div>
            <p class="level-960">Подъёмник на уровень +960 — бесплатно</p>
        </div>
    </div>
    <div class="row">
        {foreach item=place from=$this.pm540}
        <div class="col-6 col-lg-3 mb-4 carousel">
            <div class="hotels-carousel owl-carousel owl-theme">
                <div class="item" data-target="#hotelsModal_{$place->alias}" data-toggle="modal">
                    <img class="img-fluid" src="/images/places/resized/{$place->pic1}?v={$place->tsUpdated}" data-ratio="1">
                </div>
                <div class="item" data-target="#hotelsModal_{$place->alias}" data-toggle="modal">
                    <img class="img-fluid" src="/images/places/resized/{$place->pic2}?v={$place->tsUpdated}" data-ratio="2">
                </div>
                <div class="item" data-target="#hotelsModal_{$place->alias}" data-toggle="modal">
                    <img class="img-fluid" src="/images/places/resized/{$place->pic3}?v={$place->tsUpdated}" data-ratio="3">
                </div>
                <div class="item" data-target="#hotelsModal_{$place->alias}" data-toggle="modal">
                    <img class="img-fluid" src="/images/places/resized/{$place->pic4}?v={$place->tsUpdated}" data-ratio="4">
                </div>
            </div>
            <div class="row align-items-center pt-2">
                <div class="col hotels-price-title">{if $lang == 'en'}{$place->name_en|dbtexttohtml}{else}{$place->name|dbtexttohtml}{/if}</div>
                <div class="col hotels-stars">{$place->stars} <span class="star">★</span></div>
            </div>
            <div class="row">
                <div class="col-lg-12 hotels-price-longtitle">
                    {if $place->price > 0}
                    <span class="title price">от {$place->price} ₽/сут.</span>
                    {elseif $place->price == 'хз'}
                    <span class="title" style="color:#f00;font-weight:600">уточняется</span>
                    {else}
                    <span class="title" style="color:#f00;font-weight:600">sold out</span>
                    {/if}
                </div>
            </div>
            {if $place->suptitle}<div class="only">{$place->suptitle}</div>{/if}
        </div>
        {/foreach}
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="hotels-title mb-4">Другие отели +540</div>
        </div>
        {foreach item=place from=$this.pm540_plus}
        <div class="col-6 col-lg-3 mb-4 carousel">
            <div class="hotels-carousel owl-carousel owl-theme">
                <div class="item" data-target="#hotelsModal_{$place->alias}" data-toggle="modal">
                    <img class="img-fluid" src="/images/places/resized/{$place->pic1}?v={$place->tsUpdated}" data-ratio="1">
                </div>
                <div class="item" data-target="#hotelsModal_{$place->alias}" data-toggle="modal">
                    <img class="img-fluid" src="/images/places/resized/{$place->pic2}?v={$place->tsUpdated}" data-ratio="2">
                </div>
                <div class="item" data-target="#hotelsModal_{$place->alias}" data-toggle="modal">
                    <img class="img-fluid" src="/images/places/resized/{$place->pic3}?v={$place->tsUpdated}" data-ratio="3">
                </div>
                <div class="item" data-target="#hotelsModal_{$place->alias}" data-toggle="modal">
                    <img class="img-fluid" src="/images/places/resized/{$place->pic4}?v={$place->tsUpdated}" data-ratio="4">
                </div>
            </div>
            <div class="row align-items-center pt-2">
                <div class="col hotels-price-title">{if $lang == 'en'}{$place->name_en|dbtexttohtml}{else}{$place->name|dbtexttohtml}{/if}</div>
                <div class="col hotels-stars">{$place->stars} <span class="star">★</span></div>
            </div>
            <div class="row">
                <div class="col-lg-12 hotels-price-longtitle">
                    {if $place->price > 0}
                    <span class="title price">от {$place->price} ₽/сут.</span>
                    {elseif $place->price == 'хз'}
                    <span class="title" style="color:#f00;font-weight:600">уточняется</span>
                    {else}
                    <span class="title" style="color:#f00;font-weight:600">sold out</span>
                    {/if}
                </div>
            </div>
            {if $place->suptitle}<div class="only">{$place->suptitle}</div>{/if}
        </div>
        {/foreach}
    </div>
    <div class="row">
        <div class="col-md-12">
            {if $this.fmList}
            <div class="accordion pt-5" id="accordionFaq">
                <!-- loop start -->
                {foreach item=faq from=$this.fmList}
                <div class="card">
                    <div class="card-header" id="heading{$faq->id}">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse{$faq->id}" aria-expanded="false" aria-controls="collapse{$faq->id}">
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                            <div><b>{if $lang == 'en'}{$faq->question_en}{else}{$faq->question}{/if}</b></div>
                        </button>
                    </div>
                    <div id="collapse{$faq->id}" class="collapse" aria-labelledby="heading{$faq->id}" data-parent="#accordionFaq">
                        <div class="card-body">
                            {if $lang == 'en'}{$faq->answer_en|dbtexttohtml}{else}{$faq->answer|dbtexttohtml}{/if}
                        </div>
                    </div>
                </div>
                {/foreach}
                <!-- loop end -->
            </div>
            {/if}
        </div>
    </div>
</div>

{foreach item=place from=$this.pmList}
<!-- Modal -->
<div class="modal fade" id="hotelsModal_{$place->alias}" tabindex="-1" role="dialog" aria-labelledby="hotelsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-close container mb-3 mt-3 mr-lg-4 mr-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="container body">
                <div class="row mb-3">
                    <div class="col-12 col-lg-8 offset-lg-1 hotels-big-img">
                        <img class="img-fluid  modal-img-big" src="/images/places/resized/{$place->pic1}" alt="">
                    </div>
                    <div class="col-12 d-flex col-lg-2 hotels-mini-img">
                        <img class="img-fluid modal-img" src="/images/places/resized/{$place->pic1}" alt="">
                        <img class="img-fluid modal-img" src="/images/places/resized/{$place->pic2}" alt="">
                        <img class="img-fluid modal-img" src="/images/places/resized/{$place->pic3}" alt="">
                        <img class="img-fluid modal-img d-lg-block d-none" src="/images/places/resized/{$place->pic4}" alt="">
                    </div>
                </div>
                <div class="row align-items-center mb-4">
                    <div class="col-8 col-lg-5 offset-lg-1 modal-hotels-price-title">{$place->name}<span class="modal-star d-block d-lg-inline ml-lg-5">{$place->stars}★</span></div>
                    <div class="col-4 col-lg-2 text-right marker"><i class="fa fa-map-marker marker-icon" aria-hidden="true"></i>&nbsp;{$place->level}</div>
                </div>
                <div class="row mb-5">
                    <div class="col-lg-7 offset-lg-1">
                        {if $place->level == '+960'}
                            {if $place->id != 73}
                                <div class="title  mb-5">Минимальный срок бронирования 4 суток<br>ТАРИФ НЕВОЗВРАТНЫЙ</div>
                            {/if}
                        {else}
                            {if $place->id == 11}
                                <div class="title mb-5">Минимальный срок бронирования 2-е суток<br>ТАРИФ НЕВОЗВРАТНЫЙ</div>
                            {/if}
                        {/if}
                        <div class="longtitle">
                            {if $place->phone}<span>Отдел бронирования:</span> {$place->phone}{/if}
                            {if $place->email}
                                {if $place->level != '++540'}
                                    <button class="d-block btn-link" style="border: 0;background-color: #fff;cursor: pointer" role="button" data-container="body" data-toggle="popover" data-placement="top" data-html="true" data-content="• Купон на проживание + паспортные данные<br>• Название Отеля<br>• Даты проживания<br>• Категория номера<br>• Количество гостей<br>• ФИО<br>* при наличии детей в номере - обязательно ФИО/возраст ребенка"><i class="fa fa-info-circle mr-2" aria-hidden="true"></i>Какие данные нужно отправить для бронирования номера?</button>
                                    <!--<a class="d-block" href="mailto:{$place->email}"><i class="fa fa-envelope-o mr-2" aria-hidden="true"></i>Отправить запрос</a>-->
                                {/if}
                            {/if}
                        </div>
                        {$place->description|dbtexttohtml}
                        {if $place->id != 73 && $place->modal_desc}
                            <div class="hotel-price-title mb-4">Стоимость размещения за сутки</div>
                        {/if}
                        {$place->modal_desc|dbtexttohtml}
                    </div>
                    <div class="col-lg-3 text-center">
                        {if $place->videoUrl}
                            <div class="mb-5">
                                <iframe width="100%" height="200" src="https://www.youtube.com/embed/{$place->videoUrl}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        {/if}
                        {if $place->level != '++540'}
                            <div class="have-in-price">
                            <div class="have-in-price-title">Входит в стоимость</div>
                            <div class="row align-items-center {if $place->inclusive[1]}active{/if}">
                                <div class="col-2 col-lg-2">
                                    <i class="fa fa-breakfast"></i>
                                </div>
                                <div class="col-10 col-lg-10 text-left">
                                    <div>Завтрак</div>
                                </div>
                            </div>
                            <div class="row align-items-center {if $place->inclusive[2]}active{/if}">
                                <div class="col-2 col-lg-2">
                                    <i class="fa fa-pool"></i>
                                </div>
                                <div class="col-10 col-lg-10 text-left">
                                    <div>Бассейн</div>
                                </div>
                            </div>
                            <div class="row align-items-center {if $place->inclusive[3]}active{/if}">
                                <div class="col-2 col-lg-2">
                                    <i class="fa fa-spa"></i>
                                </div>
                                <div class="col-10 col-lg-10 text-left">
                                    <div>Спа</div>
                                </div>
                            </div>
                            <div class="row align-items-center {if $place->inclusive[4]}active{/if}">
                                <div class="col-2 col-lg-2">
                                    <i class="fa fa-gum"></i>
                                </div>
                                <div class="col-10 col-lg-10 text-left">
                                    <div>Тренажёрный зал</div>
                                </div>
                            </div>
                            <div class="row align-items-center {if $place->inclusive[6]}active{/if}">
                                <div class="col-2 col-lg-2">
                                    <i class="fa fa-baby-room"></i>
                                </div>
                                <div class="col-10 col-lg-10 text-left">
                                    <div>Детская комната</div>
                                </div>
                            </div>
                            <div class="row end align-items-center {if $place->inclusive[5]}active{/if}">
                                <div class="col-2 col-lg-2">
                                    <i class="fa fa-wheelchair" aria-hidden="true"></i>
                                </div>
                                <div class="col-10 col-lg-10 text-left">
                                    <div>Номера для людей с&nbsp;ограниченными возможностями</div>
                                </div>
                            </div>
                            <div class="have-in-price-title">Платные услуги</div>
                            <div class="row align-items-center {if $place->inclusive[6]}active{/if}">
                                <div class="col-2 col-lg-2">
                                    <i class="fa fa-baby-room"></i>
                                </div>
                                <div class="col-10 col-lg-10 text-left">
                                    <div>Детская комната</div>
                                </div>
                            </div>
                            <div class="row align-items-center {if $place->inclusive[7]}active{/if}">
                                <div class="col-2 col-lg-2">
                                    <i class="fa fa-paw"></i>
                                </div>
                                <div class="col-10 col-lg-10 text-left">
                                    <div>Размещение с&nbsp;домашними животными</div>
                                </div>
                            </div>
                        </div>
                        {/if}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{/foreach}

<!-- Modal -->
<div class="modal fade" id="textPlaceModal" tabindex="-1" role="dialog" aria-labelledby="textModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-close container mb-3 mt-3 mr-lg-4 mr-0">
                <h3 class="d-inline-block mt-2">Расписание</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="container body pb-3">
                <p>Для посадки в автобус необходимо предъявить свой билет участника!</p>
                <p>Маршрут (01 и 02 июня): Аэропорт - Красная Поляна +540 – Роза Хутор – GASTREET City (Красная Поляна +960)</p>
                <p><b>Точка отправления: 1-я линия встречи</b></p>
                <p>Время отправления: 9:00 / 9:40 / 10:20 / 11:00 / 11:40 / 12:20 / 13:00 / 13:40 / 14:20 / 15:00 / 15:40 / 16:20 / 17:00 / 17:40 / 18:20 / 19:00 / 19:40 / 20:20 / 21:00 / 21:40 / 22:20 / 23:00 / 23:40 / 24:20 / 01:00</p>
                <p>Маршрут (05 и 06 июня): GASTREET City - Аэропорт</p>
                <p><b>Точка отправления: магазин «Гастроном» (GASTREET City, отель Novotel Congress)</b></p>
                <p>Время отправления: 9:00 / 10:00 / 11:00 / 11:30 / 12:00 / 12:30 / 13:00 / 13:30 / 14:00 / 14:30 / 15:00 / 15:30 / 16:00 / 17:00 / 18:00 / 19:00 / 20:00 / 21:00 / 22:00 / 23:00 / 24:00</p>
                <p>ВНИМАНИЕ! 06 июня последний автобус отправляется в 18.00</p>
            </div>
        </div>
    </div>
</div>
