{assign var=this value=$PlaceControl}

<div class="jumbotron-blank">
    <div class="container">
        <div class="content">
            <ul class="breadcrumbs">
                <li><a href="/">##home##</a></li>
                <li><span>##hotels##</span></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row header mb-5 pb-5">
        <div class="col-lg-12 map-page">
            <div class="row h-lg-100">
                <div class="col-12 d-lg-none gastreet-city">
                    <div class="hotels-title">Gastreet City</div>
                    <div class="level-960 mb-1">Красная Поляна +960</div>
                    <div class="free-numbers mb-3">Осталось <span>893</span> из 1000 номеров</div>
                </div>
                <a href="#" class="d-block marker-touch pick" data-target="#hotelsModal_pick" data-toggle="modal"></a>
                <a href="#" class="d-block marker-touch dolina" data-target="#hotelsModal_dolina" data-toggle="modal"></a>
                <a href="#" class="d-block marker-touch congress" data-target="#hotelsModal_congress" data-toggle="modal"></a>
                <a href="#" class="d-block marker-touch panorama" data-target="#hotelsModal_panorama" data-toggle="modal"></a>
                <a href="#" class="d-block marker-touch ibis" data-target="#hotelsModal_ibis" data-toggle="modal"></a>
                <a href="#" class="d-block marker-touch sber" data-target="#hotelsModal_sber" data-toggle="modal"></a>
                <a href="#" class="d-block marker-touch rixos" data-target="#hotelsModal_rixos" data-toggle="modal"></a>
                <a href="#" class="d-block marker-touch royal" data-target="#hotelsModal_rixos" data-toggle="modal"></a>
                <a href="#" class="d-block marker-touch novotel" data-target="#hotelsModal_novotel" data-toggle="modal"></a>
                <div class="col-lg-12">
                    <img class="img-fluid map mb-5 mb-lg-0" src="/images/place/map.jpg" alt="">
                </div>
                <div class="col-lg-12">
                    <div class="row align-items-end h-lg-100">
                        <div class="col-12 col-lg-10 gastreet-city d-none d-lg-block">
                            <div class="hotels-title">gastreet city</div>
                            <div class="level-960 mb-4">Красная Поляна +960</div>
                            <div class="free-numbers mb-lg-0 mb-3">
                                Осталось <span>300</span> из 1000 номеров
                            </div>
                        </div>
                        <div class="offset-1 offset-lg-0 col-10 col-lg-2 free pt-2 pb-2">
                            <div class="row align-items-end">
                                <div class="col-12 free-title mb-2">Бесплатно</div>
                                <div class="col-6 col-lg-12">
                                    <img class="img-fluid mb-2" src="/images/place/cable.png" alt="">
                                    <div class="free-subtitle mb-lg-3">Канатная дорога<br> с 9:00 до 1:00</div>
                                </div>
                                <div class="col-6 col-lg-12">
                                    <img class="img-fluid mb-2" src="/images/place/bus.png" alt="">
                                    <div class="free-subtitle">Трансфер 540–960м<br> с 9:00 до 1:00</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 mt-5 polyana">
            <a href="#" class="d-block marker-touch courtyard" data-target="#hotelsModal_courtyard" data-toggle="modal"></a>
            <a href="#" class="d-block marker-touch courtyard_2" data-target="#hotelsModal_courtyard" data-toggle="modal"></a>
            <a href="#" class="d-block marker-touch marriott" data-target="#hotelsModal_marriott" data-toggle="modal"></a>
            <div class="row">
                <div class="col-lg-12">
                    <p class="hotels-title">Красная Поляна +540</p>
                </div>
                <div class="col-lg-12">
                    <img class="img-fluid img-polyana" src="/images/place/polyana.png" alt="">
                </div>
                <div class="offset-lg-7 col-lg-4 pl-lg-0">
                    <div class="d-flex align-items-center transfer">
                        <img class="img-fluid img-transfer" src="/images/place/bus.png" alt="">
                        <div class="ml-2">
                            Трансфер из аэропорта <a href="#" class="timetable">Расписание</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p class="hotels-title">Отели<br>
                Gastreet City +960</p>
        </div>
        <div class="col-md-6">
            <div class="g-emoji-content">
                <div class="g-emoji-icon">
                    <img src="/images/emoji/11.png" class="img-fluid" alt="">
                </div>
                <div class="g-emoji-balun">Бронирование возможно только после покупки основного билета на GASTREET</div>
            </div>
        </div>
    </div>
    <div class="row">
        {foreach item=place from=$this.pm960}
        <div class="col-6 col-lg-3 mb-4 carousel">
            <div class="hotels-carousel owl-carousel owl-theme">
                <div class="item" data-target="#hotelsModal_{$place->alias}" data-toggle="modal">
                    <img class="img-fluid" src="/images/places/resized/{$place->pic1}?v={$place->tsUpdated}" data-ratio="1">
                </div>
                <div class="item" data-target="#hotelsModal_{$place->alias}" data-toggle="modal">
                    <img class="img-fluid" src="/images/places/resized/{$place->pic2}?v={$place->tsUpdated}" data-ratio="2">
                </div>
                <div class="item" data-target="#hotelsModal_{$place->alias}" data-toggle="modal">
                    <img class="img-fluid" src="/images/places/resized/{$place->pic3}?v={$place->tsUpdated}" data-ratio="3">
                </div>
            </div>
            <div class="row align-items-center pt-2">
                <div class="col hotels-price-title">{if $lang == 'en'}{$place->name_en|dbtexttohtml}{else}{$place->name|dbtexttohtml}{/if}</div>
                <div class="col hotels-stars">{$place->stars} <span class="star">★</span></div>
            </div>
            <div class="row">
                <div class="col-lg-12 hotels-price-longtitle">
                    {if $place->price > 0}
                        <span class="title price">от {$place->price} ₽/сут.</span>
                    {elseif $place->price == 'хз'}
                        <span class="title" style="color:#f00;font-weight:600">уточняется</span>
                    {else}
                        <span class="title" style="color:#f00;font-weight:600">sold out</span>
                    {/if}
                </div>
            </div>
            {if $place->suptitle}<div class="only">{$place->suptitle}</div>{/if}
        </div>
        {/foreach}
    </div>
    <div class="row mt-5 mb-2">
        <div class="col-lg-12">
            <div class="hotels-title">Отели<br>
                Gastreet City +540</div>
            <p class="level-960">Подъёмник на уровень +960 — бесплатно</p>
        </div>
    </div>
    <div class="row">
        {foreach item=place from=$this.pm540}
        <div class="col-6 col-lg-3 mb-4 carousel">
            <div class="hotels-carousel owl-carousel owl-theme">
                <div class="item" data-target="#hotelsModal_{$place->alias}" data-toggle="modal">
                    <img class="img-fluid" src="/images/places/resized/{$place->pic1}?v={$place->tsUpdated}" data-ratio="1">
                </div>
                <div class="item" data-target="#hotelsModal_{$place->alias}" data-toggle="modal">
                    <img class="img-fluid" src="/images/places/resized/{$place->pic2}?v={$place->tsUpdated}" data-ratio="2">
                </div>
                <div class="item" data-target="#hotelsModal_{$place->alias}" data-toggle="modal">
                    <img class="img-fluid" src="/images/places/resized/{$place->pic3}?v={$place->tsUpdated}" data-ratio="3">
                </div>
            </div>
            <div class="row align-items-center pt-2">
                <div class="col hotels-price-title">{if $lang == 'en'}{$place->name_en|dbtexttohtml}{else}{$place->name|dbtexttohtml}{/if}</div>
                <div class="col hotels-stars">{$place->stars} <span class="star">★</span></div>
            </div>
            <div class="row">
                <div class="col-lg-12 hotels-price-longtitle">
                    {if $place->price > 0}
                    <span class="title price">от {$place->price} ₽/сут.</span>
                    {elseif $place->price == 'хз'}
                    <span class="title" style="color:#f00;font-weight:600">уточняется</span>
                    {else}
                    <span class="title" style="color:#f00;font-weight:600">sold out</span>
                    {/if}
                </div>
            </div>
            {if $place->suptitle}<div class="only">{$place->suptitle}</div>{/if}
        </div>
        {/foreach}
    </div>
</div>

{foreach item=place from=$this.pmList}
<!-- Modal -->
<div class="modal fade" id="hotelsModal_{$place->alias}" tabindex="-1" role="dialog" aria-labelledby="hotelsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-close container mb-3 mt-3 mr-lg-4 mr-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="container body">
                <div class="row">
                    <div class="col-12 col-lg-8 offset-lg-1 hotels-big-img">
                        <img class="img-fluid  modal-img-big" src="/images/places/resized/{$place->pic1}" alt="">
                    </div>
                    <div class="col-12 d-flex col-lg-2 hotels-mini-img">
                        <img class="img-fluid modal-img" src="/images/places/resized/{$place->pic1}" alt="">
                        <img class="img-fluid modal-img" src="/images/places/resized/{$place->pic2}" alt="">
                        <img class="img-fluid modal-img" src="/images/places/resized/{$place->pic3}" alt="">
                    </div>
                </div>
                <div class="row align-items-center mb-4">
                    <div class="col-8 col-lg-5 offset-lg-1 modal-hotels-price-title">{$place->name}<span class="modal-star d-block d-lg-inline ml-lg-5">{$place->stars}★</span></div>
                    <div class="col-4 col-lg-2 text-right marker"><i class="fa fa-map-marker marker-icon" aria-hidden="true"></i>&nbsp;{$place->level}</div>
                </div>
                <div class="row mb-5">
                    <div class="col-lg-8 offset-lg-1">
                        {if $place->level == '+960'}
                            <div class="title">Минимальный срок бронирования 5 суток</div>
                        {else}
                            <div class="title">Минимальный срок бронирования 2-е суток</div>
                        {/if}
                        <div class="longtitle">
                            {if $place->phone}<span>Отдел бронирования:</span> {$place->phone}{/if}
                            {if $place->email}<a class="d-block" href="mailto:{$place->email}"><i class="fa fa-envelope-o mr-2" aria-hidden="true"></i>Отправить запрос</a>{/if}
                        </div>
                    </div>
                    <div class="col-lg-3"></div>
                </div>
                <div class="row">
                    <div class="mb-5 mb-lg-0 col-lg-7 offset-lg-1">
                        {$place->description|dbtexttohtml}
                    </div>
                    <div class="col-lg-3 mb-5 text-center">
                        {if $place->videoUrl}
                            <iframe width="100%" height="200" src="https://www.youtube.com/embed/{$place->videoUrl}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        {/if}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="hotel-price-title mb-4">Стоимость размещения за сутки</div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-lg-7 offset-lg-1 mb-3 mb-lg-0">
                        {$place->modal_desc|dbtexttohtml}
                    </div>
                    <div class="col-lg-3">
                        <div class="have-in-price">
                            <div class="have-in-price-title">Входит в стоимость</div>
                            <div class="row align-items-center {if $place->inclusive[1]}active{/if}">
                                <div class="col-2 col-lg-2">
                                    <i class="fa fa-breakfast"></i>
                                </div>
                                <div class="col-10 col-lg-10">
                                    <div>Завтрак</div>
                                </div>
                            </div>
                            <div class="row align-items-center {if $place->inclusive[2]}active{/if}">
                                <div class="col-2 col-lg-2">
                                    <i class="fa fa-pool"></i>
                                </div>
                                <div class="col-10 col-lg-10">
                                    <div>Бассейн</div>
                                </div>
                            </div>
                            <div class="row align-items-center {if $place->inclusive[3]}active{/if}">
                                <div class="col-2 col-lg-2">
                                    <i class="fa fa-spa"></i>
                                </div>
                                <div class="col-10 col-lg-10">
                                    <div>Спа</div>
                                </div>
                            </div>
                            <div class="row align-items-center {if $place->inclusive[4]}active{/if}">
                                <div class="col-2 col-lg-2">
                                    <i class="fa fa-gum"></i>
                                </div>
                                <div class="col-10 col-lg-10">
                                    <div>Тренажёрный зал</div>
                                </div>
                            </div>
                            <div class="row align-items-center {if $place->inclusive[6]}active{/if}">
                                <div class="col-2 col-lg-2">
                                    <i class="fa fa-baby-room"></i>
                                </div>
                                <div class="col-10 col-lg-10">
                                    <div>Детская комната</div>
                                </div>
                            </div>
                            <div class="row end align-items-center {if $place->inclusive[5]}active{/if}">
                                <div class="col-2 col-lg-2">
                                    <i class="fa fa-wheelchair" aria-hidden="true"></i>
                                </div>
                                <div class="col-10 col-lg-10">
                                    <div>Номера для людей с&nbsp;ограниченными возможностями</div>
                                </div>
                            </div>
                            <div class="have-in-price-title">Платные услуги</div>
                            <div class="row align-items-center {if $place->inclusive[6]}active{/if}">
                                <div class="col-2 col-lg-2">
                                    <i class="fa fa-baby-room"></i>
                                </div>
                                <div class="col-10 col-lg-10">
                                    <div>Детская комната</div>
                                </div>
                            </div>
                            <div class="row align-items-center {if $place->inclusive[7]}active{/if}">
                                <div class="col-2 col-lg-2">
                                    <i class="fa fa-paw"></i>
                                </div>
                                <div class="col-10 col-lg-10">
                                    <div>Размещение с&nbsp;домашними животными</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{/foreach}
