{assign var=this value=$PrizesControl}

<div class="jumbotron-blank">
    <div class="container">
        <div class="content">
            <ul class="breadcrumbs">
                {if $lang == 'en'}
                <li><a href="/">Home</a></li>
                <li><span>News and goodies</span></li>
                {else}
                <li><a href="/">Главная</a></li>
                <li><span>Новости и ништяки</span></li>
                {/if}
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <h1 class="page-headline">{if $lang == 'en'}News and goodies{else}Новости и ништяки{/if}</h1>
    <div class="row">
        {if $this.pmList}
            <!-- loop start -->
            {foreach item=prize from=$this.pmList}
            {assign var=idYoutubeVideo value=$prize->youtube|getidyoutubevideo}
            {assign var=isPrizeImg1 value=$prize->id|isprizepic}
                <div class="col-md-3 mb-4">
                    <a class="person-teaser js-popover" href="#popover-win-prize-{$prize->id}" data-popover="#popover-win-prize-{$prize->id}" data-idyoutubevideo="{$idYoutubeVideo}" data-timer="on">
                        {if $isPrizeImg1}
                        <img src="/images/prizes/resized/{$prize->id}.jpg?v={$prize->tsUpdate}" data-ratio="1">
                        {else}
                        <img src="/images/gss/speaker.jpg" data-ratio="1">
                        {/if}
                        <div class="prizes-about">
                            <p class="prizes-name">{if $lang == 'en'}{$prize->name_en}{else}{$prize->name}{/if}</p>
                        </div>
                    </a>
                </div>
            {/foreach}
            <!-- loop end -->
        {/if}
    </div>
</div>

{foreach item=prize from=$this.pmList}
{assign var=idYoutubeVideo value=$prize->youtube|getidyoutubevideo}
{assign var=isPrizeImg1 value=$prize->id|isprizepic}
    <div class="modal fade" id="popover-win-prize-{$prize->id}" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="popover-win">
                    <span class="close" data-dismiss="modal">&times;</span>
                    {if $idYoutubeVideo}
                        <div class="thumb">
                            <iframe src="" frameborder="0" allowfullscreen></iframe>
                        </div>
                    {else}
                        <figure class="thumb fg-container">
                            {if $isPrizeImg1}
                                <img src="/images/prizes/resized/{$prize->id}.jpg?v={$prize->tsUpdate}">
                            {else}
                                <img src="/images/gss/speaker.jpg">
                            {/if}
                        </figure>
                    {/if}
                    {if $lang == 'en'}
                    <p class="title">{$prize->name_en}</p>
                    <div class="desc">
                        <p>{$prize->description_en|dbtexttohtml}</p>
                    </div>
                    {else}
                    <p class="title">{$prize->name}</p>
                    <div class="desc">
                        <p>{$prize->description|dbtexttohtml}</p>
                    </div>
                    {/if}
                </div>
            </div>
        </div>
    </div>
{/foreach}