{assign var=this value=$ProductDecisionControl}
{formrestore id="user-new"}

{loadscript file='/js/pages/productdecision.js' type='js'}

<div class="gss-productdecision">

    <h4>Мастер-класс &laquo;{$this.productObj->name}&raquo;</h4>
    <p>Проходит с {$this.productObj->eventTsStart|dateformat:'d.m.Y, H:i'} по {$this.productObj->eventTsFinish|dateformat:'d.m.Y, H:i'}</p>

    <div class="buttons">
        <a class="btn btn-white" href="{link show=catalog}">Возврат в каталог</a> <span class="pay-buttons-txt">или</span> <a class="btn btn-black" href="{link do=add product=$this.productObj->id mode=force}">Всё равно купить</a>
    </div>

    {if $this.children}
    <h3>Купить билет и мастер-класс на участника:</h3>
    <form action="{link do=add}" id="user-exsist" method="post">
        <input type="hidden" name="id" value="{$actor->id}" />
        <input type="hidden" name="isalive" value="1" />
        <input type="hidden" name="product" value="{$this.productObj->id}" />
        <input type="hidden" name="mode" value="existuser" />
        <div class="form-group">
            <label>Участник:<span class="necessary-star">*</span></label>
            <select class="form-control" name="extuser">
                {html_options options=$this.children}
            </select>
        </div>
        <div class="form-group">
            <button class="btn btn-black submitButton" type="submit">В корзину</button>
        </div>
    </form><br/>
    {/if}

    <!--
    <h3>Купить билет и мастер-класс<br/>на нового участника:</h3>
    <form action="{link do=add}" id="user-new" method="post">
        <input type="hidden" name="id" value="{$actor->id}" />
        <input type="hidden" name="isalive" value="1" />
        <input type="hidden" name="product" value="{$this.productObj->id}" />
        <input type="hidden" name="mode" value="newuser" />
        <div class="cols">
            <div class="col1">
                <div class="form-filed">
                    <span class="input input--manami">
                        <select class="input__field input__field--manami" name="ticket" id="ticket">
                            {html_options options=$this.tickets selected=$actor->baseTicketId}
                        </select>
                        <label class="input__label input__label--manami input__label--manami-color-3" for="ticket">
                            <span class="input__label-content input__label-content--manami">Основной билет:</span>
                        </label>
                    </span>
                </div>
                <div class="form-filed">
                    <span class="input input--manami">
                        <input class="input__field input__field--manami" type="text" autocomplete="off" id="reg_phone" name="phone" maxlength="20" data-validate="validate(required, maxlength(20))" />
                        <label class="input__label input__label--manami input__label--manami-color-3" for="reg_phone">
                            <span class="input__label-content input__label-content--manami">Ваш телефон:</span>
                        </label>
                    </span>
                </div>
                <div class="form-filed">
                    <span class="input input--manami">
                        <input class="input__field input__field--manami" type="text" id="email" name="email" maxlength="100" data-validate="validate(required, email, maxlength(100))" />
                        <label class="input__label input__label--manami input__label--manami-color-3" for="email">
                            <span class="input__label-content input__label-content--manami">E-Mail:</span>
                        </label>
                    </span>
                </div>
                <div class="form-filed">
                    <span class="input input--manami">
                        <input class="input__field input__field--manami" type="text" id="lastname" name="lastname" maxlength="255" data-validate="validate(required, maxlength(255))" />
                        <label class="input__label input__label--manami input__label--manami-color-3" for="lastname">
                            <span class="input__label-content input__label-content--manami">Фамилия:</span>
                        </label>
                    </span>
                </div>
                <div class="form-filed">
                    <span class="input input--manami">
                        <input class="input__field input__field--manami" type="text" id="name" name="name" maxlength="255" data-validate="validate(required, maxlength(255))" />
                        <label class="input__label input__label--manami input__label--manami-color-3" for="name">
                            <span class="input__label-content input__label-content--manami">Имя:</span>
                        </label>
                    </span>
                </div>
                <div class="form-filed">
                    <span class="input input--manami">
                        <input class="input__field input__field--manami" type="text" id="countryName" name="countryName" maxlength="100" data-validate="validate(required, maxlength(100))" />
                        <label class="input__label input__label--manami input__label--manami-color-3" for="countryName">
                            <span class="input__label-content input__label-content--manami">Страна:</span>
                        </label>
                    </span>
                </div>
            </div>
            <div class="col2">
                <div class="form-filed">
                    <span class="input input--manami">
                        <input class="input__field input__field--manami" type="text" id="cityName" name="cityName" maxlength="100" data-validate="validate(required, maxlength(100))" />
                        <label class="input__label input__label--manami input__label--manami-color-3" for="cityName">
                            <span class="input__label-content input__label-content--manami">Город:</span>
                        </label>
                    </span>
                </div>
                <div class="form-filed">
                    <span class="input input--manami">
                        <input class="input__field input__field--manami" type="text" id="company" name="company" maxlength="100" data-validate="validate(required, maxlength(100))" />
                        <label class="input__label input__label--manami input__label--manami-color-3" for="company">
                            <span class="input__label-content input__label-content--manami">Компания:</span>
                        </label>
                    </span>
                </div>
                <div class="form-filed">
                    <span class="input input--manami">
                        <input class="input__field input__field--manami" type="text" id="position" name="position" maxlength="100" data-validate="validate(required, maxlength(100))" />
                        <label class="input__label input__label--manami input__label--manami-color-3" for="position">
                            <span class="input__label-content input__label-content--manami">Должность:</span>
                        </label>
                    </span>
                </div>
            </div>
        </div>
        <input type="submit" id="submitForm" value="В корзину"/>

    </form>
    -->

</div>