{assign var=this value=$ProgrammsControl}

<div class="jumbotron-blank">
    <div class="container">
        <div class="content">
            <ul class="breadcrumbs">
                <li><a href="/">##home##</a></li>
                <li><span>##program##</span></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="page-container gss-programms">
        <div class="row">
            <div class="col-md-8">
                <h4 class="page-headline">{if $lang == 'en'}Business program{else}Обучение от GASTREET{/if}</h4>
            </div>
            <div class="col-md-4">
                <div class="g-emoji-content">
                    <div class="g-emoji-icon">
                        <img src="/images/emoji/1.png" class="img-fluid" alt="">
                    </div>
                    <div class="g-emoji-balun">
                        Все официальные образовательные площадки здесь
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            {foreach from=$this.amList item=amObj}
            {if $amObj->areaTypeId == 1}
            <div class="col-md-3 p-1">
                <div class="blank-img gss-programms-img ic_container capslide_img_cont3" onclick="window.location.href = '{link show=catalog area=$amObj->id}';">
                    <img src="/images/areas/resized/01{$amObj->id}.jpg?v={$amObj->tsUpdated}" alt="{$amObj->name}" class="img-fluid">
                    <div class="ic_caption">
                        <h3>{if $lang == 'en'}{$amObj->name_en}{else}{$amObj->name}{/if}</h3>
                    </div>
                </div>
            </div>
            {/if}
            {/foreach}
        </div>

        <div class="row">
            <div class="col-md-8">
                <h4 class="page-headline">{if $lang == 'en'}Business program{else}Обучение от партнеров{/if}</h4>
            </div>
            <div class="col-md-4">
                <div class="g-emoji-content">
                    <div class="g-emoji-icon">
                        <img src="/images/emoji/2.png" class="img-fluid" alt="">
                    </div>
                    <div class="g-emoji-balun">
                        А это образовательные площадки от наших крутых партнеров
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            {foreach from=$this.amList item=amObj}
            {if $amObj->areaTypeId == 3}
            <div class="col-md-3 p-1">
                <div class="blank-img gss-programms-img ic_container capslide_img_cont3" onclick="window.location.href = '{link show=catalog area=$amObj->id}';">
                    <img src="/images/areas/resized/01{$amObj->id}.jpg?v={$amObj->tsUpdated}" alt="{$amObj->name}" class="img-fluid">
                    <div class="ic_caption">
                        <h3>{if $lang == 'en'}{$amObj->name_en}{else}{$amObj->name}{/if}</h3>
                    </div>
                </div>
            </div>
            {/if}
            {/foreach}
        </div>

        <div class="row">
            <div class="col-md-8">
                <h4 class="page-headline">{if $lang == 'en'}Communication{else}Общение{/if}</h4>
            </div>
            <div class="col-md-4">
                <div class="g-emoji-content">
                    <div class="g-emoji-icon">
                        <img src="/images/emoji/3.png" class="img-fluid" alt="">
                    </div>
                    <div class="g-emoji-balun">
                        Ну а здесь всё про общение и&nbsp;тусовки
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            {foreach from=$this.amList item=amObj}
            {if $amObj->areaTypeId == 2}
            <div class="col-md-3 p-1">
                <div class="blank-img gss-programms-img ic_container capslide_img_cont3" onclick="window.location.href = '{$amObj->url}';">
                    <img src="/images/areas/resized/01{$amObj->id}.jpg?v={$amObj->tsUpdated}" alt="{$amObj->name}" class="img-fluid">
                    <div class="ic_caption">
                        <h3>{if $lang == 'en'}{$amObj->name_en}{else}{$amObj->name}{/if}</h3>
                    </div>
                </div>
            </div>
            {/if}
            {/foreach}
        </div>
    </div>
</div>