{assign var=this value=$RegisterControl}

{assign var="showWarning" value=0}

{if !$this.user->confirmedEmail}
    {assign var="showWarning" value=1}
{/if}
{foreach from=$this.children item=child}
    {if !$child->confirmedEmail && $child->baseTicketId}
        {assign var="showWarning" value=1}
    {/if}
{/foreach}

<div class="register-page">
    <div class="row">
        <div class="col-md-8">
            <h1 class="header-title">{if $lang == 'en'}Registration{else}Регистрация{/if}</h1>
            <ul class="breadcrumbs-register">
                <li><a href="/register" class="">{if $lang == 'en'}Step 1{else}Шаг 1{/if}<small>Личные данные</small></a></li>
                <li><a href="/register?step=2" class="">{if $lang == 'en'}Step 2{else}Шаг 2{/if}<small>Выбор билета</small></a></li>
                <li><a href="/register?step=3" class="">{if $lang == 'en'}Step 3{else}Шаг 3{/if}<small>Сделать аватар</small></a></li>
                <li><a href="/register?step=4" class="">{if $lang == 'en'}Step 4{else}Шаг 4{/if}<small>Выбор опций</small></a></li>
                <li><a href="/register?step=5" class="active">{if $lang == 'en'}Step 5{else}Шаг 5{/if}<small>Оплата</small></a></li>
            </ul>
        </div>
        <div class="col-md-4">
            {if $this.user->ulBalance > 0}
                <div class="user_balance">
                    твои бонусы:&nbsp;&nbsp;&nbsp;<span>{$this.user->ulBalance} ₽</span><br>
                    <a href="{link show=addbalance}">Пополнить</a>
                </div>
            {/if}
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <h3 class="header-title">{if $lang == 'en'}Confirmation{else}Подтверждение{/if}</h3>
            <div class="register-basket">
                <div class="user-container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="h4 basket-user">{$this.user->name} {$this.user->lastname} <span class="basket-phone">{$this.user->phone}</span> {if !$this.user->confirmedEmail}{assign var="showWarning" value=1}<span class="badge badge-danger">E-mail не подтвержден</span>{/if}</div>
                            <div class="basket-desc">Состав билета</div>
                        </div>
                    </div>
                    {assign var="count" value=1}
                    {foreach from=$this.purchasedTickets item=ticket}
                        {assign var=total value=$total+$ticket.needAmount-$ticket.payAmount-$ticket.ulAmount+$ticket.returnedAmount-$ticket.discountAmount}
                        <div class="row basket-row">
                            <div class="col-md-6"><span class="counter">{$count}.</span> <span class="ticket-name">{if $lang == 'en'}Ticket{else}Билет{/if} &laquo;{$ticket.baseTicketName}&raquo;</span></div>
                            <div class="col-6 col-md-2 discount-field">{if $ticket.discountAmount > 0}-{$ticket.discountAmount|round0} ₽{/if}</div>
                            <div class="col-6 col-md-2">{$ticket.needAmount|round0} ₽</div>
                            <div class="col-md-2">{if $ticket.status == 'STATUS_PAID'}<span class="badge badge-success">Оплачен</span>{else}<span class="badge badge-danger">Не оплачен</span>{/if}</div>
                        </div>
                        {assign var="count" value=$count+1}
                    {/foreach}
                    {foreach from=$this.purchasedProducts key=countId item=product}
                        {assign var=total value=$total+$product.needAmount-$product.payAmount-$product.ulAmount+$product.returnedAmount-$product.discountAmount}
                        <div class="row basket-row">
                            <div class="col-md-6"><span class="counter">{$count}.</span> <span class="ticket-name">{$product.productName}</span></div>
                            <div class="col-6 col-md-2 discount-field">{if $product.discountAmount > 0}-{$product.discountAmount|round0} ₽{/if}</div>
                            <div class="col-6 col-md-2">{$product.needAmount|round0} ₽</div>
                            <div class="col-md-2">
                                {if $product.status == 'STATUS_PAID'}<span class="badge badge-success">Оплачен</span>{else}<span class="badge badge-danger">Не оплачен</span>{/if}
                                {if $product.status == 'STATUS_NEW'}
                                    <a href="{link do=delproduct id=$product.id}" title="{if $lang == 'en'}Remove{else}Удалить{/if}"><i class="fa fa-trash-o" aria-hidden="true"></i> {if $lang == 'en'}Remove{else}Удалить{/if}</a>
                                {/if}
                            </div>
                        </div>
                        {assign var="count" value=$count+1}
                    {/foreach}
                </div>
                {foreach from=$this.children item=child}
                    {assign var=child_id value=$child->id}
                    {if $this.purchasedChildTickets[$child_id]}
                    <div class="user-container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="h4 basket-user">{$child->name} {$child->lastname} <span class="basket-phone">{$child->phone}</span> {if !$child->confirmedEmail}{assign var="showWarning" value=1}<span class="badge badge-danger">E-mail не подтвержден</span>{/if}</div>
                                <div class="basket-desc">Состав билета</div>
                            </div>
                        </div>
                        {assign var="count" value=1}
                        {foreach from=$this.purchasedChildTickets[$child_id] item=ticket}
                            {assign var=total value=$total+$ticket.needAmount-$ticket.payAmount-$ticket.ulAmount+$ticket.returnedAmount-$ticket.discountAmount}
                            <div class="row basket-row">
                                <div class="col-md-6"><span class="counter">{$count}.</span> <span class="ticket-name">{if $lang == 'en'}Ticket{else}Билет{/if} &laquo;{$ticket.baseTicketName}&raquo;</span></div>
                                <div class="col-6 col-md-2 discount-field">{if $ticket.discountAmount > 0}-{$ticket.discountAmount|round0} ₽{/if}</div>
                                <div class="col-6 col-md-2">{$ticket.needAmount|round0} ₽</div>
                                <div class="col-md-2">{if $ticket.status == 'STATUS_PAID'}<span class="badge badge-success">Оплачен</span>{else}<span class="badge badge-danger">Не оплачен</span>{/if}</div>
                            </div>
                            {assign var="count" value=$count+1}
                        {/foreach}
                        {foreach from=$this.purchasedChildProducts[$child_id] item=product}
                            {assign var=total value=$total+$product.needAmount-$product.payAmount-$product.ulAmount+$product.returnedAmount-$product.discountAmount}
                            <div class="row basket-row">
                                <div class="col-md-6"><span class="counter">{$count}.</span> <span class="ticket-name">{$product.productName}</span></div>
                                <div class="col-6 col-md-2 discount-field">{if $product.discountAmount > 0}-{$product.discountAmount|round0} ₽{/if}</div>
                                <div class="col-6 col-md-2">{$product.needAmount|round0} ₽</div>
                                <div class="col-md-2">
                                    {if $product.status == 'STATUS_PAID'}<span class="badge badge-success">Оплачен</span>{else}<span class="badge badge-danger">Не оплачен</span>{/if}
                                    {if $product.status == 'STATUS_NEW'}
                                        <a href="{link do=delproduct id=$product.id extuser=$child_id mode='existuser'}" title="{if $lang == 'en'}Remove{else}Удалить{/if}"><i class="fa fa-trash-o" aria-hidden="true"></i> {if $lang == 'en'}Remove{else}Удалить{/if}</a>
                                    {/if}
                                </div>
                            </div>
                            {assign var="count" value=$count+1}
                        {/foreach}
                    </div>
                    {/if}
                {/foreach}
            </div>
            {if $total}
                <div class="row register-total">
                    <div class="col-md-12">
                        <a href="/basket?q=6" class="mb-4 mt-2 d-inline-block list-group-item list-group-item-action w-auto">{if $lang == 'en'}Add promo-code{else}Ввести промо-код{/if}</a>
                        <div class="desc">Общая сумма к оплате:</div>
                        <div class="total">{$total|numberformat}&nbsp;₽</div>
                    </div>
                </div>
                <div class="row register-pay">
                    <div class="col-md-12">
                        <div class="basket-desc">Выберите способ оплаты:</div>
                        <div class="radiobox">
                            <div><input type="radio" name="pay" id="check1" checked> <label for="check1">Банковской картой</label></div>
                            <div><input type="radio" name="pay" id="check2"> <label for="check2">Выставить счет</label></div>
                            <div><input type="radio" name="pay" id="check3"> <label for="check3">Забронировать на {$this.daysBron} дней</label></div>
<!--                            <div><input type="radio" name="pay" id="check4"> <label for="check4">Забронировать до 15 января</label></div>-->
                            <div><input type="radio" name="pay" id="check6"> <label for="check6">Купить в рассрочку</label></div>
                            <div><input type="radio" name="pay" id="check7"> <label for="check7">Оплатить бонусами</label></div>
                        </div>
                        <div class="ul-detail">
                            <div class="row">
                                <input type="hidden" name="company_type" value="{if $this.udmObj->company_type}{$this.udmObj->company_type}{else}3{/if}">
                                <div class="col-md-12">
                                    <div class="basket-desc">Введите данные компании:</div>
                                    <div class="ul-group">
                                        <span><input type="radio" name="face" id="check4" checked> <label for="check4">ИП</label></span>
                                        <span><input type="radio" name="face" id="check5"> <label for="check5">ООО</label></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="company">{if $lang == 'en'}Company{else}Наименование{/if}</label>
                                        <input class="form-control" autocomplete="off" id="company" name="company" type="text" value="{$this.udmObj->company}" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inn">{if $lang == 'en'}INN{else}ИНН{/if}</label>
                                        <input class="form-control" type="text" id="inn" name="inn" value="{$this.udmObj->inn}" maxlength="12"/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <a href="#" id="invoice-pay" onclick="yaCounter28771811.reachGoal('vystavit-schet-korzina'); return true" class="btn btn-white">Выставить счёт</a>
                                </div>
                                <div class="col-md-12">
                                    <p class="oferta mt-4">Нажимая кнопку «Выставить счёт» Вы соглашаетесь с&nbsp;<a href="/oferta">договором-оферты</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="bron-btn">
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="/booking" class="btn btn-white">Забронировать</a>
                                </div>
                            </div>
                        </div>
                        <div class="balance-btn">
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="#" id="basket-balance-pay" class="btn btn-white">Оплатить</a>
                                </div>
                            </div>
                        </div>
                        <div class="pay-card-btn">
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="/index.php?do=payment&total={$total}&mode=alfa" class="btn btn-white" onclick="yaCounter28771811.reachGoal('oplatit-kartoj-korzina');return true">Оплатить</a>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" id="applePay"></button>
                                </div>
                                <div class="col-md-12">
                                    <p class="oferta mt-4">Нажимая кнопку «Оплатить картой» Вы соглашаетесь с&nbsp;<a href="/oferta">договором оферты</a> и с <a href="/pdf/dogovor_gastreet_camp.pdf">договором оферты Детского кемпа «Гастритик»</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="installment-btn">
                            <div class="row">
                                <div class="col-md-6">
                                    <form action="https://loans.tinkoff.ru/api/partners/v1/lightweight/create" method="post">
                                        <input name="shopId" value="7760c05a-0238-4cbb-a3df-43d606b24954" type="hidden">
                                        <input name="showcaseId" value="1ebb478c-8dbf-4d11-922d-57837f23be48" type="hidden">
                                        <input name="sum" value="{$total}" type="hidden">
                                        <input name="promoCode" value="installment_4" type="hidden">
                                        <input name="customerEmail" value="{$actor->email}" type="hidden">
                                        <input name="customerPhone" value="{$actor->phone}" type="hidden">
                                        <input type="submit" value="Купить в рассрочку" class="btn btn-white">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {/if}
        </div>
        <div class="col-md-4">
            <div class="information">
                <p class="title">ИНФОРМАЦИЯ</p>
                <p>Ты почти справился - это последний этап регистрации.</p>
                <p>Внимательно проверь все данные. Выбери способ оплаты. Все, что тебе осталось - оплатить билет.</p>
                <p>Имей ввиду, что ты можешь забронировать билет на 14&nbsp;дней за 1000 рублей.</p>
                <p>Счёт нужно оплатить в&nbsp;течении 7&nbsp;дней, в&nbsp;противном случае он аннулируется.</p>
                <p>Поздравляем, ты мужественно справился с&nbsp;регистрацией! Добро пожаловать на GASTREET'20!</p>
            </div>
            {if $showWarning == 1}
            <div class="information badge-danger mt-4">
                <p class="title">ВНИМАНИЕ!!!</p>
                <p><b>Обязательно</b> подтвердите почту участника, чтобы получать важные email уведомления и&nbsp;новости, в&nbsp;том числе билет на почту после оплаты.</p>
            </div>
            {/if}
        </div>
    </div>
</div>

<script>
    let debug               = true;
    let merchantIdentifier  = '{$this.PRODUCTION_MERCHANTIDENTIFIER}';
    let currencyCode        = '{$this.PRODUCTION_CURRENCYCODE}';
    let countryCode         = '{$this.PRODUCTION_COUNTRYCODE}';
    let label               = '{$this.PRODUCTION_DISPLAYNAME}';
    var runningAmount       = {$total};
    var orderNumber         = '';
    var subTotalDescr       = 'Оплата заказа';
</script>

{literal}
<script>
    if (window.ApplePaySession) {
        let promise = ApplePaySession.canMakePaymentsWithActiveCard(merchantIdentifier);
        promise.then(function (canMakePayments) {
            if (canMakePayments) {
                document.getElementById("applePay").style.display = "inline-block";
                logit('Hi, I can do ApplePay');
            } else {
                logit('ApplePay is possible on this browser, but not currently activated.');
            }
        });
    } else {
        logit('ApplePay is not available on this browser');
    }

    document.getElementById("applePay").onclick = function(evt) {
        let runningPP		= 0;
        let runningTotal	= function() { return runningAmount + runningPP; }

        let promiseDB = sendPaymentDataToDB();
        promiseDB.then(function (success) {
            var status = 'STATUS_FAILURE';
            if (success) {
                status = 'STATUS_SUCCESS';
                runningAmount = success.amount;
                //runningAmount = 10;
                orderNumber = success.orderNumber;
                subTotalDescr = success.msg;
            }
            logit( "result of sendPaymentDataToDB() function =  " + status );
        });

        console.log(subTotalDescr);

        let paymentRequest = {
            currencyCode: currencyCode,
            countryCode: countryCode,
            lineItems: [{label: subTotalDescr, amount: runningAmount }],
            total: {
                label: label,
                amount: runningTotal()
            },
            supportedNetworks: ['maestro', 'masterCard', 'visa' ],
            merchantCapabilities: [ 'supports3DS', 'supportsCredit', 'supportsDebit' ]
        };

        let session = new ApplePaySession(1, paymentRequest);
        // Merchant Validation
        session.onvalidatemerchant = function (event) {
            logit(event);
            let promise = performValidation(event.validationURL);
            promise.then(function (merchantSession) {
                session.completeMerchantValidation(merchantSession);
            });
        }

        function performValidation(valURL) {
            return new Promise(function(resolve, reject) {
                let xhr = new XMLHttpRequest();
                xhr.onload = function() {
                    let data = JSON.parse(this.responseText);
                    logit(data);
                    resolve(data);
                };
                xhr.onerror = reject;
                xhr.open('GET', 'apple_pay_comm.php?u=' + valURL);
                xhr.send();
            });
        }

        session.onpaymentmethodselected = function(event) {
            logit('starting session.onpaymentmethodselected');
            logit(event);
            var newTotal = { type: 'final', label: label, amount: runningTotal() };
            var newLineItems = [{type: 'final',label: subTotalDescr, amount: runningAmount }];
            session.completePaymentMethodSelection( newTotal, newLineItems );
        }

        session.onpaymentauthorized = function (event) {
            logit('starting session.onpaymentauthorized');
            logit('NB: This is the first stage when you get the *full shipping address* of the customer, in the event.payment.shippingContact object');
            logit(event);
            let promise = sendPaymentToken(event.payment.token);
            promise.then(function (success) {
                var status;
                if (success) {
                    status = ApplePaySession.STATUS_SUCCESS;
                    document.getElementById("applePay").style.display = "none";
                    session.completePayment(status);
                    alert("Платеж выполнен. Данные обновятся в течение минуты.");
                } else {
                    status = ApplePaySession.STATUS_FAILURE;
                    session.completePayment(status);
                }
                logit( "result of sendPaymentToken() function =  " + success );
            });
        }

        function sendPaymentToken(paymentToken) {
            return new Promise(function(resolve, reject) {
                logit('starting function sendPaymentToken()');
                logit(paymentToken);

                var xhr = new XMLHttpRequest();
                xhr.onerror = reject;
                var data = new FormData();
                paymentToken.orderNumber = orderNumber;
                paymentToken.desc = subTotalDescr;
                data.append("json", JSON.stringify(paymentToken));

                xhr.open('POST', '/apple_pay_alfa.php', true);
                xhr.send(data);

                if ( debug == true ) {
                    resolve(true);
                } else {
                    reject;
                }
            });
        }

        function sendPaymentDataToDB() {
            return new Promise(function(resolve, reject) {
                let xhr = new XMLHttpRequest();
                xhr.onload = function() {
                    let data = JSON.parse(this.responseText);
                    logit(data);
                    resolve(data);
                };
                xhr.onerror = reject;
                xhr.open('GET', '/ajax?job=apple_pay');
                xhr.send();
            });
        }

        session.oncancel = function(event) {
            logit('starting session.cancel');
            logit(event);
        }
        session.begin();
    };

    function logit( data ) {
        if( debug == true ) {
            console.log(data);
        }
    };
</script>
{/literal}