{assign var=this value=$ScheduleControl}

{if !$app}
    <div class="jumbotron-blank">
        <div class="container">
            <div class="content">
                <ul class="breadcrumbs">
                    <li><a href="/">##home##</a></li>
                    <li><span>##scheduleOff##</span></li>
                </ul>
            </div>
        </div>
    </div>
{/if}
<div class="page_body">
    <div class="container">
        <div class="row">
            {if $this.products}
                {if $this.productId}
                <form action="{link do=add}" method="post">
                    <input type="hidden" name="productId" value="{$this.productId}" />
                {/if}
                    <div class="container schedule">
                        <div class="row">
                            <div class="col-md-6">
                                <h1 class="page-headline gss-speakers-title">##scheduleOff##</h1>
                            </div>
                            <div class="col-md-6">
<!--                                <div class="g-emoji-content">-->
<!--                                    <div class="g-emoji-icon">-->
<!--                                        <img src="/images/emoji/8.png" class="img-fluid" alt="">-->
<!--                                    </div>-->
<!--                                    <div class="g-emoji-balun">-->
<!--                                        Чтобы не путаться, мы придумали удобные фильтры. Используй их для поиска-->
<!--                                    </div>-->
<!--                                </div>-->
                            </div>
                        </div>
                        <div class="row align-items-center" style="margin-bottom: 2rem;">
                            <div class="col-md-8">
                                <p style="font-size:16px;margin-bottom:1rem">Программа GASTREET 2021 дополняется в&nbsp;режиме 24/7. Только самое важное и&nbsp;актуальное со всего мира! Мы прокачали любимые прошлогодние площадки и&nbsp;подготовили несколько новых. Как всегда, бесконечные возможности для общения и&nbsp;обучения в&nbsp;самом крутом закрытом лагере для шефов и&nbsp;рестораторов.</p>
                                <p style="font-size:16px; display: none">Хочешь посмотреть, как мощно и&nbsp;круто это было в&nbsp;прошлом году, тогда велкам в&nbsp;<a href="http://2019.gastreet.com/schedule" target="_blank">программу прошлого года</a></p>
                            </div>
                            <div class="col-md-4">
                                <div class="alert alert-light alert-schedule alert-dismissible fade show" role="alert" style="position:relative;top:auto;left:auto;margin:0;">
                                    <p>Помни, что ты не сможешь отдельно докупить участие в&nbsp;мастер-классах.</p>
                                    <p>Тебе доступны только те события, которые входят в&nbsp;твой билет.</p>
                                    <a href="#" class="close" data-dismiss="alert" aria-label="Close">&times;</a>
                                </div>
                            </div>
                        </div>
                        <p class="note schedule-filter">ФИЛЬТР <a href="javascript:void(0);" class="active" data-target=".schedule-filter-area">ПО ПЛОЩАДКЕ</a> <a href="javascript:void(0);" class="" data-target=".schedule-filter-ticket">ПО БИЛЕТУ</a> <a href="javascript:void(0);" class="d-none" data-target=".schedule-filter-theme">ПО ТЕМЕ</a></p>
                    </div>
                    <div class="container">
                        <div class="tags-list tags-list-speakers schedule-filter-ticket" style="display: none;">
                            <ul>
                                <li class="gss-tag-li active"><a class="gss-tag-link" data-tag="all" title="" href="#">{if $lang == 'en'}#All{else}#Все{/if}</a></li>
                                <li class="gss-tag-li tag_king"><a class="gss-tag-link" data-tag="t_king" href="#">КАК КОРОЛЬ</a></li>
                                <li class="gss-tag-li tag_rebro"><a class="gss-tag-link" data-tag="t_rebro" href="#">REBRO</a></li>
                                <li class="gss-tag-li tag_mainstreet"><a class="gss-tag-link" data-tag="t_profi" href="#">ПРОФИ</a></li>
                                <li class="gss-tag-li tag_chefstreet"><a class="gss-tag-link" data-tag="t_chefs" href="#">ШЕФСКИЙ</a></li>
                                <li class="gss-tag-li tag_barstreet"><a class="gss-tag-link" data-tag="t_barstreet" href="#">BARSTREET</a></li>
                                <li class="gss-tag-li tag_tourist"><a class="gss-tag-link" data-tag="t_tourist" href="#">СПУТНИК</a></li>
                                <li class="gss-tag-li tag_buy"><a class="gss-tag-link" data-tag="t_buy" href="#">КУПИТЬ К БИЛЕТУ</a></li>
                            </ul>
                        </div>
                        <div class="tags-list tags-list-speakers schedule-filter-area" style="position: relative;right: auto;top: auto;margin: 0;">
                            <ul>
                                <li class="gss-tag-li active"><a class="gss-tag-link" data-tag="all" title="" href="#">{if $lang == 'en'}#All{else}#Все{/if}</a></li>
                                <li class="gss-tag-li tag_centralnayaploshchad"><a class="gss-tag-link" data-tag="tag_centralnayaploshchad" title="#центральнаяплощадь" href="#">#центральнаяплощадь</a></li>
                                <li class="gss-tag-li tag_rebro"><a class="gss-tag-link" data-tag="tag_rebro" title="#rebro" href="#">#rebro</a></li>
                                <li class="gss-tag-li tag_mainstreet"><a class="gss-tag-link" data-tag="tag_mainstreet" title="#mainstreet" href="#">#mainstreet</a></li>
                                <li class="gss-tag-li tag_chefstreet"><a class="gss-tag-link" data-tag="tag_chefstreet" title="#chefstreet" href="#">#chefstreet</a></li>
                                <li class="gss-tag-li tag_barstreet"><a class="gss-tag-link" data-tag="tag_barstreet" title="#barstreet" href="#">#barstreet</a></li>
                                <li class="gss-tag-li tag_businessschool"><a class="gss-tag-link" data-tag="tag_biznesshkola" title="#бизнесшкола" href="#">#бизнесшкола</a></li>
                                <li class="gss-tag-li tag_popupujiny d-none"><a class="gss-tag-link" data-tag="tag_popupujiny" title="#бизнесшкола" href="#">#popup</a></li>
                            </ul>
                        </div>
                        <div class="tags-list tags-list-speakers schedule-filter-theme" style="display: none;">
                            <ul>
                                <li class="gss-tag-li active"><a class="gss-tag-link" data-tag="all" title="" href="javascript:void(0);">{if $lang == 'en'}#All{else}#Все{/if}</a></li>
                                <li class="gss-tag-li"><a class="gss-tag-link" data-tag="tag_menedjment" title="#МЕНЕДЖМЕНТ" href="javascript:void(0);">#МЕНЕДЖМЕНТ</a></li>
                                <li class="gss-tag-li"><a class="gss-tag-link" data-tag="tag_marketing" title="#МАРКЕТИНГ" href="javascript:void(0);">#МАРКЕТИНГ</a></li>
                                <li class="gss-tag-li"><a class="gss-tag-link" data-tag="tag_personal" title="#ПЕРСОНАЛ" href="javascript:void(0);">#ПЕРСОНАЛ</a></li>
                                <li class="gss-tag-li"><a class="gss-tag-link" data-tag="tag_uvelicheniepribyli" title="#УВЕЛИЧЕНИЕПРИБЫЛИ" href="javascript:void(0);">#УВЕЛИЧЕНИЕПРИБЫЛИ</a></li>
                                <li class="gss-tag-li"><a class="gss-tag-link" data-tag="tag_otkrytierestorana" title="#ОТКРЫТИЕРЕСТОРАНА" href="javascript:void(0);">#ОТКРЫТИЕРЕСТОРАНА</a></li>
                                <li class="gss-tag-li"><a class="gss-tag-link" data-tag="tag_krizisnoeupravlenie" title="#КРИЗИСНОЕУПРАВЛЕНИЕ" href="javascript:void(0);">#КРИЗИСНОЕУПРАВЛЕНИЕ</a></li>
                                <li class="gss-tag-li"><a class="gss-tag-link" data-tag="tag_zakony" title="#ЗАКОНЫ" href="javascript:void(0);">#ЗАКОНЫ</a></li>
                                <li class="gss-tag-li"><a class="gss-tag-link" data-tag="tag_nalogi" title="#НАЛОГИ" href="javascript:void(0);">#НАЛОГИ</a></li>
                                <li class="gss-tag-li"><a class="gss-tag-link" data-tag="tag_keytering" title="#КЕЙТЕРИНГ" href="javascript:void(0);">#КЕЙТЕРИНГ</a></li>
                                <li class="gss-tag-li"><a class="gss-tag-link" data-tag="tag_dostavka" title="#ДОСТАВКА" href="javascript:void(0);">#ДОСТАВКА</a></li>
                                <li class="gss-tag-li"><a class="gss-tag-link" data-tag="tag_bezopasnost" title="#БЕЗОПАСНОСТЬ" href="javascript:void(0);">#БЕЗОПАСНОСТЬ</a></li>
                                <li class="gss-tag-li"><a class="gss-tag-link" data-tag="tag_sanitariya" title="#САНИТАРИЯ" href="javascript:void(0);">#САНИТАРИЯ</a></li>
                                <li class="gss-tag-li"><a class="gss-tag-link" data-tag="tag_proverki" title="#ПРОВЕРКИ" href="javascript:void(0);">#ПРОВЕРКИ</a></li>
                                <li class="gss-tag-li"><a class="gss-tag-link" data-tag="tag_haccp" title="#HACCP" href="javascript:void(0);">#HACCP</a></li>
                                <li class="gss-tag-li"><a class="gss-tag-link" data-tag="tag_motivaciya" title="#МОТИВАЦИЯ" href="javascript:void(0);">#МОТИВАЦИЯ</a></li>
                                <li class="gss-tag-li"><a class="gss-tag-link" data-tag="tag_komanda" title="#КОМАНДА" href="javascript:void(0);">#КОМАНДА</a></li>
                                <li class="gss-tag-li"><a class="gss-tag-link" data-tag="tag_finansy" title="#ФИНАНСЫ" href="javascript:void(0);">#ФИНАНСЫ</a></li>
                                <li class="gss-tag-li"><a class="gss-tag-link" data-tag="tag_rekruting" title="#РЕКРУТИНГ" href="javascript:void(0);">#РЕКРУТИНГ</a></li>
                                <li class="gss-tag-li"><a class="gss-tag-link" data-tag="tag_smm" title="#SMM" href="javascript:void(0);">#SMM</a></li>
                                <li class="gss-tag-li"><a class="gss-tag-link" data-tag="tag_zakupki" title="#ЗАКУПКИ" href="javascript:void(0);">#ЗАКУПКИ</a></li>
                                <li class="gss-tag-li"><a class="gss-tag-link" data-tag="tag_postavshchiki" title="#ПОСТАВЩИКИ" href="javascript:void(0);">#ПОСТАВЩИКИ</a></li>
                                <li class="gss-tag-li"><a class="gss-tag-link" data-tag="tag_dokumentooborot" title="#ДОКУМЕНТООБОРОТ" href="javascript:void(0);">#ДОКУМЕНТООБОРОТ</a></li>
                                <li class="gss-tag-li"><a class="gss-tag-link" data-tag="tag_oborudovanie" title="#ОБОРУДОВАНИЕ" href="javascript:void(0);">#ОБОРУДОВАНИЕ</a></li>
                                <li class="gss-tag-li"><a class="gss-tag-link" data-tag="tag_startap" title="#СТАРТАП" href="javascript:void(0);">#СТАРТАП</a></li>
                                <li class="gss-tag-li"><a class="gss-tag-link" data-tag="tag_sebestoimost" title="#СЕБЕСТОИМОСТЬ" href="javascript:void(0);">#СЕБЕСТОИМОСТЬ</a></li>
                                <li class="gss-tag-li"><a class="gss-tag-link" data-tag="tag_menyu" title="#МЕНЮ" href="javascript:void(0);">#МЕНЮ</a></li>
                                <li class="gss-tag-li"><a class="gss-tag-link" data-tag="tag_dizayn" title="#ДИЗАЙН" href="javascript:void(0);">#ДИЗАЙН</a></li>
                                <li class="gss-tag-li"><a class="gss-tag-link" data-tag="tag_pr" title="#PR" href="javascript:void(0);">#PR</a></li>
                                <li class="gss-tag-li"><a class="gss-tag-link" data-tag="tag_loyalnostgostey" title="#ЛОЯЛЬНОСТЬГОСТЕЙ" href="javascript:void(0);">#ЛОЯЛЬНОСТЬГОСТЕЙ</a></li>
                                <li class="gss-tag-li"><a class="gss-tag-link" data-tag="tag_koncepciyarestorana" title="#КОНЦЕПЦИЯРЕСТОРАНА" href="javascript:void(0);">#КОНЦЕПЦИЯРЕСТОРАНА</a></li>
                                <li class="gss-tag-li"><a class="gss-tag-link" data-tag="tag_franchayzing" title="#ФРАНЧАЙЗИНГ" href="javascript:void(0);">#ФРАНЧАЙЗИНГ</a></li>
                                <li class="gss-tag-li"><a class="gss-tag-link" data-tag="tag_patent" title="#ПАТЕНТ" href="javascript:void(0);">#ПАТЕНТ</a></li>
                                <li class="gss-tag-li"><a class="gss-tag-link" data-tag="tag_upravlyayushchayakompaniya" title="#УПРАВЛЯЮЩАЯКОМПАНИЯ" href="javascript:void(0);">#УПРАВЛЯЮЩАЯКОМПАНИЯ</a></li>
                                <li class="gss-tag-li"><a class="gss-tag-link" data-tag="tag_fudmarket" title="#ФУДМАРКЕТ" href="javascript:void(0);">#ФУДМАРКЕТ</a></li>
                                <li class="gss-tag-li"><a class="gss-tag-link" data-tag="tag_digital" title="#DIGITAL" href="javascript:void(0);">#DIGITAL</a></li>
                                <li class="gss-tag-li"><a class="gss-tag-link" data-tag="tag_investitsii" title="#ИНВЕСТИЦИИ" href="javascript:void(0);">#ИНВЕСТИЦИИ</a></li>
                                <li class="gss-tag-li"><a class="gss-tag-link" data-tag="tag_tovarnyyznak" title="#ТОВАРНЫЙЗНАК" href="javascript:void(0);">#ТОВАРНЫЙЗНАК</a></li>
                                <li class="gss-tag-li"><a class="gss-tag-link" data-tag="tag_sanpin" title="#САНПИН" href="javascript:void(0);">#САНПИН</a></li>
                                <li class="gss-tag-li"><a class="gss-tag-link" data-tag="tag_strategiya" title="#СТРАТЕГИЯ" href="javascript:void(0);">#СТРАТЕГИЯ</a></li>
                                <li class="gss-tag-li"><a class="gss-tag-link" data-tag="tag_razvitie" title="#РАЗВИТИЕ" href="javascript:void(0);">#РАЗВИТИЕ</a></li>
                            </ul>
                        </div>
                        <div class="tab-dates">
                            <a href="#" data-date="all" class="active">##allDays##</a>
                            <a href="#" data-date="01" class="">{if $lang == 'en'}June 01st{else}01 июня{/if}</a>
                            <a href="#" data-date="02" class="">{if $lang == 'en'}June 02st{else}02 июня{/if}</a>
                            <a href="#" data-date="03" class="">{if $lang == 'en'}June 03st{else}03 июня{/if}</a>
                            <a href="#" data-date="04" class="">{if $lang == 'en'}June 04st{else}04 июня{/if}</a>
                            <a href="#" data-date="05" class="">{if $lang == 'en'}June 05st{else}05 июня{/if}</a>
                        </div>
                    </div>
                    <div class="container schedule-table">
                    {foreach from=$this.products item=product name=productloop}
                        {if $product->areaId != 1 && $product->areaId != 17 && $product->areaId != 10 && $product->areaId != 15 && $product->areaId != 18}
                            {assign var=placeid value=$product->placeId}
                            {assign var=speakerid value=$product->speakerId}
                            {assign var=speaker value=$this.speakers.$speakerid}
                            {assign var=speaker2id value=$product->speaker2Id}
                            {assign var=speaker2 value=$this.speakers.$speaker2id}
                            {assign var=speaker3id value=$product->speaker3Id}
                            {assign var=speaker3 value=$this.speakers.$speaker3id}
                            {assign var=speaker4id value=$product->speaker4Id}
                            {assign var=speaker4 value=$this.speakers.$speaker4id}
                            {assign var=speaker5id value=$product->speaker5Id}
                            {assign var=speaker5 value=$this.speakers.$speaker5id}
                            {assign var=speaker6id value=$product->speaker6Id}
                            {assign var=speaker6 value=$this.speakers.$speaker6id}

                            <div class="row block-body{$product->tags|tagtocssclass}{if $product->price > 0} t_buy{/if}{if $product->id|inticket:1} t_tourist{/if}{if $product->id|inticket:2} t_chefs{/if}{if $product->id|inticket:3} t_profi{/if}{if $product->id|inticket:4} t_barstreet{/if}{if $product->id|inticket:5} t_king{/if}{if $product->id|inticket:8} t_rebro{/if}{if $product->id|inticket:10} t_pizzastreet{/if}{if $product->id|inticket:14} t_fun{/if} row-date-{$product->eventTsStart|dateformat:'d'}">
                                <div class="col-md-12">
                                    <div id="gss-tag-id-{$product->id}" class="row gss-tag-tr">
                                        <div class="col-md-2 td c-time d-none d-md-block d-lg-block d-xl-block">
                                            {if $product->eventTsStart|dateformat:'H' == '00' && $product->eventTsFinish|dateformat:'H' == '00'}
                                                {if $lang == 'en'}Time to be confirmed{else}Время уточняется{/if}
                                            {else}
                                                <b>{$product->eventTsStart|dateformat:'d F'}</b>
                                                <div>{$product->eventTsStart|dateformat:'H:i'}&nbsp;—&nbsp;{$product->eventTsFinish|dateformat:'H:i'}</div>
                                            {/if}
                                        </div>
                                        <div class="col-8 col-md-3 td c-title  br-none">
                                            <div class="schedule-icon">
                                                {if $this.showcal}
                                                <a href="/calendar.php?id={$product->id}" title="Добавить в календарь">
                                                    <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
                                                </a>
                                                {/if}
                                                <a href="#" class="d-none" title="Добавить в избранное">
                                                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                            {if $product->youtube}
                                                {assign var=modalLink value=$product->youtube}
                                            {else}
                                                {if $product->pic1}
                                                    {assign var=modalLink value=$product->pic1|getproductpic}
                                                {else}
                                                    {assign var=modalLink value=$product->speakerId|isspeakerpicpic}
                                                {/if}
                                            {/if}
                                            <div class="street-label">{$product->tags|tagformat}</div>
                                            <div class="speaker">
                                                {if $speaker}
                                                    <div class="desc">
                                                        <span><a href="#" data-speaker-id="{$speakerid}">{$speaker.name} {$speaker.secondName}</a></span>
                                                        <div>{if $speaker.company}{$speaker.company},<br> {/if}{$speaker.cityName}</div>
                                                    </div>
                                                {else}
                                                    <div class="desc">
                                                        <span><a href="#" onclick="return false">{$product->firstName} {$product->secondName}</a></span>
                                                        <div>{if $product->company}{$product->company},<br> {/if}{$product->cityName}</div>
                                                    </div>
                                                {/if}
                                                {if $speaker2}
                                                    <div class="gss-margintop5 desc">
                                                        <span><a href="#" data-speaker-id="{$speaker2id}">{$speaker2.name} {$speaker2.secondName}</a></span>
                                                        <div>{$speaker2.company}{if $speaker2.company},<br> {/if}{if $speaker2.cityName}{$speaker2.cityName}{/if}</div>
                                                    </div>
                                                {/if}
                                                {if $speaker3}
                                                    <div class="gss-margintop5 desc">
                                                        <span><a href="#" data-speaker-id="{$speaker3id}">{$speaker3.name} {$speaker3.secondName}</a></span>
                                                        <div>{$speaker3.company}{if $speaker3.company},<br> {/if}{if $speaker3.cityName}{$speaker3.cityName}{/if}</div>
                                                    </div>
                                                {/if}
                                                {if $speaker4}
                                                    <div class="gss-margintop5 desc">
                                                        <span><a href="#" data-speaker-id="{$speaker4id}">{$speaker4.name} {$speaker4.secondName}</a></span>
                                                        <div>{$speaker4.company}{if $speaker4.company},<br> {/if}{if $speaker4.cityName}{$speaker4.cityName}{/if}</div>
                                                    </div>
                                                {/if}
                                                {if $speaker5}
                                                    <div class="gss-margintop5 desc">
                                                        <span><a href="#" data-speaker-id="{$speaker5id}">{$speaker5.name} {$speaker5.secondName}</a></span>
                                                        <div>{$speaker5.company}{if $speaker5.company},<br> {/if}{if $speaker5.cityName}{$speaker5.cityName}{/if}</div>
                                                    </div>
                                                {/if}
                                                {if $speaker6}
                                                    <div class="gss-margintop5 desc">
                                                        <span><a href="#" data-speaker-id="{$speaker6id}">{$speaker6.name} {$speaker6.secondName}</a></span>
                                                        <div>{$speaker6.company}{if $speaker6.company},<br> {/if}{if $speaker6.cityName}{$speaker6.cityName}{/if}</div>
                                                    </div>
                                                {/if}
                                            </div>
                                            {if $speaker.partner_id && $product->areaId != 4 && $product->areaId != 14}
                                            <div class="speaker-img d-none d-lg-block d-md-block d-sm-block" style="background-image:url('/images/parthners/resized/{$speaker.partner_id}.png?v=1554463230');background-position:bottom 5px right 0;background-size:80%;"></div>
                                            {/if}
                                            <div class="speaker-img d-lg-none d-md-none d-sm-none" style="background-image: url('{$modalLink}');"></div>
                                        </div>
                                        <div class="col-md-1 td c-title d-none d-lg-block d-md-block d-sm-block">
                                            <div class="speaker-img" style="background-image: url('{$modalLink}');"></div>
                                        </div>
                                        <div class="col-4 td c-place d-lg-none d-md-none d-sm-none">
                                            {if $product->eventTsStart|dateformat:'H' == '00' && $product->eventTsFinish|dateformat:'H' == '00'}
                                                {if $lang == 'en'}Time to be confirmed{else}Время уточняется{/if}
                                            {else}
                                                <b>{$product->eventTsStart|dateformat:'d F'}</b>
                                                <div>{$product->eventTsStart|dateformat:'H:i'}&nbsp;—&nbsp;{$product->eventTsFinish|dateformat:'H:i'}</div>
                                            {/if}
                                            <div class="street-logo{$product->tags|tagtocssclass|escape}"></div>
                                            <div>{$this.plmArray.$placeid}</div>
                                        </div>
                                        <div class="col-8 col-md-3 td c-title">
                                            <div class="mk-format"><span>{if $product->tag_desc}{$product->tag_desc}{else}{$product->tags|tag2desc}{/if}</span></div>
                                            <div class="row m-0">
                                            <div class="col-9 col-md-12 p-0 pr-2 title">
                                                {if $product->description}
                                                <a href="#"
                                                   data-toggle="modal"
                                                   data-target="#mk-modal"
                                                   data-type="{if $product->youtube}video{else}image{/if}"
                                                   data-partner="{$product->partner_id|ispartnerpic:'_b'}"
                                                   data-name="{$product->firstName}"
                                                   data-second-name="{$product->secondName}"
                                                   data-company="{$product->company}"
                                                   data-city-name="{$product->cityName}"
                                                   data-desc="{$product->description|dbtexttohtml|escape}"
                                                   data-flag="{$speaker->country}"
                                                   data-format="{if $product->tag_desc}{$product->tag_desc}{else}{$product->tags|tag2desc}{/if}"
                                                   data-tags="{$product->tags|tagtocssclass|escape}"
                                                   data-link="{$modalLink}"
                                                   data-title="{$product->name|dbtexttohtml|strip_tags}"> {$product->name|dbtexttohtml}</a>
                                                {else}
                                                <span> {$product->name|dbtexttohtml}</span>
                                                {/if}
                                            </div>
                                            <div class="col-3 p-0 td c-title d-lg-none d-md-none d-sm-none">
                                                {if $speaker.partner_id && $product->areaId != 4 && $product->areaId != 14}
                                                <img src="/images/parthners/resized/{$speaker.partner_id}.png?v=1554463230" class="img-fluid">
                                                {/if}
                                            </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1 col-xs-12 td c-place d-none d-lg-block d-md-block d-sm-block">
                                            <div class="street-logo{$product->tags|tagtocssclass|escape}"></div>
                                            <div>{$this.plmArray.$placeid}</div>
                                        </div>
                                        <div class="col-4 col-md-2 col-xs-12 td td-cart">
                                            <div class="badge-ticket {if $product->id|inticket:3}active{/if}">ПРОФИ</div>
                                            <div class="badge-ticket {if $product->id|inticket:2}active{/if}">ШЕФСКИЙ</div>
                                            <div class="badge-ticket {if $product->id|inticket:1}active{/if}">СПУТНИК</div>
                                            <div class="badge-ticket {if $product->id|inticket:4}active{/if}">BARSTREET</div>
                                            <div class="badge-ticket {if $product->id|inticket:5}active{/if}">КАК КОРОЛЬ</div>
                                            <div class="badge-ticket {if $product->id|inticket:8}active{/if}">REBRO</div>
                                            {assign var=canShowButton value=1}
                                            {if $this.includedProductIds}
                                                {foreach from=$this.includedProductIds item=includedProductId}
                                                    {if $includedProductId == $product->id}
                                                        {assign var=canShowButton value=0}
                                                    {/if}
                                                {/foreach}
                                            {/if}
                                            {if $this.ts < $product->eventTsFinish && $product->leftCount > 0 && !$this.productId}
                                            <div class="mt-2">
                                                <a href="#" class="buy-product-click-pc btn-cart" data-id="{$product->id}" data-night="false" id="buy-product-pc-{$product->id}" title="##buy##">{if $product->price}<i class="fa fa-shopping-cart" aria-hidden="true"></i> {$product->price|round0} ₽{/if}</a>
                                                <div class="cart-count">{if $product->maxCount == '-'}—{else}Осталось {$product->leftCount} мест{/if}</div>
                                                </div>
                                            {/if}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {/if}
                    {/foreach}
                    </div>

                {if $this.productId}
                    <div class="container padding-top-bottom-10">
                        <input type="submit" value="##replace##"/>
                    </div>
                </form>
                {/if}
                <div class="modal fade" id="mk-modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-md" role="document">
                        <div class="modal-content popover-win">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="##close##"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <div class="mk-teaser"></div>
                                <div class="mk-format"><span></span></div>
                                <p class="title"></p>
                                <div class="desc"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="speaker-modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-md" role="document">
                        <div class="modal-content popover-win">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="##close##"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                
                            </div>
                        </div>
                    </div>
                </div>
            {/if}
        </div>
    </div>
</div>
