{assign var=this value=$SpeakerControl}

<div class="jumbotron-blank">
    <div class="l-container">
        <div class="content">
            <ul class="breadcrumbs">
                <li><a href="/">Главная</a></li>
                <li><a href="{link show=speakers}">Спикеры</a></li>
                <li><span>Борис Акимов</span></li>
            </ul>
            <div class="socials social-operations has-shadow">{control name=Avatarlink}</div>
        </div>
    </div>
</div>
{assign var=isimgspeaker value=$this.spmObj->id|isspeakerpicpic}
<div class="l-container">
    <article class="speaker-card">
        {if $isimgspeaker}<figure class="thumb"><img src="/images/speackers/resized/{$this.spmObj->id}.jpg?v={$this.spmObj->tsUpdated}" /></figure>{else}<figure class="thumb"><img class="photo" src="/images/gss/speaker.jpg" /></figure>{/if}
        <h1 class="page-headline">{$this.spmObj->name}<br/>{$this.spmObj->secondName}</h1>
        <div class="text-excerpt">{$this.spmObj->position|dbtexttohtml}{if $this.spmObj->company}{if $this.spmObj->position} {/if}{$this.spmObj->company}{/if}{if $this.spmObj->cityName}{if $this.spmObj->company || $this.spmObj->position}<!--, -->{/if}<!--{$this.spmObj->cityName}-->{/if}</div>
        <div class="textblock">
            {$this.spmObj->description|dbtexttohtml}<br/>
            {if $this.spmObj->facebook}<p><a href="{$this.spmObj->facebook}" target="_blank">Страница спикера на Facebook</a></p>{/if}
            {if $this.spmObj->vk}<p><a href="{$this.spmObj->vk}" target="_blank">Страница спикера в VK</a></p>{/if}
            {if $this.spmObj->instagram}<p><a href="{$this.spmObj->instagram}" target="_blank">Страница спикера в Instagram</a></p>{/if}
            {if $this.spmObj->twitter}<p><a href="{$this.spmObj->twitter}" target="_blank">Twitter</a></p>{/if}
        </div>
    </article>
</div>

{if $this.spmList}
<section class="page-section">
    <div class="l-container">
        <h2 class="section-headline">Спикеры</h2>
        <div class="speakers-carousel js-speakers-carousel">
            <ul class="owl-carousel owl-theme carousel js-carousel">
                {foreach from=$this.spmList item=speaker}
                    {assign var=isimgspeaker value=$speaker->id|isspeakerpicpic}
                    <li><a class="person-teaser js-popover" href="#popover-win-{$speaker->id}" data-popover="#popover-win-{$speaker->id}">{if $isimgspeaker}<img class="photo" src="/images/speackers/resized/{$speaker->id}.jpg?v={$speaker->tsUpdated}" />{else}<img class="photo" src="/images/gss/speaker.jpg" />{/if}
                        <div class="about">
                            <p class="name">{$speaker->name}<br/>{$speaker->secondName}</p>
                            <p class="job">{$speaker->company}{if $speaker->cityName}<br/>{$speaker->cityName}{/if}</p>
                        </div></a>
                    </li>
                {/foreach}
            </ul>
                {foreach from=$this.spmList item=speaker}
                    {assign var=isimgspeaker value=$speaker->id|isspeakerpicpic}
                    <div class="modal fade" id="popover-win-{$speaker->id}" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="popover-win"><span class="close" data-dismiss="modal">&times</span>
                                    <figure class="thumb">{if $isimgspeaker}<img src="/images/speackers/resized/{$speaker->id}.jpg?v={$speaker->tsUpdated}">{else}<img src="/images/gss/speaker.jpg">{/if}</figure>
                                    <p class="title">{$speaker->name}<br/>{$speaker->secondName}</p>
                                    <div class="desc">
                                        <p>{$speaker->company}{if $speaker->cityName}<br/>{$speaker->cityName}{/if}{if $speaker->position}<br/><br/>{$speaker->position|dbtexttohtml}{/if}</p>
                                        <p>{$speaker->description|dbtexttohtml}</p>
                                        {if $speaker->facebook}<p><a href="{$speaker->facebook}" target="_blank">Страница спикера на Facebook</a></p>{/if}
                                        {if $speaker->vk}<p><a href="{$speaker->vk}" target="_blank">Страница спикера в VK</a></p>{/if}
                                        {if $speaker->instagram}<p><a href="{$speaker->instagram}" target="_blank">Страница спикера в Instagram</a></p>{/if}
                                        {if $speaker->twitter}<p><a href="{$speaker->twitter}" target="_blank">Twitter</a></p>{/if}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {/foreach}
            <div class="controls">
                <div class="dots js-dots-speakers">&nbsp;</div>
                <div class="more"><a class="more-link has-icon-right" href="{link show=speakers}"><span>Посмотреть всех спикеров</span></a></div>
            </div>
        </div>
    </div>
</section>
{/if}
