<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<div class="l-container">
    <div class="page-container" id="page-container">
        <div class="l-row">
            <div class="l-col-lgm-6">
                <div class="page-container-image" id="page-container-image">
                    <picture>
                        <source srcset="content/page-place.jpg" media="(min-width: 1200px)"></source>
                        <img src="content/page-place-m.jpg" alt=""/></picture>
                    <div class="socials-area">
                        <div class="social-operations">{control name=Avatarlink}</div>
                    </div>
                </div>
            </div>
            <div class="l-col-lgm-6">
                <div class="page-container-inner" id="page-container-inner">
                    <ul class="breadcrumbs">
                        <li><a href="/">Главная</a></li>
                        <li><span>Место</span></li>
                    </ul>
                    <h1 class="page-headline">Welcome to Gastreet City!</h1>
                    <div class="textblock">
                        <p>В этом году Gastreet City займет весь курорт &quot;Горки Город&quot; уровни 540 и 960!</p>
                        <p>Как забронировать отель?</p>
                        <ol>
                            <li>Оплатить участие в Gastreet</li>
                            <li>Получить свой билет и купон для бронирования отеля</li>
                            <li>Отправить купон в понравившийся отель, забронировать и оплатить
                                номер!&nbsp;</li>
                        </ol>
                        <p>В этом году свои двери для гастритовцев откроют 10 отелей (все отели)
                            курорта!&nbsp;</p>
                    </div>
                    <div class="spoiler js-spoiler">
                        <div class="spoiler-head js-spoiler-head"><span class="mark">&nbsp;</span><span
                                class="title">Solis Dolina 960 4*</span></div>

                        <div class="spoiler-body js-spoiler-body">
                            <div class="page-subsection">
                                <div class="spoiler js-spoiler">
                                    <div class="spoiler-body js-spoiler-body">
                                        <div class="js-videos-gallery"><a class="video-link js-video-item"
                                                                          href="https://www.youtube.com/watch?v=mbK8KUDA8eg"><img
                                                src="content/hotel.jpg" alt=""/><span class="title"><span>Смотрите видео об отеле</span></span></a>
                                        </div>
                                        <p>Официальный отель Gastreetshow.</p>
                                        <p>Отель для самых взыскательных гастритовцев, приезжающих с семьей или
                                            друзьями. Расположен в самом сердце Gastreet City</p>
                                        <p>Стоимость проживания для участников Gastreet:</p>
                                        <ul>
                                            <li>Однометсное размещение - 5 500 руб.</li>
                                            <li>Двухместное размещение - 6 500 руб.</li>
                                            <li>Семейные и другие варианты размещение обсуждаются отдельно по
                                                нижеукащанным телефонам.
                                            </li>
                                        </ul>
                                        <p>Завтрак и SPA отеля RIXOS включены в стоимость проживания.</p>
                                        <p>БРОНИРОВАНИЕ<br/>
                                            По телефону: +7 (862) 2455220<br/>
                                            E-mail: reservations@sbcc.ru</p>
                                    </div>
                                </div>
                                <div class="spoiler js-spoiler">
                                    <div class="spoiler-head js-spoiler-head"><span class="mark">&nbsp;</span><span
                                            class="title">Solis Dolina 960 4*</span></div>

                                    <div class="spoiler-body js-spoiler-body">
                                        <div class="js-videos-gallery"><a class="video-link js-video-item"
                                                                          href="https://www.youtube.com/watch?v=mbK8KUDA8eg"><img
                                                src="content/hotel.jpg" alt=""/><span class="title"><span>Смотрите видео об отеле</span></span></a>
                                        </div>
                                        <p>Официальный отель Gastreetshow.</p>
                                        <p>Отель для самых взыскательных гастритовцев, приезжающих с семьей или
                                            друзьями. Спа-комплекс, рестораны и потрясающий вид на горы. В отеле не
                                            проходит программа фестиваля, он идеален для уютного отдыха, а до всех
                                            площадок рукой подать!</p>
                                        <p>Стоимость проживания для участников Gastreet:<br/>
                                            Одноместный номер Делюкс - 4 500 руб.<br/>
                                            Двухместный номер Делюкс - 5 500 руб.<br/>
                                            Одноместный номер Люкс - 9 500 руб.<br/>
                                            Двухместный номер Люкс - 10 500 руб.</p>
                                        <p>Завтрак включен в стоимость проживания.</p>
                                        <p>БРОНИРОВАНИЕ<br/>
                                            По телефону: +7 (862) 245 55 00<br/>
                                            На сайте<br/>
                                            E-mail: reservations.sochi@solishotels.com</p>
                                    </div>
                                </div>
                                <div class="spoiler js-spoiler">
                                    <div class="spoiler-head js-spoiler-head"><span class="mark">&nbsp;</span><span
                                            class="title">Горки Арт 4*</span></div>
                                    <div class="spoiler-body js-spoiler-body">
                                        <div class="js-videos-gallery"><a class="video-link js-video-item"
                                                                          href="https://www.youtube.com/watch?v=mbK8KUDA8eg"><img
                                                src="content/hotel.jpg" alt=""/><span class="title"><span>Смотрите видео об отеле</span></span></a>
                                        </div>
                                        <p>Официальный отель Gastreetshow.</p>
                                        <p>Отель для самых взыскательных гастритовцев, приезжающих с семьей или
                                            друзьями. Спа-комплекс, рестораны и потрясающий вид на горы. В отеле не
                                            проходит программа фестиваля, он идеален для уютного отдыха, а до всех
                                            площадок рукой подать!</p>
                                        <p>Стоимость проживания для участников Gastreet:<br/>
                                            Одноместный номер Делюкс - 4 500 руб.<br/>
                                            Двухместный номер Делюкс - 5 500 руб.<br/>
                                            Одноместный номер Люкс - 9 500 руб.<br/>
                                            Двухместный номер Люкс - 10 500 руб.</p>
                                        <p>Завтрак включен в стоимость проживания.</p>
                                        <p>БРОНИРОВАНИЕ<br/>
                                            По телефону: +7 (862) 245 55 00<br/>
                                            На сайте<br/>
                                            E-mail: reservations.sochi@solishotels.com</p>
                                    </div>
                                </div>
                                <div class="spoiler js-spoiler">
                                    <div class="spoiler-head js-spoiler-head"><span class="mark">&nbsp;</span><span
                                            class="title">Solis Suits 5* </span></div>
                                    <div class="spoiler-body js-spoiler-body">
                                        <div class="js-videos-gallery"><a class="video-link js-video-item"
                                                                          href="https://www.youtube.com/watch?v=mbK8KUDA8eg"><img
                                                src="content/hotel.jpg" alt=""/><span class="title"><span>Смотрите видео об отеле</span></span></a>
                                        </div>
                                        <p>Официальный отель Gastreetshow.</p>
                                        <p>Отель для самых взыскательных гастритовцев, приезжающих с семьей или
                                            друзьями. Спа-комплекс, рестораны и потрясающий вид на горы. В отеле не
                                            проходит программа фестиваля, он идеален для уютного отдыха, а до всех
                                            площадок рукой подать!</p>
                                        <p>Стоимость проживания для участников Gastreet:<br/>
                                            Одноместный номер Делюкс - 4 500 руб.<br/>
                                            Двухместный номер Делюкс - 5 500 руб.<br/>
                                            Одноместный номер Люкс - 9 500 руб.<br/>
                                            Двухместный номер Люкс - 10 500 руб.</p>
                                        <p>Завтрак включен в стоимость проживания.</p>
                                        <p>БРОНИРОВАНИЕ<br/>
                                            По телефону: +7 (862) 245 55 00<br/>
                                            На сайте<br/>
                                            E-mail: reservations.sochi@solishotels.com</p>
                                    </div>
                                </div>
                            </div>


                </div>
            </div>
        </div>
        <div class="stick-to-footer l-container">
            <div class="gastreet-map"><img src="content/gastreet-map.jpg" alt=""/></div>
        </div>
        <p>&nbsp;</p>
    </div>
</div>

</body>
</html>