<div class="l-container">
    <div class="page-container" id="page-container">
        <div class="l-row">
            <div class="l-col-lgm-6">
                <div class="page-container-image" id="page-container-image">
                    <picture>                         <source srcset="content/page-contacts.jpg" media="(min-width: 1200px)"></source>                         <img src="content/page-contacts-m.jpg" alt="" /></picture>
                    <div class="socials-area">
                        <div class="social-operations"><a class="text" href="#">Сделать аватар</a><a class="instagram" href="#">Instagram</a><a class="facebook" href="#">Facebook</a></div>
                    </div>
                </div>
            </div>
            <div class="l-col-lgm-6">
                <div class="page-container-inner" id="page-container-inner">
                    <ul class="breadcrumbs">
                        <li><a href="/">Главная</a></li>
                        <li><span>Контакты</span></li>
                    </ul>
                    <h1 class="page-headline">Контакты</h1>
                    <div class="l-rowset">
                        <div class="l-row">
                            <div class="l-col-tbl-4 l-as-row">
                                <div class="contacts-teaser">
                                    <p class="title">Регистрация<br />
                                        и оплата</p>
                                    <a class="thumb" href="#"><img class="photo" src="content/person.jpg" alt="" /></a>
                                    <div class="desc">
                                        <p class="name">Аня Бабаева</p>
                                        <div class="info">
                                            <p>ticket@gastreet.com</p>
                                            <p>8 967 696-99-20</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="l-col-tbl-4 l-as-row">
                                <div class="contacts-teaser">
                                    <p class="title">Спонсоры<br />
                                        и партнеры</p>
                                    <a class="thumb" href="#"><img class="photo" src="content/person.jpg" alt="" /></a>
                                    <div class="desc">
                                        <p class="name">Лиза Бурова</p>
                                        <div class="info">
                                            <p>sos@gastreet.com</p>
                                            <p>8 967 696-90-20</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="l-col-tbl-4 l-as-row">
                                <div class="contacts-teaser">
                                    <p class="title">PR, маркетинг,<br />
                                        продвижение</p>
                                    <a class="thumb" href="#"><img class="photo" src="content/person.jpg" alt="" /></a>
                                    <div class="desc">
                                        <p class="name">Катя Моисеева</p>
                                        <div class="info">
                                            <p>pr@gastreet.com</p>
                                            <p>8 967 696-96-60</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="l-col-tbl-4 l-as-row">
                                <div class="contacts-teaser">
                                    <p class="title">Операционный<br />
                                        директор</p>
                                    <a class="thumb" href="#"><img class="photo" src="content/person.jpg" alt="" /></a>
                                    <div class="desc">
                                        <p class="name">Аня Бахтиярова</p>
                                        <div class="info">
                                            <p>event@bsone.ru</p>
                                            <p>8 967 69-69-130</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="l-col-tbl-4 l-as-row">
                                <div class="contacts-teaser">
                                    <p class="title">Генеральный<br />
                                        продюсер</p>
                                    <a class="thumb" href="#"><img class="photo" src="content/person.jpg" alt="" /></a>
                                    <div class="desc">
                                        <p class="name">Женя Суфиянова</p>
                                        <div class="info">
                                            <p>es@bsone.ru</p>
                                            <p>8 967 696-90-00</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="l-col-tbl-4 l-as-row">
                                <div class="contacts-teaser">
                                    <p class="title">Программный<br />
                                        директор</p>
                                    <a class="thumb" href="#"><img class="photo" src="content/person.jpg" alt="" /></a>
                                    <div class="desc">
                                        <p class="name">Олеся Семерня</p>
                                        <div class="info">
                                            <p>zavuch@gastreet.com</p>
                                            <p>8 967 696-99-70</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>