<!DOCTYPE html>
<html class="no-js" lang="ru">
<head>

</head>
<body>

<div class="l-container">
    <div class="page-container" id="page-container">
        <div class="l-row">
            <div class="l-col-lgm-6">
                <div class="page-container-image" id="page-container-image">
                    <picture>
                        <source srcset="content/page-place.jpg" media="(min-width: 1200px)"></source>
                        <img src="content/page-place-m.jpg" alt=""/></picture>
                    <div class="socials-area">
                        <div class="social-operations"><a class="text" href="#">Сделать аватар</a><a class="instagram"
                                                                                                     href="#">Instagram</a><a
                                class="facebook" href="#">Facebook</a></div>
                    </div>
                </div>
            </div>
            <div class="l-col-lgm-6">
                <div class="page-container-inner" id="page-container-inner">
                    <ul class="breadcrumbs">
                        <li><a href="/">Главная</a></li>
                        <li><span>Место</span></li>
                    </ul>
                    <h1 class="page-headline">Gastreet City!</h1>
                    <div class="textblock">
                        <p>В этом году Gastreet City займет весь курорт &quot;Горки Город&quot; уровни 540 и 960!</p>
                        <p>Как забронировать отель?</p>
                        <ol>
                            <li>Оплатить участие в Gastreet</li>
                            <li>Получить свой билет и купон для бронирования отеля</li>
                            <li>Отправить купон в понравившийся отель, забронировать и оплатить номер!&nbsp;</li>
                        </ol>
                        <p>В этом году свои двери для гастритовцев откроют 10 отелей, то есть абсолютно&nbsp;все отели
                            курорта! Выбери свой отель:</p>
                    </div>
                    <div class="page-subsection">
                        <div class="spoiler js-spoiler">
                            <div class="spoiler-head js-spoiler-head"><span class="mark">&nbsp;</span><span
                                    class="title">Корпоративный центр СБЕРБАНКА 5*</span></div>
                            <div class="spoiler-body js-spoiler-body">
                                <div class="js-videos-gallery"><a class="video-link js-video-item"
                                                                  href="https://www.youtube.com/watch?v=mbK8KUDA8eg"><img
                                        src="content/hotel.jpg" alt=""/><span class="title"><span>Смотрите видео об отеле</span></span></a>
                                </div>
                                <p>Отель для самых взыскательных гастритовцев, приезжающих с семьей или друзьями.
                                    Расположен в самом сердце Gastreet City.</p>
                                <p>Всего в отеле <strong>47 номеров</strong>.&nbsp;</p>
                                <p>Стоимость проживания для участников Gastreet:</p>
                                <ul>
                                    <li>Однометсное размещение - 5 500 руб.</li>
                                    <li>Двухместное размещение - 6 500 руб.</li>
                                    <li>Семейные и другие варианты размещение обсуждаются отдельно по нижеукащанным
                                        телефонам.
                                    </li>
                                </ul>
                                <p>Завтрак и SPA отеля RIXOS включены в стоимость проживания.</p>
                                <p><span style="color: rgb(255, 0, 0);"><strong>БРОНИРОВАНИЕ</strong></span><br/>
                                    По телефону: +7 (862) 2455220<br/>
                                    E-mail: reservations@sbcc.ru</p>
                            </div>
                            <div class="spoiler js-spoiler">
                                <div class="spoiler-head js-spoiler-head"><span class="mark">&nbsp;</span><span
                                        class="title">Solis Hotels 5*</span></div>
                                <div class="spoiler-body js-spoiler-body">
                                    <div class="js-videos-gallery"><a class="video-link js-video-item"
                                                                      href="https://www.youtube.com/watch?v=mbK8KUDA8eg"><img
                                            src="content/hotel.jpg" alt=""/><span class="title"><span>Смотрите видео об отеле</span></span></a>
                                    </div>
                                    <p>Отель для тех, кто, несмотря на насыщенную программу хочет побыть в тишине и
                                        умиротворении с видами на горы.</p>
                                    <p>Всего в отеле<strong>&nbsp;120 номеров</strong>.&nbsp;</p>
                                    <p>Стоимость проживания для участников Gastreet:</p>
                                    <ul>
                                        <li>Однометсное размещение ДеЛюкс / Люкс - 5 000 руб. / 10 000 руб.</li>
                                        <li>Двухместное размещение ДеЛюкс / Люкс - 6 000 руб. / 11 000 руб.</li>
                                        <li>Семейные и другие варианты размещение обсуждаются отдельно по нижеукащанным
                                            телефонам.
                                        </li>
                                    </ul>
                                    <p>Завтрак и SPA включены в стоимость проживания.</p>
                                    <p><span style="color: rgb(255, 0, 0);"><strong>БРОНИРОВАНИЕ</strong></span><br/>
                                        По телефону: +7 (862) 2455500 &nbsp;<br/>
                                        E-mail: reservations.sochi@solishotels.com</p>
                                </div>
                            </div>
                            <div class="spoiler js-spoiler">
                                <div class="spoiler-head js-spoiler-head"><span class="mark">&nbsp;</span><span
                                        class="title">Solis Sute 5*</span></div>
                                <div class="spoiler-body js-spoiler-body">
                                    <div class="js-videos-gallery"><a class="video-link js-video-item"
                                                                      href="https://www.youtube.com/watch?v=mbK8KUDA8eg"><img
                                            src="content/hotel.jpg" alt=""/><span class="title"><span>Смотрите видео об отеле</span></span></a>
                                    </div>
                                    <p>ОНебольшой отель на центральной улице Gastreet City товцев, приезжающих с
                                        семьей или друзьями. Расположен в самом сердце Gastreet City.</p>
                                    <p>Всего в отеле <strong>52</strong><strong>&nbsp;номеров</strong>.&nbsp;</p>
                                    <p>Стоимость проживания для участников Gastreet:</p>
                                    <ul>
                                        <li>Однометсное размещение ДеЛюкс / Люкс - 5 000 руб. / 10 000 руб.</li>
                                        <li>Двухместное размещение ДеЛюкс / Люкс - 6 000 руб. / 11 000 руб.</li>
                                        <li>Семейные и другие варианты размещение обсуждаются отдельно по
                                            нижеукащанным телефонам.
                                        </li>
                                    </ul>
                                    <p>Завтрак и SPA включены в стоимость проживания.</p>
                                    <p><span
                                            style="color: rgb(255, 0, 0);"><strong>БРОНИРОВАНИЕ</strong></span><br/>
                                        По телефону: +7 (862) 2455520<br/>
                                        E-mail: reservations.sochi@solishotels.com</p>
                                </div>
                            </div>
                            <div class="spoiler js-spoiler">
                                <div class="spoiler-head js-spoiler-head"><span class="mark">&nbsp;</span><span
                                        class="title">Dolina 960 4*</span></div>
                                <div class="spoiler-body js-spoiler-body">
                                    <div class="js-videos-gallery"><a class="video-link js-video-item"
                                                                      href="https://www.youtube.com/watch?v=mbK8KUDA8eg"><img
                                            src="content/hotel.jpg" alt=""/><span class="title"><span>Смотрите видео об отеле</span></span></a>
                                    </div>
                                    <p>Небольшой уютный отель в 2-х минутах от главной сцены.</p>
                                    <p>Всего в отеле <strong>48 номеров</strong>.&nbsp;</p>
                                    <p>Стоимость проживания для участников Gastreet:</p>
                                    <ul>
                                        <li>Однометсное размещение - 4 500 руб.</li>
                                        <li>Двухместное размещение - 5 500 руб.</li>
                                        <li>Семейные и другие варианты размещение обсуждаются отдельно по
                                            нижеукащанным телефонам.
                                        </li>
                                    </ul>
                                    <p>Завтрак и SPA включены в стоимость проживания.</p>
                                    <p><span style="color: rgb(255, 0, 0);"><strong>БРОНИРОВАНИЕ</strong></span><br/>
                                        По телефону: +7 (862) 2455220<br/>
                                        E-mail: reservations.sochi@solishotels.com&nbsp;</p>
                                </div>
                            </div>
                            <div class="spoiler js-spoiler">
                                <div class="spoiler-head js-spoiler-head"><span
                                        class="mark">&nbsp;</span><span
                                        class="title">Gorky Panorama 4*</span></div>
                                <div class="spoiler-body js-spoiler-body">
                                    <div class="js-videos-gallery"><a class="video-link js-video-item"
                                                                      href="https://www.youtube.com/watch?v=mbK8KUDA8eg"><img
                                            src="content/hotel.jpg" alt=""/><span class="title"><span>Смотрите видео об отеле</span></span></a>
                                    </div>
                                    <p>Самый большой отель курорта, и как показали опросы самый любимый
                                        отель участников. Идеальное сочетение цены и качества. Отель с самым
                                        большим лобби и прекрасным SPA.</p>
                                    <p>Всего в отеле <strong>302 номеров</strong>.&nbsp;</p>
                                    <p>Стоимость проживания для участников Gastreet:</p>
                                    <ul>
                                        <li>Однометсное размещение Srandart - 3100 руб.</li>
                                        <li>Двухместное размещение Srandart - 4 100 руб.</li>
                                        <li>Одноместное размещение Deluxe Suite - 4200&nbsp;</li>
                                        <li>Двухмесное размещение Deluxe Suite - 5200&nbsp;</li>
                                        <li>Одноместное размещение Suite Superior - 7 400</li>
                                        <li>Двухместное размещение Suite Superior - 8 400</li>
                                        <li>Семейные и другие варианты размещение обсуждаются отдельно по
                                            нижеукащанным телефонам.
                                        </li>
                                    </ul>
                                    <p>Завтрак и SPA отеля RIXOS включены в стоимость проживания.</p>
                                    <p><span
                                            style="color: rgb(255, 0, 0);"><strong>БРОНИРОВАНИЕ</strong></span><br/>
                                        По телефону: +7 (862) 2455220<br/>
                                        E-mail: reservations@sbcc.ru</p>
                                </div>
                            </div>
                            <div class="spoiler js-spoiler">
                                <div class="spoiler-head js-spoiler-head"><span
                                        class="mark">&nbsp;</span><span
                                        class="title">Gorky Grand 4*</span></div>
                                <div class="spoiler-body js-spoiler-body">
                                    <div class="js-videos-gallery"><a class="video-link js-video-item"
                                                                      href="https://www.youtube.com/watch?v=mbK8KUDA8eg"><img
                                            src="content/hotel.jpg" alt=""/><span class="title"><span>Смотрите видео об отеле</span></span></a>
                                    </div>
                                    <p>Отель на самой главной улице Gastreet City. Особенно рекомендуем
                                        эот отель шеф-поварам и их командам, так как именно там будут
                                        проходить кулинарные мастер-классы.</p>
                                    <p>Всего в отеле <strong>194 номеров</strong>.&nbsp;</p>
                                    <p>Стоимость проживания для участников Gastreet:</p>
                                    <ul>
                                        <li>Однометсное размещение Srandart - 3100 руб.</li>
                                        <li>Двухместное размещение Srandart - 4 100 руб.</li>
                                        <li>Одноместное размещение Deluxe Suite - 4200&nbsp;</li>
                                        <li>Двухмесное размещение Deluxe Suite - 5200&nbsp;</li>
                                        <li>Одноместное размещение Suite Superior - 7 400</li>
                                        <li>Двухместное размещение Suite Superior - 8 400</li>
                                        <li>Семейные и другие варианты размещение обсуждаются отдельно
                                            по нижеукащанным телефонам.
                                        </li>
                                    </ul>
                                    <p>Завтрак и SPA отеля RIXOS включены в стоимость проживания.</p>
                                    <p><span
                                            style="color: rgb(255, 0, 0);"><strong>БРОНИРОВАНИЕ</strong></span><br/>
                                        По телефону: +7 (862) 2455220<br/>
                                        E-mail: reservations@sbcc.ru</p>
                                </div>
                            </div>
                            <div class="spoiler js-spoiler">
                                <div class="spoiler-head js-spoiler-head"><span
                                        class="mark">&nbsp;</span><span class="title">Mariott 5* (уровень 540)&nbsp;</span>
                                </div>
                                <div class="spoiler-body js-spoiler-body">
                                    <div class="js-videos-gallery"><a
                                            class="video-link js-video-item"
                                            href="https://www.youtube.com/watch?v=mbK8KUDA8eg"><img
                                            src="content/hotel.jpg" alt=""/><span
                                            class="title"><span>Смотрите видео об отеле</span></span></a>
                                    </div>
                                    <p>ОШикарный отель в непосредтвенной близхости от Казино. Подъем
                                        на уровень +960 в Gastreet City бесплтано по канатной
                                        дороге.</p>
                                    <p>Всего в отеле <strong>428 номеров</strong>.&nbsp;</p>
                                    <p>Стоимость проживания для участников Gastreet:</p>
                                    <ul>
                                        <li>Однометсное размещение - 5 800 руб.</li>
                                        <li>Двухместное размещение - 6 800 руб.</li>
                                        <li>Семейные и другие варианты размещение обсуждаются
                                            отдельно по нижеукащанным телефонам.
                                        </li>
                                    </ul>
                                    <p>Завтрак и SPA отеля включены в стоимость проживания.</p>
                                    <p><span
                                            style="color: rgb(255, 0, 0);"><strong>БРОНИРОВАНИЕ</strong></span><br/>
                                        По телефону: +7 (862) 2455220<br/>
                                        E-mail: reservations@sbcc.ru</p>
                                </div>
                            </div>
                            <div class="spoiler js-spoiler">
                                <div class="spoiler-head js-spoiler-head"><span class="mark">&nbsp;</span><span
                                        class="title">Gorky Plaza 3* (уровень 540)&nbsp;</span>
                                </div>
                                <div class="spoiler-body js-spoiler-body">
                                    <div class="js-videos-gallery"><a
                                            class="video-link js-video-item"
                                            href="https://www.youtube.com/watch?v=mbK8KUDA8eg"><img
                                            src="content/hotel.jpg" alt=""/><span class="title"><span>Смотрите видео об отеле</span></span></a>
                                    </div>
                                    <p>Отель располене в непосредтсвенной близости от кантной
                                        дороги, время в пути до Gastreet City до уровня +960
                                        примерно 10 минут, поъемнник бесплатный. Всего в отеле
                                        <strong>204</strong><strong>&nbsp;номеров</strong>.&nbsp;
                                    </p>
                                    <p>Стоимость проживания для участников Gastreet:</p>
                                    <ul>
                                        <li>Однометсное размещение - 2 800 руб.</li>
                                        <li>Двухместное размещение - 3 400 руб.</li>
                                        <li>Семейные и другие варианты размещение обсуждаются
                                            отдельно по нижеукащанным телефонам.
                                        </li>
                                    </ul>
                                    <p>Завтрак включен в стоимость проживания.</p>
                                    <p><span
                                            style="color: rgb(255, 0, 0);"><strong>БРОНИРОВАНИЕ</strong></span><br/>
                                        По телефону: +7 (862) 2455220<br/>
                                        E-mail: reservations@sbcc.ru</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="stick-to-footer l-container">
            <div class="gastreet-map"><img src="content/gastreet-map.jpg" alt=""/></div>
        </div>
    </div>
</div>


</body>
</html>