{assign var=this value=$TabmenuControl}

{if $this.actor}
    <div class="topmenu-align" style="overflow: hidden; width: 100%;">
        {if $this.child}
            <div style="float: left; margin-top: 17px; margin-bottom: 3px; overflow: hidden;"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;<a href="{link show=userparticipant}" style="text-decoration: none; color: red;">{$this.child->phone|mobilephone}</a>&nbsp;&nbsp;<a href="/index.php?do=userparticipantlogout" style="color: red;"><span class="glyphicon glyphicon-log-out" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Выход"></span></a></div>
        {else}
            <div style="float: left; margin-top: 17px; margin-bottom: 3px; overflow: hidden;"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;<a href="{link show=usereditprofile id=$this.actor->id}" style="text-decoration: none;">{$this.actor->phone|mobilephone}</a>&nbsp;&nbsp;<a href="/index.php?do=logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Выход"></span></a></div>
        {/if}
        <div style="float: right;">
            {if $this.usermenu}
            <div style="float: left; margin-left: 10px; margin-top: 5px;" class="btn-group btn-group-sm">
                {foreach from=$this.usermenu item=tmitem name=trufor}
                    <button type="button" title="{$tmitem.title}" onclick="window.location.href='{$tmitem.link}'; return false;" class="btn btn-default topmenu-lnk {if $this.curPage == $tmitem.cname}active{/if}"><span>{$tmitem.name}</span></button>
                {/foreach}
            </div>
            {/if}
        </div>
    </div>
{/if}