{assign var=this value=$UserLoginControl}
{formrestore id="user-login"}

<div class="container">
    <div class="page-container has-pos-fix" id="page-container">
        <div class="row page-container-inner">
            <div class="l-col-dsk-8 l-as-row"><img class="img-responsive" src="/content/welcome.jpg"></div>
            <div class="l-col-dsk-4 l-as-row">
                <ul class="breadcrumbs">
                    <li><a href="/">{if $lang == 'en'}Home{else}Главная{/if}</a></li>
                    <li><span>{if $lang == 'en'}Login{else}Вход{/if}</span></li>
                </ul>
                <h1 class="page-headline">{if $lang == 'en'}Login{else}Авторизация{/if}</h1>
                <form action="{link do=userlogin}" id="user-login" method="post" autocomplete="off">
                    <div class="form-group">
                        <label for="reg_phone">{if $lang == 'en'}Your Phone:{else}Ваш телефон: +7...{/if}</label>
                        <input class="form-control" autocomplete="off" id="reg_phone" name="phone" data-validate="validate(required, maxlength(20))" type="text" />
                    </div>
                    <div class="form-group">
                        <label for="reg_code">{if $lang == 'en'}SMS Code:{else}Код СМС:{/if}</label>
                        <input class="form-control" autocomplete="off" type="password" id="reg_code" name="code" maxlength="10" data-validate="validate(required, digits)" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-white">{if $lang == 'en'}Login{else}Вход{/if}</button>
                    </div>
                </form>
                <br/>
                <a class="editdetail" href="{link show=userregister}">{if $lang == 'en'}Register (forgot the password?){else}Регистрация (забыли пароль?){/if}</a>
            </div>
        </div>
    </div>
</div>