{assign var=this value=$UserDetailsControl}
{formrestore id="user-details"}

<div class="gss-userdetails">
    <form action="{link do=usereditdetails}" id="user-details" method="post">
        <input type="hidden" name="id" value="{$actor->id}"/>
        <input type="hidden" name="detailsId" value="{$this.udmObj->id}"/>
        <input type="hidden" name="total" value="{$this.total}"/>

        <h2 class="title">{if $lang == 'en'}Editing Details:{else}Редактирование реквизитов:{/if}</h2>
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label for="company_type">{if $lang == 'en'}Legal status:{else}Юридический статус:{/if}</label>
                    <select class="form-control" id="company_type" name="company_type">
                        <option value="2"{if $this.udmObj->company_type==2} selected="selected"{/if}>{if $lang == 'en'}Legal entity{else}Юридическое лицо{/if}</option>
                        <option value="3"{if $this.udmObj->company_type==3} selected="selected"{/if}>{if $lang == 'en'}Individual entrepreneur{else}Индивидуальный предприниматель{/if}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="company">{if $lang == 'en'}The company's legal name:{else}Юридическое наименование организации:{/if}</label>
                    <input class="form-control" type="text" id="company" name="company" value="{$this.udmObj->company}" maxlength="100" data-validate="validate(required, maxlength(100))"/>
                </div>
                <div class="form-group" style="display:none">
                    <label for="countryName">##country##:</label>
                    <input class="form-control" type="text" id="countryName" name="countryName" value="{if $this.udmObj->countryName}{$this.udmObj->countryName}{else}{$actor->countryName}{/if}" maxlength="100"/>
                </div>
                <div class="form-group" style="display:none">
                    <label for="cityName">##city##:</label>
                    <input class="form-control" type="text" id="cityName" name="cityName" value="{if $this.udmObj->cityName}{$this.udmObj->cityName}{else}{$actor->cityName}{/if}" maxlength="100"/>
                </div>
                <div class="form-group">
                    <label for="inn">##inn##:</label>
                    <input class="form-control" type="text" id="inn" name="inn" value="{$this.udmObj->inn}" maxlength="12"/>
                </div>
                <div class="form-group"{if $this.udmObj->company_type==3} style="display:none"{/if}>
                    <label for="kpp">##kpp##:</label>
                    <input class="form-control" type="text" id="kpp" name="kpp" value="{$this.udmObj->kpp}" maxlength="9"/>
                </div>
                <div class="form-group">
                    <label for="address">{if $lang == 'en'}Postal address:{else}Почтовый адрес:{/if}</label>
                    <input class="form-control" type="text" id="address" name="address" value="{$this.udmObj->address}" maxlength="250"/>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label for="rs">{if $lang == 'en'}Account:{else}Расчетный счет:{/if}</label>
                    <input class="form-control" type="text" id="rs" name="rs" value="{$this.udmObj->rs}" maxlength="20"/>
                </div>
                <div class="form-group">
                    <label for="bank">{if $lang == 'en'}Bank:{else}Банк:{/if}</label>
                    <input class="form-control" type="text" id="bank" name="bank" value="{$this.udmObj->bank}" maxlength="255" />
                </div>
                <div class="form-group">
                    <label for="corr">{if $lang == 'en'}Corr. account:{else}Корреспондентский счёт:{/if}</label>
                    <input class="form-control" type="text" id="corr" name="corr" value="{$this.udmObj->corr}" maxlength="20" />
                </div>
                
                <div class="form-group">
                    <label for="bik">{if $lang == 'en'}BIK:{else}БИК:{/if}</label>
                    <input class="form-control" type="text" id="bik" name="bik" value="{$this.udmObj->bik}" maxlength="9" />
                </div>

                <!--div class="form-group">
                    <label for="director">{if $lang == 'en'}Director of the company:{else}Директор компании:{/if}</label>
                    <input class="form-control" type="text" id="director" name="director" value="{$this.udmObj->director}" maxlength="100" />
                </div-->
                <!--div class="form-group">
                    <label for="buh">{if $lang == 'en'}Chief Accountant:{else}Главный бухгалтер:{/if}</label>
                    <input class="form-control" type="text" id="buh" name="buh" value="{$this.udmObj->buh}" maxlength="100" />
                </div-->
            </div>
        </div>
        {if $lang == 'en'}
        <button type="submit" class="btn btn-black">{if $this.total >0}Bill{else}Save{/if}</button>
        {else}
        <button type="submit" class="btn btn-black">{if $this.total >0}Выставить счёт{else}Сохранить данные{/if}</button>
        {/if}
    </form>
    {if $lang == 'en'}
    <a class="editdetail" href="{link show=usereditprofile}">Editing Profile</a>
    {else}
    <a class="editdetail" href="{link show=usereditprofile}">Редактировать профайл</a>
    {/if}
</div>