{assign var=this value=$UserEditProfileControl}
{formrestore id="user-register"}

<div class="gss-userdetails">
    <form action="{link do=usereditprofile}" id="user-register" method="post">
        <input type="hidden" name="usertype" value="{$this.user->typeId}" />
        <input type="hidden" name="id" value="{$this.user->id}" />
        <h2 class="title">{if $lang == 'en'}Editing Profile{else}Редактирование профиля{/if}:</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="lastname">##lastName##:</label>
                    <input class="form-control" type="text" id="lastname" name="lastname" value="{$this.user->lastname}" maxlength="255" />
                </div>
                <div class="form-group">
                    <label for="name">##name##:</label>
                    <input class="form-control" type="text" id="name" name="name" value="{$this.user->name}" maxlength="255" />
                </div>
                <div class="form-group">
                    <label for="email">##email##:</label>
                    <input class="form-control" type="text" id="email" name="email" value="{$this.user->email}" maxlength="100" />
                </div>
                <div class="form-group">
                    <label for="usertype">{if $lang == 'en'}Account type{else}Тип учётной записи{/if}:</label>
                    <select id="usertype" name="usertype" class="form-control">
                        <option disabled selected style='display:none' value="">##accountType##</option>
                        <option value="8"{if $this.user->typeId == 8} selected{/if}>##workInBar##</option>
                        <option value="9"{if $this.user->typeId == 9} selected{/if}>##workInRestaurant##</option>
                        <option value="10"{if $this.user->typeId == 10} selected{/if}>##workInKitchen##</option>
                        <option value="11"{if $this.user->typeId == 11} selected{/if}>##giveMoney##</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="countryName">##country##:</label>
                    <select class="form-control" id="countryName" name="countryName">
                        <option value="">-- ##country## --</option>
                        {html_options options=$this.country selected=$this.user->countryName}
                    </select>
                </div>
                <div class="form-group">
                    <label for="cityName">##city##:</label>
                    {if $this.user->countryName == 'ru'}
                    <select class="form-control" id="secondCityName">
                        <option value="">-- ##city## --</option>
                        {html_options values=$this.city output=$this.city selected=$this.user->cityName}
                    </select>
                    <input class="form-control" type="text" style="display:none" id="cityName" name="cityName" value="{$this.user->cityName}" maxlength="100" />
                    {else}
                    <select class="form-control" style="display:none" id="secondCityName">
                        <option value="">-- ##city## --</option>
                        {html_options values=$this.city output=$this.city selected=$this.user->cityName}
                    </select>
                    <input class="form-control" {if !$this.user->countryName}disabled{/if} type="text" id="cityName" name="cityName" value="{$this.user->cityName}" maxlength="100" />
                    {/if}
                </div>
                <div class="form-group">
                    <label for="company">##company##:</label>
                    <input class="form-control" type="text" id="company" name="company" value="{$this.user->company}" maxlength="100" />
                </div>
                <div class="form-group">
                    <label for="position">##position##:</label>
                    <input class="form-control" type="text" id="position" name="position" value="{$this.user->position}" maxlength="100" />
                </div>
            </div>
        </div>
        <a href="#" onclick="document.getElementById('user-register').submit(); return false;" class="btn btn-black">{if $lang == 'en'}Save{else}Сохранить данные{/if}</a>
    </form>
    <a class="editdetail" href="{link show=userdetails}">{if $lang == 'en'}Editing details{else}Редактировать реквизиты{/if}</a>
</div>