{assign var=this value=$ViewUserControl}

{loadscript file='/wysibb/theme/default/wbbtheme.css' type='css'}

{loadscript file='/wysibb/jquery.wysibb.min.js' type='js'}
{loadscript file='/wysibb/lang/ru.js' type='js'}
{loadscript file='/js/pages/viewuser.js' type='js'}

<!-- подробная инфа о владельце -->
{if $this.curuser}
<div class="h3">Пользователь</div>
<p>Логин: <b>{$this.curuser->phone}</b>&nbsp;{if $this.ts-$this.curuser->tsOnline < 300}<img src="/images/online.png" width="5" height="5" class="onlineimg" />{/if}</p>
{if $this.curuser->name}<p>Имя: <b>{$this.curuser->name}</b></p>{/if}

{if $this.authorUserObj}
{assign var=authorStatus value=$this.author->status}
<p>Пользователь является Вашим автором в статусе: <b>{$this.authortypes.$authorStatus}</b></p>
{/if}
<form id="sendpvtmessage" name="sendpvtmessage" method="post" action="{link do=sendpvtmessage}">
    <input type="hidden" name="userId" value="{$this.curuser->id}" />
    <textarea id="message" name="message"></textarea><br />
    <button class="comment-button btn btn-black" type="submit">Отправить сообщение</button>
</form>
{else}
<div class="h3">Участник не найден</div>
{if $this.backurl}
<button id="basket-back-button" class="btn btn-black" onclick="window.location.replace('/{$this.backurl}');">Веруться назад</button>
{else}
<button id="basket-back-button" class="btn btn-black" onclick="history.back();">Вернуться назад</button>
{/if}
{/if}
